Repository rerun-io/rerun, pull requests merged in 2023-03, with the labels that each got.

#1450 Improve the docs of `connect` and `serve`
  clippy.toml
  crates/re_sdk/src/session.rs
  crates/re_viewer/src/remote_viewer_app.rs
  rerun_py/rerun_sdk/rerun/__init__.py
Labels: 📖 documentation, 🐍 python API, 🦀 rust SDK

#1461 Remove unnecessary ordered-float
  Cargo.lock
  crates/re_data_store/Cargo.toml
  crates/re_data_store/src/editable_auto_value.rs
  crates/re_data_store/src/entity_properties.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/misc/transform_cache.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
Labels: 📺 re_viewer, 🚜 refactor

#1455 Direct conversion to dynamic image from the non-classic Tensor
  crates/re_viewer/src/misc/caches/tensor_image_cache.rs
Labels: ⛃ re_datastore

#1458 Fix our continuous pre-releases
  clippy.toml
  crates/re_build_info/src/buid_info.rs
  crates/re_build_info/src/crate_version.rs
  crates/re_build_info/src/lib.rs
  crates/re_build_info/src/rust_version.rs
  crates/re_log_types/src/encoding.rs
  scripts/version_util.py
Labels: 🧑‍💻 dev experience, ⛴ release

#1463 Fix re_renderer file watcher watching the same file several times
  crates/re_renderer/src/file_server.rs
  crates/re_sdk/src/file_writer.rs
Labels: 🪳 bug, 🔺 re_renderer

#1464 Log static re_renderer resource generation
  crates/re_renderer/src/wgpu_resources/bind_group_layout_pool.rs
  crates/re_renderer/src/wgpu_resources/pipeline_layout_pool.rs
  crates/re_renderer/src/wgpu_resources/sampler_pool.rs
  crates/re_renderer/src/wgpu_resources/static_resource_pool.rs
  crates/re_renderer/src/wgpu_resources/texture_pool.rs
Labels: 🔺 re_renderer

#1456 Delete ClassicTensor and cleanup
  crates/re_log_types/src/component_types/mod.rs
  crates/re_log_types/src/component_types/tensor.rs
  crates/re_log_types/src/data.rs
  crates/re_tensor_ops/src/lib.rs
  crates/re_tensor_ops/tests/tensor_tests.rs
  crates/re_viewer/src/misc/caches/tensor_image_cache.rs
Labels: 🏹 arrow, ⛃ re_datastore, 🚜 refactor

#1465 EditableAutoValue needs serde
  crates/re_data_store/src/entity_properties.rs
  crates/re_data_store/src/lib.rs
Labels: ⛃ re_datastore

#1466 Switch pre-release action to ncipollo/release-action
  .github/workflows/python.yml
Labels: 🧑‍💻 dev experience

#1453 On M1/M2 recommend `split-debuginfo=unpacked` instead of `split-debuginfo=packed`
  BUILD.md
Labels: 🧑‍💻 dev experience

#1437 Analytics: fix workspace detection
  crates/re_analytics/src/lib.rs
  crates/re_build_build_info/src/lib.rs
  crates/re_build_info/src/buid_info.rs
  crates/re_build_info/src/lib.rs
  crates/re_viewer/src/app.rs
Labels: 🪳 bug, 🛞 build wheels, 📊 analytics

#1050 Speed up fixed-sized array iteration
  crates/re_log_types/src/component_types/mod.rs
  crates/re_log_types/src/datagen.rs
  crates/re_query/benches/query_benchmark.rs
Labels: 🏹 arrow, 📉 performance

#1471 re_renderer: do not silently drop draw phases
  crates/re_renderer/src/view_builder.rs
Labels: 🪳 bug, 🔺 re_renderer

#1473 Fix mesh creation failing to copy index data.
  crates/re_renderer/src/allocator/cpu_write_gpu_read_belt.rs
  crates/re_renderer/src/mesh.rs
Labels: 🔺 re_renderer, 💣 crash

#1415 re_renderer: implement depth cloud renderer
  crates/re_renderer/examples/assets/rerun.obj.zip
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/examples/multiview.rs
  crates/re_renderer/shader/composite.wgsl
  crates/re_renderer/shader/depth_cloud.wgsl
  crates/re_renderer/shader/global_bindings.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
  crates/re_renderer/shader/types.wgsl
  crates/re_renderer/shader/utils/camera.wgsl
  crates/re_renderer/shader/utils/sphere_quad.wgsl
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_renderer/src/renderer/mod.rs
  crates/re_renderer/src/renderer/point_cloud.rs
  crates/re_renderer/src/wgpu_buffer_types.rs
  crates/re_renderer/src/workspace_shaders.rs
Labels: 🔺 re_renderer

#1408 Get rid of time 0.1.* dependency
  Cargo.lock
  crates/re_arrow_store/Cargo.toml
  crates/re_log_types/Cargo.toml
  crates/re_log_types/src/time.rs
  crates/re_query/Cargo.toml
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/misc/format_time.rs
Labels: 🧑‍💻 dev experience

#1481 Use prerelease tag instead of latest and update pointer on prerelease
  .github/workflows/python.yml
Labels: ⛴ release

#1485 Delete the prerelease before creating the new one
  .github/workflows/python.yml
Labels: ⛴ release

#1477 Python SDK: Add strict mode
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/log/annotation.py
  rerun_py/rerun_sdk/rerun/log/arrow.py
  rerun_py/rerun_sdk/rerun/log/bounding_box.py
  rerun_py/rerun_sdk/rerun/log/camera.py
  rerun_py/rerun_sdk/rerun/log/error_utils.py
  rerun_py/rerun_sdk/rerun/log/extension_components.py
  rerun_py/rerun_sdk/rerun/log/file.py
  rerun_py/rerun_sdk/rerun/log/image.py
  rerun_py/rerun_sdk/rerun/log/lines.py
  rerun_py/rerun_sdk/rerun/log/log_decorator.py
  rerun_py/rerun_sdk/rerun/log/mesh.py
  rerun_py/rerun_sdk/rerun/log/points.py
  rerun_py/rerun_sdk/rerun/log/rects.py
  rerun_py/rerun_sdk/rerun/log/scalar.py
  rerun_py/rerun_sdk/rerun/log/tensor.py
  rerun_py/rerun_sdk/rerun/log/text.py
  rerun_py/rerun_sdk/rerun/log/transform.py
  rerun_py/rerun_sdk/rerun/script_helpers.py
  scripts/lint.py
Labels: 🐍 python API

#1488 Internal log_text_entry_internal to break circular deps
  rerun_py/rerun_sdk/rerun/log/__init__.py
  rerun_py/rerun_sdk/rerun/log/error_utils.py
  rerun_py/rerun_sdk/rerun/log/log_decorator.py
  rerun_py/rerun_sdk/rerun/log/text.py
  rerun_py/rerun_sdk/rerun/log/text_internal.py
Labels: 🐍 python API, 🧑‍💻 dev experience, dependencies

#1472 Include date in pre-release version
  scripts/version_util.py
Labels: ⛴ release

#1421 Integrate depth clouds into Rerun
  crates/re_data_store/src/entity_properties.rs
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/shader/depth_cloud.wgsl
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/view_spatial/scene/picking.rs
  crates/re_viewer/src/ui/view_spatial/scene/primitives.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_renderer_bridge.rs
Labels: ui, dogfooding, 📉 performance

#1482 re_renderer: Arrow buffers as (optional) first-class citizen
  Cargo.lock
  crates/re_renderer/Cargo.toml
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/src/lib.rs
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
Labels: enhancement, 🔺 re_renderer, 🏹 arrow, 📉 performance

#1484 CPU & GPU color maps
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/shader/colormap.wgsl
  crates/re_renderer/src/colormap.rs
  crates/re_renderer/src/lib.rs
  crates/re_renderer/src/workspace_shaders.rs
  crates/re_sdk/src/demo_util.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/misc/caches/tensor_image_cache.rs
  crates/re_viewer/src/misc/color_map.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/ui/view_tensor/ui.rs
Labels: ui, 🔺 re_renderer

#1490 Always create new orphaned branch for gh-pages
  .github/workflows/python.yml
Labels: 📖 documentation, 🧑‍💻 dev experience

#1489 Switch release action to ncipollo
  .github/workflows/python.yml
Labels: ⛴ release

#1486 Integrate GPU color maps into depth clouds
  crates/re_data_store/src/entity_properties.rs
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/shader/colormap.wgsl
  crates/re_renderer/shader/depth_cloud.wgsl
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
Labels: ui, 🔺 re_renderer

#1492 Add spell checking to CI
  .github/workflows/typos.yml
  _typos.toml
  ci_docker/publish.sh
  clippy.toml
  crates/re_analytics/Cargo.toml
  crates/re_analytics/src/pipeline_native.rs
  crates/re_arrow_store/src/store.rs
  crates/re_arrow_store/src/store_write.rs
  crates/re_arrow_store/tests/data_store.rs
  crates/re_build_info/src/build_info.rs
  crates/re_build_info/src/lib.rs
  crates/re_log_types/src/component_types/context.rs
  crates/re_log_types/src/path/mod.rs
  crates/re_log_types/src/time.rs
  crates/re_log_types/src/time_range.rs
  crates/re_renderer/shader/depth_cloud.wgsl
  crates/re_renderer/shader/generic_skybox.wgsl
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/shader/utils/camera.wgsl
  crates/re_renderer/src/mesh.rs
  crates/re_renderer/src/point_cloud_builder.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/resource_managers/texture_manager.rs
  crates/re_sdk/src/msg_sender.rs
  crates/re_ui/data/design_tokens.json
  crates/re_ui/src/design_tokens.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/ui/editable_auto_value.rs
  crates/re_viewer/src/ui/time_panel/mod.rs
  crates/re_viewer/src/ui/time_panel/time_ranges_ui.rs
  crates/re_viewer/src/ui/view_spatial/eye.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_time_series/scene.rs
  crates/rerun/src/run.rs
  design/data_model_3.md
  examples/python/colmap/main.py
  examples/python/colmap/read_write_model.py
  examples/python/objectron/proto/a_r_capture_metadata.proto
  examples/python/objectron/proto/object.proto
  examples/python/objectron/proto/objectron/proto.py
  examples/python/tracking_hf_opencv/main.py
  examples/rust/objectron/src/main.rs
  examples/rust/objectron/src/objectron.rs
  rerun_py/docs/gen_common_index.py
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/log/__init__.py
  rerun_py/rerun_sdk/rerun/log/error_utils.py
  rerun_py/rerun_sdk/rerun/script_helpers.py
  scripts/lint.py
Labels: 🧑‍💻 dev experience

#1499 [ci] Separate mac wheels & trigger wheel build from ui
  .github/workflows/python.yml
Labels: 🧑‍💻 dev experience

#1500 Use `cargo update -w` instead of `cargo check` when prepping prerelease
  .github/workflows/python.yml
Labels: 🧑‍💻 dev experience

#1501 Let the release job take care of creating the prerelease tag
  .github/workflows/python.yml
Labels: ⛴ release

#1504 Set prerelease to true even for version-tagged CI job
  .github/workflows/python.yml
Labels: ⛴ release

#1508 Fix `remove_dir_all` RUSTSEC
  Cargo.lock
Labels: 🧑‍💻 dev experience

#1506 Fix web-viewer
  Cargo.lock
  Cargo.toml
  crates/re_analytics/Cargo.toml
Labels: 🪳 bug, 🕸️ web

#1512 Proper rustc & LLVM versions
  crates/re_analytics/src/lib.rs
  crates/re_build_build_info/src/lib.rs
  crates/re_build_info/src/build_info.rs
  crates/re_build_info/src/lib.rs
  crates/re_log_types/src/encoding.rs
  crates/re_log_types/src/lib.rs
  crates/re_sdk/src/session.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/viewer_analytics.rs
  crates/rerun/src/run.rs
Labels: 📊 analytics

#1514 change default web log filter to `warn`
  crates/re_log/src/setup.rs
Labels: 🕸️ web, 💣 crash

#1515 [re_renderer] Fix alignment crash on texture upload from depth_cloud
  crates/re_renderer/src/renderer/depth_cloud.rs
Labels: 🔺 re_renderer, 💣 crash

#1516 Hotfix for `default_enabled` in Python SDK
  rerun_py/src/python_bridge.rs
Labels: 🪳 bug, 🐍 python API

#1507 Refactor: `re_sdk` no longer depends on `re_viewer`
  .github/workflows/typos.yml
  Cargo.lock
  crates/re_analytics/src/lib.rs
  crates/re_build_build_info/src/lib.rs
  crates/re_build_info/src/build_info.rs
  crates/re_build_info/src/lib.rs
  crates/re_log_types/src/encoding.rs
  crates/re_log_types/src/lib.rs
  crates/re_sdk/Cargo.toml
  crates/re_sdk/src/demo_util.rs
  crates/re_sdk/src/file_writer.rs
  crates/re_sdk/src/lib.rs
  crates/re_sdk/src/log_sink.rs
  crates/re_sdk/src/session.rs
  crates/re_sdk_comms/src/buffered_client.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/viewer_analytics.rs
  crates/rerun/Cargo.toml
  crates/rerun/src/clap.rs
  crates/rerun/src/lib.rs
  crates/rerun/src/native_viewer.rs
  crates/rerun/src/run.rs
  crates/rerun/src/web_viewer.rs
  examples/rust/api_demo/src/main.rs
  examples/rust/dna/src/main.rs
  examples/rust/minimal/src/main.rs
  examples/rust/objectron/src/main.rs
  examples/rust/raw_mesh/src/main.rs
  rerun_py/Cargo.toml
  rerun_py/src/python_bridge.rs
  tests/rust/test_image_memory/src/main.rs
Labels: 🦀 rust SDK, dogfooding, 📺 re_viewer

#1505 Update changelog for release 0.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASES.md
  _typos.toml
  crates/re_build_build_info/README.md
  crates/re_build_info/README.md
  scripts/publish_crates.sh
Labels: ⛴ release

#1502 Very simple example streaming from an opencv camera
  examples/python/opencv_canny/main.py
  examples/python/opencv_canny/requirements.txt
Labels: examples

#1519 Final version bump for 0.3.0
  Cargo.lock
  Cargo.toml
Labels: ⛴ release

#1518 Release 0.3.0 merge
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASES.md
  _typos.toml
  crates/re_build_build_info/README.md
  crates/re_build_info/README.md
  scripts/publish_crates.sh
Labels: ⛴ release

#1521 fix web feature name in error messages
  crates/rerun/src/run.rs
  rerun_py/src/python_bridge.rs
Labels: 📺 re_viewer, 😤 annoying, 🚜 refactor

#1523 Initial TurtleBot subscriber demo
  .mypy.ini
  examples/python/ros/README.md
  examples/python/ros/main.py
  examples/python/ros/requirements.txt
  examples/python/ros/rerun_urdf.py
Labels: examples

#1528 Refactor `re_sdk::Session`
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  crates/re_analytics/Cargo.toml
  crates/re_arrow_store/Cargo.toml
  crates/re_data_store/Cargo.toml
  crates/re_log/Cargo.toml
  crates/re_log_types/Cargo.toml
  crates/re_log_types/src/component_types/text_entry.rs
  crates/re_log_types/src/encoding.rs
  crates/re_memory/Cargo.toml
  crates/re_renderer/Cargo.toml
  crates/re_sdk/Cargo.toml
  crates/re_sdk/src/file_sink.rs
  crates/re_sdk/src/file_writer.rs
  crates/re_sdk/src/global.rs
  crates/re_sdk/src/lib.rs
  crates/re_sdk/src/log_sink.rs
  crates/re_sdk/src/msg_sender.rs
  crates/re_sdk/src/session.rs
  crates/re_sdk_comms/Cargo.toml
  crates/re_sdk_comms/src/buffered_client.rs
  crates/re_sdk_comms/src/tcp_client.rs
  crates/re_string_interner/Cargo.toml
  crates/re_tensor_ops/Cargo.toml
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/app.rs
  crates/rerun/Cargo.toml
  crates/rerun/src/clap.rs
  crates/rerun/src/crash_handler.rs
  crates/rerun/src/lib.rs
  crates/rerun/src/native_viewer.rs
  crates/rerun/src/run.rs
  crates/rerun/src/web_viewer.rs
  examples/rust/api_demo/src/main.rs
  examples/rust/dna/src/main.rs
  examples/rust/minimal/src/main.rs
  examples/rust/objectron/src/main.rs
  examples/rust/raw_mesh/src/main.rs
  justfile
  rerun_py/Cargo.toml
  rerun_py/rerun_sdk/rerun/components/text_entry.py
  rerun_py/rerun_sdk/rerun/script_helpers.py
  rerun_py/src/lib.rs
  rerun_py/src/python_bridge.rs
  rerun_py/src/python_session.rs
  scripts/lint.py
  scripts/setup_dev.sh
  tests/rust/test_image_memory/src/main.rs
Labels: 🦀 rust SDK

#1541 Update `rayon`
  Cargo.lock
  crates/re_log_types/Cargo.toml
  crates/re_viewer/Cargo.toml
  rerun_py/Cargo.toml
Labels: 🧑‍💻 dev experience

#1546 Add re_arrow_store profile scopes
  crates/re_arrow_store/src/store_read.rs
  crates/re_arrow_store/src/store_stats.rs
Labels: ⛃ re_datastore, 📉 performance

#1540 Use outlines for mesh selections instead of highlight colors
  crates/re_renderer/examples/outlines.rs
  crates/re_renderer/shader/outlines/outlines_from_voronoi.wgsl
  crates/re_renderer/src/renderer/mesh_renderer.rs
  crates/re_renderer/src/renderer/outlines.rs
  crates/re_viewer/src/misc/selection_state.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/picking.rs
  crates/re_viewer/src/ui/view_spatial/scene/primitives.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/arrows3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/boxes2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/boxes3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/meshes.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points3d.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
Labels: 🔺 re_renderer, 📺 re_viewer

#1535 datastore: disable compaction (fixes 2x memory issue)
  crates/re_arrow_store/src/store.rs
  crates/re_arrow_store/src/store_write.rs
  crates/re_arrow_store/src/test_util.rs
Labels: 🪳 bug, ⛃ re_datastore

#1554 datastore: early exit missing components at table level
  crates/re_arrow_store/benches/data_store.rs
  crates/re_arrow_store/src/store_read.rs
Labels: ⛃ re_datastore, 📉 performance

#1555 datastore: track bucket count in store stats & mem panel
  crates/re_arrow_store/src/store_stats.rs
  crates/re_viewer/src/ui/memory_panel.rs
Labels: 🧑‍💻 dev experience, ⛃ re_datastore, 📉 performance

#1558 LogDb: dont split on index bucket size
  crates/re_data_store/src/log_db.rs
Labels: ⛃ re_datastore, 📉 performance

#1552 Fix combining outline mask for selection & hover
  crates/re_renderer/src/renderer/outlines.rs
  crates/re_viewer/src/misc/selection_state.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/meshes.rs
Labels: ui, 📺 re_viewer

#1553 Implement outlines for line renderer & use them for select & hover of "line-like" primitives in Viewer
  Cargo.lock
  Cargo.toml
  crates/re_renderer/Cargo.toml
  crates/re_renderer/examples/outlines.rs
  crates/re_renderer/shader/instanced_mesh.wgsl
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/shader/mesh_vertex.wgsl
  crates/re_renderer/src/allocator/uniform_buffer_fill.rs
  crates/re_renderer/src/line_strip_builder.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/mesh_renderer.rs
  crates/re_renderer/src/renderer/mod.rs
  crates/re_renderer/src/renderer/outlines.rs
  crates/re_renderer/src/wgpu_buffer_types.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/selection_state.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/picking.rs
  crates/re_viewer/src/ui/view_spatial/scene/primitives.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/arrows3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/boxes2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/boxes3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/meshes.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
Labels: 🔺 re_renderer, 📺 re_viewer

#1559 Implement outlines for rectangles & use them for select & hover of image primitives in Viewer
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/shader/rectangle.wgsl
  crates/re_renderer/src/renderer/rectangles.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
Labels: ui, 🔺 re_renderer

#1567 Add missing profiling scopes in re_renderer
  crates/re_renderer/src/allocator/cpu_write_gpu_read_belt.rs
  crates/re_renderer/src/context.rs
  crates/re_renderer/src/view_builder.rs
  crates/re_renderer/src/wgpu_resources/dynamic_resource_pool.rs
  crates/re_renderer/src/wgpu_resources/render_pipeline_pool.rs
  crates/re_renderer/src/wgpu_resources/static_resource_pool.rs
Labels: 🔺 re_renderer, 🧑‍💻 dev experience

#1550 Introduce a simpler cache dedicated to just decode JPEGs
  Cargo.lock
  crates/re_log_types/src/component_types/arrow_convert_shims.rs
  crates/re_log_types/src/component_types/mod.rs
  crates/re_log_types/src/component_types/tensor.rs
  crates/re_tensor_ops/tests/tensor_tests.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/misc/caches/mod.rs
  crates/re_viewer/src/misc/caches/tensor_decode_cache.rs
  crates/re_viewer/src/misc/caches/tensor_image_cache.rs
  crates/re_viewer/src/ui/data_ui/image.rs
  crates/re_viewer/src/ui/view_bar_chart/ui.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  rerun_py/src/python_bridge.rs
Labels: 📉 performance

#1565 Link to the Python SDK build instructions in `rerun_py/README.md`
  ARCHITECTURE.md
  BUILD.md
  CONTRIBUTING.md
  README.md
Labels: 🧑‍💻 dev experience

#1560 Fix garbage collection
  crates/re_arrow_store/src/store_gc.rs
  crates/re_data_store/src/log_db.rs
Labels: 🪳 bug, ⛃ re_datastore, 📉 performance

#1568 Implement outlines for points 2d/3d/depth & use them for select & hover in Viewer
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/shader/depth_cloud.wgsl
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
  crates/re_renderer/shader/utils/sphere_quad.wgsl
  crates/re_renderer/src/point_cloud_builder.rs
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/mesh_renderer.rs
  crates/re_renderer/src/renderer/point_cloud.rs
  crates/re_renderer/src/renderer/rectangles.rs
  crates/re_renderer/src/wgpu_buffer_types.rs
  crates/re_viewer/src/misc/selection_state.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points3d.rs
Labels: 🔺 re_renderer, 📺 re_viewer, 📉 performance

#1564 Analytics: don't spam warning when there is an HTTP connection problem
  crates/re_analytics/src/pipeline_native.rs
  crates/re_analytics/src/sink_native.rs
Labels: 📊 analytics

#1563 Remove sensitive data from analytics
  crates/re_analytics/src/lib.rs
  crates/rerun/src/crash_handler.rs
Labels: 🪳 bug, 📊 analytics

#1576 Release 0.3.1 merge
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: ⛴ release

#1479 Remove duplicated 'nix' crate
  Cargo.lock
  deny.toml
  scripts/check.sh
Labels: 🧑‍💻 dev experience

#1551 Simplify ImageCache
  crates/re_log_types/src/data.rs
  crates/re_renderer/src/resource_managers/texture_manager.rs
  crates/re_viewer/src/misc/caches/mod.rs
  crates/re_viewer/src/misc/caches/tensor_image_cache.rs
  crates/re_viewer/src/ui/data_ui/image.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
Labels: 📉 performance

#1577 Avoid using undefined extern "C" on windows
  crates/re_log_types/src/component_types/arrow_convert_shims.rs
  crates/re_log_types/src/component_types/mod.rs
Labels: 🪳 bug

#1557 New time panel density graph
  Cargo.lock
  Cargo.toml
  Cranky.toml
  crates/re_data_store/Cargo.toml
  crates/re_data_store/src/entity_tree.rs
  crates/re_int_histogram/src/tree.rs
  crates/re_int_histogram/tests/snapshots/memory_test__Int64Histogram.snap
  crates/re_log_types/src/lib.rs
  crates/re_log_types/src/time_point/time_int.rs
  crates/re_log_types/src/time_range.rs
  crates/re_log_types/src/time_real.rs
  crates/re_viewer/src/misc/item.rs
  crates/re_viewer/src/misc/viewer_context.rs
  crates/re_viewer/src/ui/time_panel/ball_scatterer.rs
  crates/re_viewer/src/ui/time_panel/data_density_graph.rs
  crates/re_viewer/src/ui/time_panel/mod.rs
  crates/re_viewer/src/ui/time_panel/time_axis.rs
  crates/re_viewer/src/ui/time_panel/time_ranges_ui.rs
  crates/re_web_viewer_server/src/lib.rs
  crates/re_web_viewer_server/src/main.rs
  examples/rust/objectron/src/main.rs
  scripts/publish_crates.sh
Labels: 📺 re_viewer, 📉 performance

#1579 Fix crsh on decoding old .rrd files
  crates/re_data_store/examples/memory_usage.rs
  crates/re_log_types/benches/msg_encode_benchmark.rs
  crates/re_log_types/src/encoding.rs
  crates/rerun/src/run.rs
Labels: 📺 re_viewer, 💣 crash

#1566 Better MsgId format
  crates/re_log_types/src/component_types/msg_id.rs
  crates/re_tuid/src/lib.rs
Labels: 🧑‍💻 dev experience

#1549 datastore: stabilize dataframe sorts
  crates/re_arrow_store/src/store_polars.rs
Labels: 🪳 bug, ⛃ re_datastore, 😤 annoying

#1572 Lint vertical spacing in Rust code
  crates/re_data_store/src/entity_properties.rs
  crates/re_log_types/src/component_types/arrow_convert_shims.rs
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/src/allocator/uniform_buffer_fill.rs
  crates/re_renderer/src/renderer/mesh_renderer.rs
  crates/re_renderer/src/renderer/outlines.rs
  crates/re_renderer/src/wgpu_resources/dynamic_resource_pool.rs
  crates/re_renderer/src/wgpu_resources/texture_pool.rs
  crates/re_viewer/src/remote_viewer_app.rs
  crates/re_viewer/src/ui/view_spatial/ui_renderer_bridge.rs
  examples/rust/api_demo/src/main.rs
  examples/rust/objectron/src/main.rs
  scripts/lint.py
Labels: 🧑‍💻 dev experience, 🛑 controversial

#1590 Use `log` as our log backend instead of `tracing`
  Cargo.lock
  Cargo.toml
  crates/re_analytics/Cargo.toml
  crates/re_analytics/examples/end_to_end.rs
  crates/re_log/Cargo.toml
  crates/re_log/src/lib.rs
  crates/re_log/src/log_web.rs
  crates/re_log/src/setup.rs
  crates/re_renderer/Cargo.toml
  crates/re_renderer/src/wgpu_resources/dynamic_resource_pool.rs
  crates/re_renderer/src/wgpu_resources/static_resource_pool.rs
  crates/re_viewer/Cargo.toml
Labels: 🕸️ web, 🧑‍💻 dev experience

#1594 Stop using infinities in wgsl shaders
  crates/re_renderer/shader/global_bindings.wgsl
  crates/re_renderer/shader/outlines/jumpflooding_init_shared.wgsl
  crates/re_renderer/shader/outlines/jumpflooding_step.wgsl
  crates/re_renderer/shader/types.wgsl
  crates/re_renderer/shader/utils/camera.wgsl
  crates/re_renderer/shader/utils/size.wgsl
  crates/re_renderer/src/global_bindings.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/size.rs
  crates/re_renderer/src/view_builder.rs
Labels: 🪳 bug, 🕸️ web, 🔺 re_renderer

#1604 CI: Replace wasm_bindgen_check.sh with actually building the web-viewer
  .github/workflows/rust.yml
  scripts/check.sh
  scripts/wasm_bindgen_check.sh
Labels: 🧑‍💻 dev experience

#1602 Set correct MIME types in re_web_viewer_server
  crates/re_web_viewer_server/src/lib.rs
Labels: 🕸️ web

#1605 Use a patched wasm-bindgen-cli with fix for 2GiB bug
  .github/workflows/python.yml
  .github/workflows/rust.yml
  ci_docker/Dockerfile
  ci_docker/publish.sh
  scripts/setup_web.sh
Labels: 🕸️ web

#1609 Misc: make example in `log_pinhole` runable
  rerun_py/rerun_sdk/rerun/log/camera.py
Labels: 📖 documentation

#1603 Show log messages in egui toast notifications
  CODE_STYLE.md
  Cargo.lock
  crates/re_analytics/src/pipeline_native.rs
  crates/re_analytics/src/sink_native.rs
  crates/re_log/Cargo.toml
  crates/re_log/src/channel_logger.rs
  crates/re_log/src/lib.rs
  crates/re_log/src/multi_logger.rs
  crates/re_log/src/setup.rs
  crates/re_log/src/web_logger.rs
  crates/re_viewer/src/app.rs
Labels: ui, 📺 re_viewer

#1625 datastore: split out formatting & sanity checks in their own modules
  crates/re_arrow_store/src/lib.rs
  crates/re_arrow_store/src/store.rs
  crates/re_arrow_store/src/store_format.rs
  crates/re_arrow_store/src/store_sanity.rs
Labels: enhancement, 🧑‍💻 dev experience, ⛃ re_datastore

#1626 Don't call wgpu::Device::poll on the web.
  crates/re_renderer/src/context.rs
Labels: 🕸️ web, 🔺 re_renderer

#1606 Upload web viewer to a bucket
  .github/workflows/rust.yml
Labels: 🕸️ web

#1631 Bump delete-tag-and-release to v0.2.1
  .github/workflows/python.yml
Labels: ⛴ release

#1622 Print our own callstack on panics
  crates/rerun/src/crash_handler.rs
Labels: enhancement, 🧑‍💻 dev experience, 💣 crash

#1628 Run clippy for wasm, with own clippy.toml config file
  .github/workflows/rust.yml
  .github/workflows/toml.yml
  BUILD.md
  Cranky.toml
  ci_docker/Dockerfile
  ci_docker/publish.sh
  clippy.toml
  clippy_wasm/clippy.toml
  crates/re_arrow_store/src/store_format.rs
  crates/re_log/src/setup.rs
  crates/re_viewer/src/stream_rrd_from_http.rs
  crates/re_viewer/src/ui/data_ui/image.rs
  rerun_py/README.md
  rust-toolchain
  scripts/clippy_wasm.sh
  scripts/setup.sh
Labels: 🧑‍💻 dev experience

#1632 Revert "Handle ctrl+c to gracefully shutdown the server(s)"
  Cargo.lock
  Cargo.toml
  crates/re_sdk_comms/Cargo.toml
  crates/re_sdk_comms/src/server.rs
  crates/re_viewer/Cargo.toml
  crates/re_web_viewer_server/Cargo.toml
  crates/re_web_viewer_server/src/lib.rs
  crates/re_web_viewer_server/src/main.rs
  crates/re_ws_comms/src/server.rs
  crates/rerun/Cargo.toml
  crates/rerun/src/clap.rs
  crates/rerun/src/run.rs
  crates/rerun/src/web_viewer.rs
  rerun_py/rerun_sdk/rerun/script_helpers.py
  rerun_py/src/python_bridge.rs
Labels: 📺 re_viewer

#1629 Merge final outline render into composite step in order to fix blending
  crates/re_renderer/shader/composite.wgsl
  crates/re_renderer/shader/outlines/outlines_from_voronoi.wgsl
  crates/re_renderer/src/file_server.rs
  crates/re_renderer/src/renderer/compositor.rs
  crates/re_renderer/src/renderer/mod.rs
  crates/re_renderer/src/renderer/outlines.rs
  crates/re_renderer/src/view_builder.rs
  crates/re_renderer/src/workspace_shaders.rs
Labels: 🔺 re_renderer

#1635 Update tokio v1.24.1 -> v1.26.0
  Cargo.lock
  deny.toml
Labels: 🧑‍💻 dev experience

#1637 Fix remove tooltip between entities and groups being swapped.
  crates/re_viewer/src/ui/viewport.rs
Labels: 🪳 bug, 📺 re_viewer

#1643 Don't hover things in 2D/3D views if we are dragging something
  crates/re_ui/src/egui_helpers.rs
  crates/re_ui/src/lib.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
Labels: ui, 📺 re_viewer

#1646 Fix requiring requiring focus for shutdown via ctrl+c when starting viewer from command line
  crates/rerun/src/run.rs
Labels: 🪳 bug, 📺 re_viewer, 🦟 regression

#1652 Fix eye spin after eye reset
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
Labels: 📺 re_viewer

#1657 renderer: fix the groupby logic in mesh instancing
  crates/re_renderer/src/renderer/mesh_renderer.rs
  crates/re_renderer/src/resource_managers/resource_manager.rs
Labels: 🔺 re_renderer

#1641 Don't show 2D labels in 3D space views.
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
Labels: 🪳 bug, 📺 re_viewer

#1659 Allow rolling 3D camera with primary mouse button + alt modifier
  crates/re_viewer/src/ui/view_spatial/eye.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
Labels: enhancement, ui, 📺 re_viewer

#1656 More eager GC, and remove `--fast-math` optimization for wasm
  crates/re_build_web_viewer/src/lib.rs
  crates/re_renderer/shader/rectangle.wgsl
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/stream_rrd_from_http.rs
  examples/python/dna/main.py
  examples/python/minimal/main.py
  examples/rust/api_demo/src/main.rs
  scripts/lint.py
Labels: 📺 re_viewer, examples

#1661 Fix Z fighting with improved depth offset math
  crates/re_renderer/shader/global_bindings.wgsl
  crates/re_renderer/shader/utils/depth_offset.wgsl
  crates/re_renderer/src/global_bindings.rs
  crates/re_renderer/src/view_builder.rs
Labels: 🔺 re_renderer, 📺 re_viewer

#1653 Name space views after the space and indicate duplicate names
  crates/re_viewer/src/ui/space_view.rs
  crates/re_viewer/src/ui/viewport.rs
Labels: ui

#1663 Make `log_point` more forgiving and update docstring
  rerun_py/rerun_sdk/rerun/log/points.py
Labels: 🐍 python API

#1655 Detect failure to install GUI log callback
  crates/re_log/src/lib.rs
  crates/re_log/src/multi_logger.rs
  crates/re_log/src/setup.rs
  crates/re_ui/examples/re_ui_example.rs
  crates/re_viewer/src/app.rs
Labels: 📺 re_viewer

#1662 Add `rerun --save`: stream incoming log stream to an rrd file
  crates/re_log_types/src/encoding.rs
  crates/re_smart_channel/src/lib.rs
  crates/rerun/src/run.rs
Labels: enhancement

#1664 Use hostname for default websocket address
  crates/re_viewer/src/web.rs
  crates/re_ws_comms/src/lib.rs
  crates/rerun/src/run.rs
  crates/rerun/src/web_viewer.rs
Labels: 🕸️ web

#1651 Warn when most of the RAM has been used up by Rerun
  Cargo.lock
  crates/re_memory/Cargo.toml
  crates/re_memory/src/lib.rs
  crates/re_memory/src/ram_warner.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/web.rs
Labels: 📺 re_viewer

#1668 Fix outlines being offset diagonally by about half a pixel
  crates/re_renderer/shader/composite.wgsl
  crates/re_renderer/shader/outlines/jumpflooding_step.wgsl
Labels: 🔺 re_renderer

#1674 Add banner about mobile browsers being unsupported
  crates/re_viewer/src/app.rs
Labels: ui

#1675 Add analytics to the hosted index.html
  web_viewer/index.html
Labels: 🕸️ web

#1676 Always upload latest prerelease to a dedicated prefix
  .github/workflows/python.yml
  .github/workflows/rust.yml
Labels: 🕸️ web, 🧑‍💻 dev experience

#1671 Add support for mesh vertex colors
  crates/re_log_types/src/component_types/color.rs
  crates/re_log_types/src/component_types/mesh3d.rs
  crates/re_renderer/shader/instanced_mesh.wgsl
  crates/re_renderer/shader/mesh_vertex.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
  crates/re_renderer/src/color.rs
  crates/re_renderer/src/colormap.rs
  crates/re_renderer/src/importer/gltf.rs
  crates/re_renderer/src/importer/obj.rs
  crates/re_renderer/src/lib.rs
  crates/re_renderer/src/mesh.rs
  crates/re_renderer/src/renderer/mesh_renderer.rs
  crates/re_renderer/src/resource_managers/resource_manager.rs
  crates/re_renderer/src/wgpu_resources/render_pipeline_pool.rs
  crates/re_viewer/src/misc/mesh_loader.rs
  examples/python/api_demo/main.py
  examples/rust/raw_mesh/src/main.rs
  rerun_py/rerun_sdk/rerun/log/__init__.py
  rerun_py/rerun_sdk/rerun/log/file.py
  rerun_py/rerun_sdk/rerun/log/mesh.py
  rerun_py/src/python_bridge.rs
Labels: 🐍 python API, 🔺 re_renderer, 🦀 rust SDK, 📺 re_viewer

#1678 Allow url param override on app.rerun.io
  web_viewer/index.html
Labels: 🕸️ web

#1680 Fix logging meshes without colors
  examples/python/raw_mesh/requirements.txt
  rerun_py/rerun_sdk/rerun/log/mesh.py
Labels: 🐍 python API, 🦟 regression

#1683 Improve ui for tensors and color map selection
  crates/re_data_store/src/entity_properties.rs
  crates/re_log_types/src/component_types/arrow_convert_shims.rs
  crates/re_viewer/src/ui/data_ui/image.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_tensor/ui.rs
Labels: ui, 📺 re_viewer

#1677 Show the git commit in the about section in pre-release builds
  .github/workflows/python.yml
  .github/workflows/rust.yml
  crates/re_build_info/src/crate_version.rs
  crates/re_viewer/src/app.rs
Labels: 🕸️ web, 🧑‍💻 dev experience

#1685 Only show the mobile OS warning banner on web
  crates/re_viewer/src/app.rs
Labels: ui

#1682 Update wgpu to v0.15.3
  Cargo.lock
  Cargo.toml
  crates/re_renderer/Cargo.toml
  crates/re_renderer/src/config.rs
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/point_cloud.rs
Labels: 🪳 bug, 🕸️ web

#1688 Update the web icon
  crates/re_web_viewer_server/src/lib.rs
  web_viewer/favicon.ico
  web_viewer/favicon.svg
  web_viewer/icon-256.png
  web_viewer/index.html
  web_viewer/index_bundled.html
Labels: 🕸️ web

#1667 Size boosted outlines for points & lines, color & size tweaking
  crates/re_renderer/examples/2d.rs
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/examples/multiview.rs
  crates/re_renderer/shader/depth_cloud.wgsl
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
  crates/re_renderer/shader/utils/size.wgsl
  crates/re_renderer/shader/utils/sphere_quad.wgsl
  crates/re_renderer/src/line_strip_builder.rs
  crates/re_renderer/src/point_cloud_builder.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/point_cloud.rs
  crates/re_viewer/src/ui/view_spatial/scene/picking.rs
  crates/re_viewer/src/ui/view_spatial/scene/primitives.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
Labels: 🔺 re_renderer, 📺 re_viewer

#1691 Refactor the Arrow Mesh3D type to use zero-copy Buffers
  crates/re_log_types/src/component_types/mesh3d.rs
  crates/re_viewer/src/misc/mesh_loader.rs
  examples/rust/raw_mesh/src/main.rs
  rerun_py/src/python_bridge.rs
Labels: 📉 performance

#1698 Add a workflow input for running benchmarks manually
  .github/workflows/rust.yml
Labels: 🧑‍💻 dev experience

#1700 Add missing } to fix rust workflow
  .github/workflows/rust.yml
Labels: 🧑‍💻 dev experience

#1699 Fix web crash on missing uniform buffer padding
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
Labels: 🔺 re_renderer, 🦟 regression

#1595 RFC: component-datatype conversions
  .github/workflows/labels.yml
  design/component_datatypes.md
Labels: 💬 discussion

#1582 RFC: pre-proposal for blueprint store
  design/blueprint_store.md
  design/data_model_3.md
Labels: 💬 discussion

#1690 Improve the depth backprojection feature
  CHANGELOG.md
  crates/re_data_store/src/entity_properties.rs
  crates/re_log_types/src/data.rs
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/shader/colormap.wgsl
  crates/re_renderer/shader/depth_cloud.wgsl
  crates/re_renderer/shader/utils/sphere_quad.wgsl
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_viewer/src/misc/caches/tensor_image_cache.rs
  crates/re_viewer/src/ui/data_ui/image.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
Labels: ui, 🔺 re_renderer, 📺 re_viewer

#1706 Default point radius to 1.5 ui points
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
Labels: 📺 re_viewer

#1707 When streaming an rrd from http: play it, don't follow it
  crates/re_viewer/src/app.rs
Labels: 📺 re_viewer

#1709 Fix `memory_usage` example relying on implicit recursive features
  crates/re_data_store/Cargo.toml
Labels: 🪳 bug, 🧑‍💻 dev experience, 😤 annoying

#1705 Swap overlay order of selection & hover outlines
  crates/re_viewer/src/misc/selection_state.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
Labels: ui, 📺 re_viewer

#1689 Make CpuWriteGpuReadBelt texture copies easier/less error prone
  crates/re_renderer/src/allocator/cpu_write_gpu_read_belt.rs
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_renderer/src/renderer/point_cloud.rs
Labels: 🔺 re_renderer

#1713 Add radius boost for depth clouds on outline
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/shader/depth_cloud.wgsl
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
  crates/re_renderer/shader/utils/sphere_quad.wgsl
  crates/re_renderer/src/line_strip_builder.rs
  crates/re_renderer/src/point_cloud_builder.rs
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/mod.rs
  crates/re_renderer/src/renderer/point_cloud.rs
  crates/re_viewer/src/ui/view_spatial/scene/primitives.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
Labels: ui, 🔺 re_renderer

#1673 batching 3: `DataRow` & `DataTable` + no bundles outside of transport
  crates/re_arrow_store/benches/data_store.rs
  crates/re_arrow_store/examples/dump_dataframe.rs
  crates/re_arrow_store/examples/latest_component.rs
  crates/re_arrow_store/examples/latest_components.rs
  crates/re_arrow_store/examples/range_components.rs
  crates/re_arrow_store/src/store_polars.rs
  crates/re_arrow_store/src/store_write.rs
  crates/re_arrow_store/src/test_util.rs
  crates/re_arrow_store/tests/correctness.rs
  crates/re_arrow_store/tests/data_store.rs
  crates/re_arrow_store/tests/internals.rs
  crates/re_data_store/examples/memory_usage.rs
  crates/re_data_store/src/log_db.rs
  crates/re_log_types/benches/msg_encode_benchmark.rs
  crates/re_log_types/src/arrow_msg.rs
  crates/re_log_types/src/component_types/tensor.rs
  crates/re_log_types/src/data_cell.rs
  crates/re_log_types/src/data_row.rs
  crates/re_log_types/src/data_table.rs
  crates/re_log_types/src/lib.rs
  crates/re_log_types/src/msg_bundle.rs
  crates/re_query/benches/query_benchmark.rs
  crates/re_query/examples/range.rs
  crates/re_query/src/query.rs
  crates/re_query/tests/query_tests.rs
  crates/re_query/tests/range_tests.rs
  crates/re_sdk/src/msg_sender.rs
  rerun_py/src/arrow.rs
  rerun_py/src/python_bridge.rs
Labels: 🐍 python API, 🏹 arrow, 🦀 rust SDK, ⛃ re_datastore, 📉 performance

#1716 Fix CpuWriteGpuReadBelt producing unaligned gpu buffer offsets
  crates/re_renderer/src/allocator/cpu_write_gpu_read_belt.rs
Labels: 🪳 bug, 🔺 re_renderer

#1720 Fix arrows requiring a radius to be visible
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/src/line_strip_builder.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/arrows3d.rs
Labels: 🪳 bug, 🔺 re_renderer, 📺 re_viewer

#1724 Fix broken outlines (hover/select effect) for lines
  crates/re_renderer/shader/lines.wgsl
Labels: 🪳 bug, 🔺 re_renderer

#1722 Release 0.4.0 - Outlines, web viewer and performance improvements
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/rerun/src/run.rs
  examples/README.md
  examples/python/README.md
  scripts/generate_changelog.py
Labels: ⛴ release

#1679 batching 4: retire `MsgBundle` + batching support in transport layer
  Cargo.lock
  crates/re_data_store/examples/memory_usage.rs
  crates/re_data_store/src/lib.rs
  crates/re_data_store/src/log_db.rs
  crates/re_log_types/Cargo.toml
  crates/re_log_types/benches/msg_encode_benchmark.rs
  crates/re_log_types/src/arrow_msg.rs
  crates/re_log_types/src/component_types/msg_id.rs
  crates/re_log_types/src/data_cell.rs
  crates/re_log_types/src/data_row.rs
  crates/re_log_types/src/data_table.rs
  crates/re_log_types/src/lib.rs
  crates/re_log_types/src/msg_bundle.rs
  crates/re_log_types/src/path/entity_path.rs
  crates/re_log_types/src/time_point/mod.rs
  crates/re_sdk/src/lib.rs
  crates/re_sdk/src/msg_sender.rs
  crates/re_sdk_comms/src/server.rs
  crates/re_tuid/src/lib.rs
  crates/re_viewer/src/ui/data_ui/log_msg.rs
  crates/re_viewer/src/ui/event_log_view.rs
  rerun_py/src/arrow.rs
  rerun_py/src/python_bridge.rs
Labels: enhancement, 🏹 arrow, ⛃ re_datastore, 📉 performance

#1717 Central GpuReadback handling for re_viewer, experimental space view screenshots
  .vscode/settings.json
  crates/re_renderer/src/view_builder.rs
  crates/re_renderer/src/wgpu_resources/mod.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/misc/app_options.rs
  crates/re_viewer/src/misc/gpu_readbacks.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/viewer_context.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
  crates/re_viewer/src/ui/view_spatial/ui_renderer_bridge.rs
  crates/re_viewer/src/ui/viewport.rs
Labels: enhancement, 📺 re_viewer

#1721 GPU based picking with points
  crates/re_renderer/examples/framework.rs
  crates/re_renderer/examples/multiview.rs
  crates/re_renderer/examples/outlines.rs
  crates/re_renderer/examples/picking.rs
  crates/re_renderer/shader/debug_overlay.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
  crates/re_renderer/src/allocator/cpu_write_gpu_read_belt.rs
  crates/re_renderer/src/allocator/gpu_readback_belt.rs
  crates/re_renderer/src/draw_phases/mod.rs
  crates/re_renderer/src/draw_phases/outlines.rs
  crates/re_renderer/src/draw_phases/picking_layer.rs
  crates/re_renderer/src/global_bindings.rs
  crates/re_renderer/src/importer/gltf.rs
  crates/re_renderer/src/importer/obj.rs
  crates/re_renderer/src/lib.rs
  crates/re_renderer/src/line_strip_builder.rs
  crates/re_renderer/src/point_cloud_builder.rs
  crates/re_renderer/src/rect.rs
  crates/re_renderer/src/renderer/compositor.rs
  crates/re_renderer/src/renderer/debug_overlay.rs
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_renderer/src/renderer/generic_skybox.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/mesh_renderer.rs
  crates/re_renderer/src/renderer/mod.rs
  crates/re_renderer/src/renderer/point_cloud.rs
  crates/re_renderer/src/renderer/rectangles.rs
  crates/re_renderer/src/resource_managers/texture_manager.rs
  crates/re_renderer/src/view_builder.rs
  crates/re_renderer/src/wgpu_buffer_types.rs
  crates/re_renderer/src/wgpu_resources/mod.rs
  crates/re_renderer/src/workspace_shaders.rs
  crates/re_viewer/src/misc/mesh_loader.rs
  crates/re_viewer/src/misc/selection_state.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/viewport.rs
Labels: 🔺 re_renderer

#1731 improved renderer label handling
  crates/re_renderer/src/allocator/cpu_write_gpu_read_belt.rs
  crates/re_renderer/src/allocator/gpu_readback_belt.rs
  crates/re_renderer/src/debug_label.rs
  crates/re_renderer/src/draw_phases/outlines.rs
  crates/re_renderer/src/draw_phases/picking_layer.rs
  crates/re_renderer/src/global_bindings.rs
  crates/re_renderer/src/mesh.rs
  crates/re_renderer/src/renderer/compositor.rs
  crates/re_renderer/src/renderer/debug_overlay.rs
  crates/re_renderer/src/renderer/depth_cloud.rs
  crates/re_renderer/src/renderer/generic_skybox.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/mesh_renderer.rs
  crates/re_renderer/src/renderer/mod.rs
  crates/re_renderer/src/renderer/point_cloud.rs
  crates/re_renderer/src/renderer/rectangles.rs
  crates/re_renderer/src/renderer/test_triangle.rs
  crates/re_renderer/src/view_builder.rs
  crates/re_renderer/src/wgpu_resources/shader_module_pool.rs
  crates/re_renderer/src/wgpu_resources/texture_pool.rs
Labels: 🔺 re_renderer, 🧑‍💻 dev experience

#1733 Datastore: revamp bench suite
  crates/re_arrow_store/benches/data_store.rs
Labels: ⛃ re_datastore, 📉 performance

#1725 Make CI publish `latest` tagged web-viewer to `app.rerun.io`
  .github/workflows/python.yml
  .github/workflows/rust.yml
Labels: 🧑‍💻 dev experience, ⛴ release

#1734 Improved readback data handling
  crates/re_renderer/examples/multiview.rs
  crates/re_renderer/examples/picking.rs
  crates/re_renderer/src/allocator/gpu_readback_belt.rs
  crates/re_renderer/src/allocator/mod.rs
  crates/re_renderer/src/context.rs
  crates/re_renderer/src/draw_phases/mod.rs
  crates/re_renderer/src/draw_phases/picking_layer.rs
  crates/re_renderer/src/draw_phases/screenshot.rs
  crates/re_renderer/src/lib.rs
  crates/re_renderer/src/view_builder.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/misc/gpu_readbacks.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/viewer_context.rs
  crates/re_viewer/src/ui/space_view.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
  crates/re_viewer/src/ui/view_spatial/ui_renderer_bridge.rs
  crates/re_viewer/src/ui/viewport.rs
Labels: 🔺 re_renderer

#1742 `arrow2_convert` primitive (de)serialization benchmarks
  crates/re_arrow_store/Cargo.toml
  crates/re_arrow_store/benches/arrow2_convert.rs
Labels: 🏹 arrow, 📉 performance
