Repository rerun-io/rerun, pull requests merged in 2023-05, with the labels that each got.

#2014 Use an sRGB-correct gray gradient when displaying grayscale images
  crates/re_data_store/src/entity_properties.rs
  crates/re_renderer/shader/colormap.wgsl
  crates/re_renderer/shader/rectangle.wgsl
  crates/re_renderer/shader/rectangle_fs.wgsl
  crates/re_renderer/shader/rectangle_vs.wgsl
  crates/re_renderer/src/colormap.rs
  crates/re_renderer/src/renderer/rectangles.rs
  examples/python/api_demo/main.py
Labels: 🪳 bug, 🔺 re_renderer

#1975 Better crash reports on Web + WebGPU support detection
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/web.rs
  web_viewer/index.html
  web_viewer/index_bundled.html
Labels: 🕸️ web

#2020 Add categories and keywords to the `rerun` and `re_sdk` crates
  crates/re_sdk/Cargo.toml
  crates/rerun/Cargo.toml
  crates/rerun/src/lib.rs
Labels: 🦀 rust SDK, ⛴ release

#2023 Fix: use the mac icon on mac
  crates/re_viewer/src/native.rs
Labels: 🪳 bug, ui

#1935 Rust `1.69.0` + remove toolchain confusion
  .github/workflows/reusable_build_web.yml
  .github/workflows/reusable_checks.yml
  BUILD.md
  Cargo.lock
  Cargo.toml
  ci_docker/Dockerfile
  clippy.toml
  crates/re_log_types/Cargo.toml
  crates/re_log_types/src/component_types/mesh3d.rs
  crates/re_log_types/src/component_types/tensor.rs
  crates/re_log_types/src/lib.rs
  crates/re_log_types/src/time_point/timeline.rs
  crates/re_string_interner/src/lib.rs
  crates/re_viewer/Cargo.toml
  crates/re_ws_comms/Cargo.toml
  crates/re_ws_comms/src/server.rs
  examples/rust/raw_mesh/src/main.rs
  rerun_py/Cargo.toml
  rerun_py/README.md
  rust-toolchain
  scripts/clippy_wasm/clippy.toml
  scripts/setup.sh
Labels: enhancement, dependencies

#2025 New manual job to publish a release based on pre-built wheels
  .github/workflows/manual_release.yml
  scripts/verify_wheels.py
Labels: 🧑‍💻 dev experience, ⛴ release

#2035 [pure refactor] Make selection state independent of blueprint
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/misc/item.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/selection_state.rs
  crates/re_viewer/src/misc/space_view_highlights.rs
  crates/re_viewer/src/ui/blueprint.rs
  crates/re_viewer/src/ui/selection_history.rs
  crates/re_viewer/src/ui/selection_history_ui.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/viewport.rs
Labels: 📺 re_viewer, 🚜 refactor

#1980 SDK batching/revamp 1: impl `DataTableBatcher`
  Cargo.lock
  Cargo.toml
  crates/re_analytics/Cargo.toml
  crates/re_log_types/Cargo.toml
  crates/re_log_types/src/data_row.rs
  crates/re_log_types/src/data_table_batcher.rs
  crates/re_log_types/src/lib.rs
  crates/re_renderer/Cargo.toml
  crates/re_sdk_comms/Cargo.toml
  crates/re_smart_channel/Cargo.toml
Labels: 🏹 arrow, 📉 performance

#2034 Fix mp_pose example 2D points having incorrectly interpreted depth
  examples/python/mp_pose/main.py
Labels: examples, 🦟 regression

#2036 [pure refactor] Remove unused MeshSourceData
  crates/re_viewer/src/misc/caches/mesh_cache.rs
  crates/re_viewer/src/misc/caches/mod.rs
  crates/re_viewer/src/ui/view_spatial/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/meshes.rs
Labels: 📺 re_viewer, 🚜 refactor

#2028 Use the correct rust analyzer settings
  .vscode/settings.json
Labels: 🧑‍💻 dev experience

#2033 [pure refactor] "namespace" flag parameters for linestrip & point cloud shader flags
  crates/re_renderer/examples/2d.rs
  crates/re_renderer/examples/multiview.rs
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
  crates/re_renderer/src/line_strip_builder.rs
  crates/re_renderer/src/point_cloud_builder.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/point_cloud.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/primitives.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/arrows3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
Labels: 🔺 re_renderer, 🚜 refactor

#2037 [pure refactor] move selection state into an independent crate, re_viewer_context
  Cargo.lock
  Cargo.toml
  crates/re_renderer/Cargo.toml
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/space_view_highlights.rs
  crates/re_viewer/src/misc/viewer_context.rs
  crates/re_viewer/src/ui/auto_layout.rs
  crates/re_viewer/src/ui/blueprint.rs
  crates/re_viewer/src/ui/data_blueprint.rs
  crates/re_viewer/src/ui/mod.rs
  crates/re_viewer/src/ui/selection_history_ui.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/space_view.rs
  crates/re_viewer/src/ui/space_view_entity_picker.rs
  crates/re_viewer/src/ui/time_panel/data_density_graph.rs
  crates/re_viewer/src/ui/time_panel/mod.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
  crates/re_viewer/src/ui/viewport.rs
  crates/re_viewer_context/Cargo.toml
  crates/re_viewer_context/README.md
  crates/re_viewer_context/src/item.rs
  crates/re_viewer_context/src/lib.rs
  crates/re_viewer_context/src/selection_history.rs
  crates/re_viewer_context/src/selection_state.rs
  scripts/publish_crates.sh
Labels: 📺 re_viewer, 🚜 refactor

#1983 SDK batching/revamp 2: introduce `RecordingContext` / sunset `Session`
  Cargo.lock
  crates/re_arrow_store/src/polars_util.rs
  crates/re_arrow_store/src/store_dump.rs
  crates/re_arrow_store/src/store_polars.rs
  crates/re_arrow_store/src/store_write.rs
  crates/re_arrow_store/tests/data_store.rs
  crates/re_data_store/src/log_db.rs
  crates/re_log_types/src/arrow_msg.rs
  crates/re_log_types/src/data_cell.rs
  crates/re_log_types/src/data_row.rs
  crates/re_log_types/src/data_table.rs
  crates/re_log_types/src/datagen.rs
  crates/re_log_types/src/lib.rs
  crates/re_sdk/Cargo.toml
  crates/re_sdk/src/global.rs
  crates/re_sdk/src/lib.rs
  crates/re_sdk/src/log_sink.rs
  crates/re_sdk/src/msg_sender.rs
  crates/re_sdk/src/recording_stream.rs
  crates/re_sdk/src/session.rs
  crates/rerun/src/clap.rs
  crates/rerun/src/lib.rs
  crates/rerun/src/native_viewer.rs
  crates/rerun/src/web_viewer.rs
  examples/rust/api_demo/src/main.rs
  examples/rust/dna/src/main.rs
  examples/rust/minimal/src/main.rs
  examples/rust/minimal_options/src/main.rs
  examples/rust/objectron/src/main.rs
  examples/rust/raw_mesh/src/main.rs
  rerun_py/src/python_session.rs
  tests/rust/test_image_memory/src/main.rs
Labels: 🦀 rust SDK

#2000 SDK batching/revamp 2.1: `clock` example for Rust
  Cargo.lock
  examples/python/clock/main.py
  examples/rust/clock/Cargo.toml
  examples/rust/clock/src/main.rs
Labels: examples

#2026 Getting workspace deps to a somewhat better state
  Cargo.toml
  crates/re_log_types/Cargo.toml
  crates/re_query/Cargo.toml
  crates/re_viewer/Cargo.toml
  crates/rerun/Cargo.toml
  crates/rerun/src/run.rs
  examples/rust/api_demo/Cargo.toml
  examples/rust/clock/Cargo.toml
  examples/rust/dna/Cargo.toml
  examples/rust/minimal/Cargo.toml
  examples/rust/minimal_options/Cargo.toml
  examples/rust/objectron/Cargo.toml
  examples/rust/raw_mesh/Cargo.toml
  rerun_py/Cargo.toml
  scripts/lint.py
Labels: 🪳 bug, 🐍 python API, 🦀 rust SDK, 🧑‍💻 dev experience

#2040 [pure refactor] Move item-ui to separate module, move AppOptions to re_viewer_context
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/viewer_context.rs
  crates/re_viewer/src/ui/data_ui/component.rs
  crates/re_viewer/src/ui/data_ui/instance_path.rs
  crates/re_viewer/src/ui/data_ui/log_msg.rs
  crates/re_viewer/src/ui/data_ui/mod.rs
  crates/re_viewer/src/ui/item_ui.rs
  crates/re_viewer/src/ui/mod.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/space_view_entity_picker.rs
  crates/re_viewer/src/ui/time_panel/mod.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_text/ui.rs
  crates/re_viewer/src/ui/viewport.rs
  crates/re_viewer_context/src/app_options.rs
  crates/re_viewer_context/src/lib.rs
Labels: 📺 re_viewer, 🚜 refactor

#2043 [refactor] Move `Caches` to `re_viewer_ctx` and make it generic
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/misc/caches/mesh_cache.rs
  crates/re_viewer/src/misc/caches/mod.rs
  crates/re_viewer/src/misc/caches/tensor_decode_cache.rs
  crates/re_viewer/src/misc/caches/tensor_stats.rs
  crates/re_viewer/src/misc/caches/tensor_stats_cache.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/viewer_context.rs
  crates/re_viewer/src/ui/data_ui/image.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/meshes.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_tensor/scene.rs
  crates/re_viewer/src/ui/view_tensor/ui.rs
  crates/re_viewer_context/src/caches.rs
  crates/re_viewer_context/src/lib.rs
Labels: 📺 re_viewer, 🚜 refactor

#2045 [pure refactor] move time control to re_viewer_context
  Cargo.lock
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/time_control_ui.rs
  crates/re_viewer/src/misc/transform_cache.rs
  crates/re_viewer/src/misc/viewer_context.rs
  crates/re_viewer/src/ui/time_panel/mod.rs
  crates/re_viewer/src/ui/time_panel/time_ranges_ui.rs
  crates/re_viewer/src/ui/time_panel/time_selection_ui.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
  crates/re_viewer_context/Cargo.toml
  crates/re_viewer_context/src/lib.rs
  crates/re_viewer_context/src/time_control.rs
Labels: 📺 re_viewer, 🚜 refactor

#2002 SDK batching/revamp 2.2: homegrown arrow size estimation routines
  crates/re_arrow_store/benches/arrow2.rs
  crates/re_arrow_store/benches/data_store.rs
  crates/re_arrow_store/src/test_util.rs
  crates/re_arrow_store/tests/internals.rs
  crates/re_log_types/Cargo.toml
  crates/re_log_types/src/data_cell.rs
  crates/re_log_types/src/data_row.rs
  crates/re_log_types/src/data_table.rs
  crates/re_log_types/src/data_table_batcher.rs
  crates/re_log_types/src/size_bytes.rs
  crates/re_query/Cargo.toml
  crates/re_query/benches/query_benchmark.rs
  crates/re_query/src/query.rs
  crates/re_query/tests/query_tests.rs
  crates/re_query/tests/range_tests.rs
  crates/re_viewer/src/ui/data_ui/component_ui_registry.rs
Labels: 🪳 bug, 🏹 arrow

#2046 add `run_all.py`
  justfile
  scripts/run_all.py
Labels: 🧑‍💻 dev experience, examples

#1985 SDK batching/revamp 3: sunset `PythonSession`
  Cargo.lock
  crates/re_sdk/Cargo.toml
  crates/re_sdk/src/recording_stream.rs
  examples/python/minimal/main.py
  examples/python/multiprocessing/main.py
  rerun_py/docs/gen_common_index.py
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/log/log_decorator.py
  rerun_py/src/arrow.rs
  rerun_py/src/lib.rs
  rerun_py/src/python_bridge.rs
  rerun_py/src/python_session.rs
Labels: 🐍 python API

#2047 [pure refactor] Move `ViewerContext` & `ComponentUiRegistry` to `viewer_context`
  Cargo.lock
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/misc/queries.rs
  crates/re_viewer/src/ui/annotations.rs
  crates/re_viewer/src/ui/blueprint.rs
  crates/re_viewer/src/ui/data_ui/annotation_context.rs
  crates/re_viewer/src/ui/data_ui/component.rs
  crates/re_viewer/src/ui/data_ui/component_path.rs
  crates/re_viewer/src/ui/data_ui/component_ui_registry.rs
  crates/re_viewer/src/ui/data_ui/data.rs
  crates/re_viewer/src/ui/data_ui/entity_path.rs
  crates/re_viewer/src/ui/data_ui/image.rs
  crates/re_viewer/src/ui/data_ui/instance_path.rs
  crates/re_viewer/src/ui/data_ui/log_msg.rs
  crates/re_viewer/src/ui/data_ui/mod.rs
  crates/re_viewer/src/ui/item_ui.rs
  crates/re_viewer/src/ui/mod.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/space_view.rs
  crates/re_viewer/src/ui/space_view_entity_picker.rs
  crates/re_viewer/src/ui/space_view_heuristics.rs
  crates/re_viewer/src/ui/time_panel/data_density_graph.rs
  crates/re_viewer/src/ui/time_panel/mod.rs
  crates/re_viewer/src/ui/time_panel/time_ranges_ui.rs
  crates/re_viewer/src/ui/view_bar_chart/scene.rs
  crates/re_viewer/src/ui/view_bar_chart/ui.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/arrows3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/boxes2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/boxes3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/meshes.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points3d.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
  crates/re_viewer/src/ui/view_tensor/scene.rs
  crates/re_viewer/src/ui/view_tensor/ui.rs
  crates/re_viewer/src/ui/view_text/scene.rs
  crates/re_viewer/src/ui/view_text/ui.rs
  crates/re_viewer/src/ui/view_time_series/scene.rs
  crates/re_viewer/src/ui/view_time_series/ui.rs
  crates/re_viewer/src/ui/viewport.rs
  crates/re_viewer_context/Cargo.toml
  crates/re_viewer_context/src/component_ui_registry.rs
  crates/re_viewer_context/src/lib.rs
  crates/re_viewer_context/src/viewer_context.rs
Labels: 📺 re_viewer, 🚜 refactor

#2051 Fix incorrect 2D camera for scenes with negative 2D coordinates
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
Labels: 📺 re_viewer, 🦟 regression

#2053 Fix twice as wide alpha-to-coverage edge on circles, leading to artifacts
  crates/re_renderer/shader/point_cloud.wgsl
Labels: 🪳 bug, 🔺 re_renderer

#2057 Bugfix: allow hovered items to be clicked to set selection
  crates/re_data_ui/src/item_ui.rs
Labels: 🪳 bug, ui

#2052 Depth offset for lines & points
  crates/re_renderer/examples/2d.rs
  crates/re_renderer/shader/lines.wgsl
  crates/re_renderer/shader/point_cloud.wgsl
  crates/re_renderer/src/line_strip_builder.rs
  crates/re_renderer/src/point_cloud_builder.rs
  crates/re_renderer/src/renderer/lines.rs
  crates/re_renderer/src/renderer/point_cloud.rs
Labels: 🔺 re_renderer

#2059 Rust SDK: bring back support for implicit splats
  crates/re_sdk/src/msg_sender.rs
Labels: 🦀 rust SDK

#2055 Detect, warn and gracefully handle corrupt cells in `lookup_arrow`
  Cargo.lock
  crates/re_query/Cargo.toml
  crates/re_query/src/entity_view.rs
Labels: 🪳 bug, 🔍 re_query, 💣 crash

#2056 Introduce (2D) Draw order component
  crates/re_log_types/src/component_types/draw_order.rs
  crates/re_log_types/src/component_types/mod.rs
  crates/re_log_types/src/lib.rs
  crates/re_sdk/src/lib.rs
  crates/re_viewer/src/ui/space_view_heuristics.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/arrows3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/boxes2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/boxes3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/lines3d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/meshes.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points2d.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/points3d.rs
  examples/rust/api_demo/src/main.rs
Labels: enhancement, 🦀 rust SDK, 📺 re_viewer

#2064 `native_viewer` is now an opt-in feature of the `rerun` library
  crates/rerun/Cargo.toml
  examples/rust/api_demo/Cargo.toml
  examples/rust/clock/Cargo.toml
  examples/rust/dna/Cargo.toml
  examples/rust/minimal/Cargo.toml
  examples/rust/minimal_options/Cargo.toml
  examples/rust/objectron/Cargo.toml
  examples/rust/raw_mesh/Cargo.toml
Labels: 🦀 rust SDK, 🧑‍💻 dev experience, dependencies, ⏱ build-times

#2067 Revert "`native_viewer` is now an opt-in feature of the `rerun` library"
  crates/rerun/Cargo.toml
  examples/rust/api_demo/Cargo.toml
  examples/rust/clock/Cargo.toml
  examples/rust/dna/Cargo.toml
  examples/rust/minimal/Cargo.toml
  examples/rust/minimal_options/Cargo.toml
  examples/rust/objectron/Cargo.toml
  examples/rust/raw_mesh/Cargo.toml
Labels: 🧑‍💻 dev experience

#1375 Upgrade arrow2/convert and use native buffers for the tensor u8 types
  Cargo.lock
  Cargo.toml
  crates/re_data_ui/src/image.rs
  crates/re_log_types/src/component_types/arrow_convert_shims.rs
  crates/re_log_types/src/component_types/mesh3d.rs
  crates/re_log_types/src/component_types/mod.rs
  crates/re_log_types/src/component_types/tensor.rs
  crates/re_log_types/src/data_table.rs
  crates/re_log_types/src/size_bytes.rs
  crates/re_query/src/entity_view.rs
  crates/re_viewer/src/ui/view_bar_chart/ui.rs
Labels: 🏹 arrow, 📉 performance

#2068 Fix `taplo-cli` failing to install
  .github/workflows/reusable_checks.yml
Labels: 🧑‍💻 dev experience

#2063 Check `examples/python/requirements.txt` in CI
  .github/workflows/reusable_checks.yml
  examples/python/requirements.txt
  scripts/check_requirements.py
Labels: 🧑‍💻 dev experience, examples, dependencies

#2073 Flush before generating the html
  rerun_py/rerun_sdk/rerun/recording.py
Labels: 🐍 python API

#2072 `RecordingStream`: automatic `log_tick` timeline
  crates/re_arrow_store/tests/dump.rs
  crates/re_log_types/src/data_table.rs
  crates/re_log_types/src/data_table_batcher.rs
  crates/re_log_types/src/time_point/timeline.rs
  crates/re_sdk/src/recording_stream.rs
  crates/re_viewer_context/src/time_control.rs
Labels: 🏹 arrow, ⛃ re_datastore

#2071 Improve UI for keypoint and class-ids of annotations contexts
  crates/re_data_ui/src/annotation_context.rs
  crates/re_data_ui/src/component_ui_registry.rs
  crates/re_data_ui/src/image.rs
  crates/re_data_ui/src/lib.rs
  crates/re_log_types/src/component_types/label.rs
Labels: ui, 📺 re_viewer

#2065 Use the same RRD encoding for the SDK comms as for everything else
  Cargo.lock
  crates/re_log_encoding/src/decoder.rs
  crates/re_log_encoding/src/encoder.rs
  crates/re_sdk_comms/Cargo.toml
  crates/re_sdk_comms/src/buffered_client.rs
  crates/re_sdk_comms/src/lib.rs
  crates/re_sdk_comms/src/server.rs
Labels: 📉 performance

#2054 `run_all.py`: add `--fast`, `--separate`, and `--close`
  scripts/run_all.py
Labels: 🧑‍💻 dev experience

#2069 Improvements to memory measurements and reporting
  Cargo.lock
  crates/re_memory/Cargo.toml
  crates/re_memory/src/memory_use.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer_context/src/clipboard.rs
Labels: ui, 🧑‍💻 dev experience

#2078 Remove `Clipboard::set_text`
  crates/re_viewer/src/misc/profiler.rs
  crates/re_viewer_context/src/clipboard.rs
Labels: 🧑‍💻 dev experience

#1449 Add support for f16 tensors
  crates/re_data_ui/src/image.rs
  crates/re_log_types/src/component_types/tensor.rs
  crates/re_log_types/src/data.rs
  crates/re_viewer/src/ui/view_bar_chart/ui.rs
  crates/re_viewer_context/src/gpu_bridge/tensor_to_gpu.rs
  rerun_py/rerun_sdk/rerun/log/tensor.py
Labels: 🏹 arrow, ⛃ re_datastore

#2079 run_all.py: print output on sequential run failure
  scripts/run_all.py
Labels: 🧑‍💻 dev experience

#2081 Fix failing dependency install of mesh_to_sdf
  examples/python/deep_sdf/requirements.txt
Labels: examples

#2011 Add a text-box component and logtype
  crates/re_log_types/src/component_types/mod.rs
  crates/re_log_types/src/component_types/text_box.rs
  crates/re_ui/src/icons.rs
  crates/re_viewer/src/ui/auto_layout.rs
  crates/re_viewer/src/ui/mod.rs
  crates/re_viewer/src/ui/space_view.rs
  crates/re_viewer/src/ui/view_category.rs
  crates/re_viewer/src/ui/view_text_box/mod.rs
  crates/re_viewer/src/ui/view_text_box/scene.rs
  crates/re_viewer/src/ui/view_text_box/ui.rs
  crates/re_viewer/src/ui/viewport.rs
  rerun_py/docs/gen_common_index.py
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/components/__init__.py
  rerun_py/rerun_sdk/rerun/components/experimental/__init__.py
  rerun_py/rerun_sdk/rerun/components/experimental/text_box.py
  rerun_py/rerun_sdk/rerun/experimental.py
  rerun_py/rerun_sdk/rerun/log/__init__.py
  rerun_py/rerun_sdk/rerun/log/experimental/__init__.py
  rerun_py/rerun_sdk/rerun/log/experimental/text.py
Labels: 🐍 python API, ui

#2082 Switch from egui_dock to egui_tiles
  Cargo.lock
  Cargo.toml
  crates/re_ui/Cargo.toml
  crates/re_ui/examples/re_ui_example.rs
  crates/re_ui/src/lib.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/ui/auto_layout.rs
  crates/re_viewer/src/ui/viewport.rs
Labels: ui, dependencies

#2091 Update to latest egui_tiles
  Cargo.lock
  Cargo.toml
  crates/re_viewer/src/ui/viewport.rs
Labels: dependencies

#2090 Use instant for Time::now()
  Cargo.lock
  crates/re_log_types/Cargo.toml
  crates/re_log_types/src/time.rs
Labels: 🕸️ web

#2085 Stop playback when we reach the end of the data
  crates/re_viewer_context/src/time_control.rs
Labels: 🪳 bug, 📺 re_viewer

#2092 `tornado` >6.1 doesn't work with recent `jupyter`
  examples/python/notebook/requirements.txt
Labels: 🪳 bug

#2099 Use the american spelling of "Gray"
  _typos.toml
  crates/re_log_types/src/component_types/tensor.rs
  rerun_py/rerun_sdk/rerun/log/scalar.py
Labels: 🧑‍💻 dev experience

#2098 Python `log_mesh_file`: accept either path or bytes
  examples/python/deep_sdf/main.py
  rerun_py/rerun_sdk/rerun/log/file.py
  rerun_py/src/python_bridge.rs
Labels: enhancement, 🐍 python API

#2087 Make sure `rerun/rerun_py/re_viewer` build info is updated on each build
  Cargo.lock
  crates/re_analytics/build.rs
  crates/re_build_build_info/Cargo.toml
  crates/re_build_build_info/src/lib.rs
  crates/re_build_build_info/src/rebuild_detector.rs
  crates/re_renderer/Cargo.toml
  crates/re_renderer/build.rs
  crates/re_sdk/build.rs
  crates/re_viewer/build.rs
  crates/re_web_viewer_server/Cargo.toml
  crates/re_web_viewer_server/build.rs
  crates/rerun/build.rs
  rerun_py/build.rs
Labels: 🧑‍💻 dev experience

#2095 Premultiply alpha of RGBA u8 images
  crates/re_viewer_context/src/gpu_bridge/tensor_to_gpu.rs
Labels: 🪳 bug, 📺 re_viewer

#2097 Add `Tensor::from_image_file` and `Tensor::from_image_bytes`
  crates/re_log_types/src/component_types/tensor.rs
  examples/rust/objectron/src/main.rs
  rerun_py/Cargo.toml
  rerun_py/rerun_sdk/rerun/log/file.py
  rerun_py/src/python_bridge.rs
Labels: enhancement, 🦀 rust SDK

#2094 Work around https://github.com/sebcrozet/instant/issues/49
  crates/re_log_types/src/time.rs
Labels: 🕸️ web

#2106 Fix premature pausing when reaching end of still-streaming stream
  crates/re_log_encoding/src/stream_rrd_from_http.rs
  crates/re_smart_channel/src/lib.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/web.rs
  crates/re_viewer_context/src/lib.rs
  crates/re_viewer_context/src/time_control.rs
Labels: 🪳 bug

#2080 2D layering fixes
  crates/re_log_types/src/component_types/tensor.rs
  crates/re_renderer/src/view_builder.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  examples/rust/api_demo/src/main.rs
Labels: 🪳 bug, 📺 re_viewer, 🦟 regression

#2114 Allow horizontal scrolling in blueprint panel
  crates/re_viewer/src/ui/viewport.rs
Labels: ui

#2100 Fix glb mesh data set downloads
  examples/python/deep_sdf/download_dataset.py
  examples/python/raw_mesh/download_dataset.py
Labels: examples

#2070 Nicer (& fixed up) help texts for space views
  Cargo.lock
  Cargo.toml
  crates/re_ui/src/layout_job_builder.rs
  crates/re_ui/src/lib.rs
  crates/re_viewer/src/ui/mod.rs
  crates/re_viewer/src/ui/spaceview_controls.rs
  crates/re_viewer/src/ui/view_bar_chart/mod.rs
  crates/re_viewer/src/ui/view_bar_chart/ui.rs
  crates/re_viewer/src/ui/view_spatial/eye.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
  crates/re_viewer/src/ui/view_time_series/mod.rs
  crates/re_viewer/src/ui/view_time_series/ui.rs
  crates/re_viewer/src/ui/viewport.rs
Labels: enhancement, ui, 📺 re_viewer

#2123 Fix depth precision issues on WebGL due to different NDC space
  crates/re_renderer/src/view_builder.rs
Labels: 🪳 bug, 🔺 re_renderer

#2062 Add more examples to app.rerun.io
  .github/workflows/README.md
  .github/workflows/manual_adhoc_web.yml
  .github/workflows/manual_dispatch.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_push_main.yml
  .github/workflows/reusable_build_web_demo.yml
  .github/workflows/reusable_upload_web_demo.yml
  .gitignore
  scripts/build_demo_app.py
  scripts/demo_assets/static/caret-down.svg
  scripts/demo_assets/static/caret-right.svg
  scripts/demo_assets/static/favicon.svg
  scripts/demo_assets/static/github-mark-white.svg
  scripts/demo_assets/static/index.css
  scripts/demo_assets/static/index.html
  scripts/demo_assets/static/index.js
  scripts/demo_assets/static/manifest.json
  scripts/demo_assets/static/sw.js
  scripts/demo_assets/templates/example.html
  scripts/requirements-web-demo.txt
  web_viewer/index.html
Labels: 📖 documentation, 🕸️ web, examples

#2060 Show meshes and images with `rerun foo.obj bar.png`
  Cargo.lock
  Cargo.toml
  crates/re_log_types/src/component_types/tensor.rs
  crates/re_log_types/src/data_cell.rs
  crates/re_log_types/src/lib.rs
  crates/re_log_types/src/path/entity_path.rs
  crates/re_renderer/src/wgpu_resources/buffer_pool.rs
  crates/re_renderer/src/wgpu_resources/dynamic_resource_pool.rs
  crates/re_sdk/src/msg_sender.rs
  crates/re_smart_channel/src/lib.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/viewer_analytics.rs
  crates/rerun/Cargo.toml
  crates/rerun/src/run.rs
Labels: enhancement, 📺 re_viewer

#2149 `BeingRecordingMsg` -> `SetRecordingInfo`
  crates/re_data_store/src/log_db.rs
  crates/re_data_ui/src/log_msg.rs
  crates/re_log_encoding/src/decoder.rs
  crates/re_log_types/src/lib.rs
  crates/re_sdk/src/recording_stream.rs
  crates/re_sdk_comms/src/server.rs
  crates/re_viewer/src/app.rs
Labels: 🚜 refactor

#2125 Fix flushing race in new multi-recording SDK
  crates/re_sdk/src/recording_stream.rs
  examples/python/minimal_options/main.py
  examples/python/minimal_options/requirements.txt
  examples/python/requirements.txt
  scripts/run_python_e2e_test.py
Labels: 🪳 bug

#2115 Allow dragging time cursor in plots
  crates/re_viewer/src/ui/view_time_series/ui.rs
Labels: ui

#2138 Draw order for python api
  crates/re_log_types/src/component_types/mod.rs
  examples/python/api_demo/main.py
  examples/rust/api_demo/src/main.rs
  rerun_py/rerun_sdk/rerun/components/__init__.py
  rerun_py/rerun_sdk/rerun/components/draw_order.py
  rerun_py/rerun_sdk/rerun/log/image.py
  rerun_py/rerun_sdk/rerun/log/lines.py
  rerun_py/rerun_sdk/rerun/log/points.py
  rerun_py/rerun_sdk/rerun/log/rects.py
  rerun_py/rerun_sdk/rerun/log/tensor.py
  rerun_py/src/python_bridge.rs
Labels: 🐍 python API

#2093 Move from instant -> web_time
  Cargo.lock
  Cargo.toml
  crates/re_log_encoding/Cargo.toml
  crates/re_log_encoding/src/stream_rrd_from_http.rs
  crates/re_log_types/Cargo.toml
  crates/re_log_types/src/time.rs
  crates/re_memory/Cargo.toml
  crates/re_memory/src/util.rs
  crates/re_renderer/Cargo.toml
  crates/re_renderer/examples/framework.rs
  crates/re_smart_channel/Cargo.toml
  crates/re_smart_channel/src/lib.rs
  crates/re_tuid/Cargo.toml
  crates/re_tuid/src/lib.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/app.rs
  scripts/clippy_wasm/clippy.toml
Labels: 🕸️ web, dependencies

#2169 Fix setup scripts for Mac M1/MacPort configuration
  scripts/setup_dev.sh
  scripts/setup_web.sh
Labels: 🧑‍💻 dev experience

#2159 Allow users to select the bind address (ip) to use with `--bind`
  crates/re_sdk_comms/src/server.rs
  crates/re_viewer/src/web.rs
  crates/re_web_viewer_server/src/lib.rs
  crates/re_web_viewer_server/src/main.rs
  crates/re_ws_comms/src/lib.rs
  crates/re_ws_comms/src/server.rs
  crates/rerun/src/clap.rs
  crates/rerun/src/run.rs
  crates/rerun/src/web_viewer.rs
  rerun_py/src/python_bridge.rs
Labels: enhancement, 🧑‍💻 dev experience

#2161 Update `wasm-bindgen` to 0.2.86
  .github/workflows/reusable_bench.yml
  .github/workflows/reusable_build_and_test_wheels.yml
  .github/workflows/reusable_build_web.yml
  .github/workflows/reusable_build_web_demo.yml
  .github/workflows/reusable_checks.yml
  .github/workflows/reusable_deploy_docs.yml
  .github/workflows/reusable_run_notebook.yml
  .github/workflows/reusable_upload_wheels.yml
  Cargo.lock
  Cargo.toml
  ci_docker/Dockerfile
  ci_docker/publish.sh
  crates/re_log/Cargo.toml
  crates/re_memory/Cargo.toml
  scripts/setup_web.sh
Labels: 🕸️ web, dependencies

#2010 Drive blueprints off of a DataStore
  Cargo.lock
  crates/re_data_store/src/entity_properties.rs
  crates/re_data_store/src/lib.rs
  crates/re_data_store/src/log_db.rs
  crates/re_data_store/src/util.rs
  crates/re_data_ui/src/log_msg.rs
  crates/re_log_encoding/src/decoder.rs
  crates/re_log_types/src/lib.rs
  crates/re_memory/src/memory_history.rs
  crates/re_renderer/src/view_builder.rs
  crates/re_sdk/src/lib.rs
  crates/re_sdk/src/log_sink.rs
  crates/re_sdk/src/recording_stream.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/blueprint_components/mod.rs
  crates/re_viewer/src/blueprint_components/panel.rs
  crates/re_viewer/src/blueprint_components/space_view.rs
  crates/re_viewer/src/blueprint_components/viewport.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/ui/blueprint.rs
  crates/re_viewer/src/ui/blueprint_load.rs
  crates/re_viewer/src/ui/blueprint_sync.rs
  crates/re_viewer/src/ui/data_blueprint.rs
  crates/re_viewer/src/ui/memory_panel.rs
  crates/re_viewer/src/ui/mod.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/space_view.rs
  crates/re_viewer/src/ui/space_view_entity_picker.rs
  crates/re_viewer/src/ui/view_bar_chart/ui.rs
  crates/re_viewer/src/ui/view_spatial/eye.rs
  crates/re_viewer/src/ui/view_spatial/scene/picking.rs
  crates/re_viewer/src/ui/view_spatial/space_camera_3d.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
  crates/re_viewer/src/ui/view_tensor/ui.rs
  crates/re_viewer/src/ui/view_text/ui.rs
  crates/re_viewer/src/ui/view_time_series/ui.rs
  crates/re_viewer/src/ui/viewport.rs
  crates/re_viewer_context/src/lib.rs
  examples/python/blueprint/main.py
  examples/python/blueprint/requirements.txt
  examples/python/notebook/blueprint.ipynb
  examples/python/requirements.txt
  rerun_py/Cargo.toml
  rerun_py/docs/gen_common_index.py
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/experimental.py
  rerun_py/rerun_sdk/rerun/log/experimental/blueprint.py
  rerun_py/rerun_sdk/rerun/recording.py
  rerun_py/src/python_bridge.rs
Labels: 🐍 python API

#2168 scripts: add crash retriever script
  scripts/fetch_crashes.py
Labels: 🧑‍💻 dev experience, 📊 analytics

#2173 Better error messages in build.rs
  crates/re_build_build_info/src/lib.rs
Labels: 🧑‍💻 dev experience

#2170 Fix web depth/projection regression, causing incorrect rendering on all 3D scenes
  crates/re_renderer/shader/global_bindings.wgsl
  crates/re_renderer/shader/utils/depth_offset.wgsl
  crates/re_renderer/src/config.rs
  crates/re_renderer/src/global_bindings.rs
  crates/re_renderer/src/view_builder.rs
Labels: 🕸️ web, 🔺 re_renderer, 🦟 regression

#2153 Centralize freestanding store helpers
  crates/re_arrow_store/src/lib.rs
  crates/re_arrow_store/src/store_helpers.rs
  crates/re_data_store/src/log_db.rs
  crates/re_data_ui/src/annotation_context.rs
  crates/re_query/src/query.rs
  crates/re_viewer/src/misc/queries.rs
  crates/re_viewer/src/misc/space_info.rs
  crates/re_viewer/src/misc/transform_cache.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/space_view_heuristics.rs
  crates/re_viewer/src/ui/view_bar_chart/scene.rs
  crates/re_viewer/src/ui/view_category.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_tensor/scene.rs
Labels: ⛃ re_datastore, 🚜 refactor

#2184 Update egui and eframe
  Cargo.lock
  Cargo.toml
  crates/re_log_encoding/Cargo.toml
  crates/re_ui/examples/re_ui_example.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/native.rs
  crates/rerun/src/run.rs
Labels: dependencies

#2154 Expose `SmartChannel`'s multiplexed nature, sunset `Goodbye`
  Cargo.lock
  crates/re_data_store/src/log_db.rs
  crates/re_data_ui/src/log_msg.rs
  crates/re_log_encoding/Cargo.toml
  crates/re_log_encoding/src/stream_rrd_from_http.rs
  crates/re_log_types/src/lib.rs
  crates/re_sdk/src/recording_stream.rs
  crates/re_sdk_comms/src/server.rs
  crates/re_smart_channel/src/lib.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/native.rs
  crates/re_viewer/src/remote_viewer_app.rs
  crates/re_viewer/src/viewer_analytics.rs
  crates/re_viewer/src/web.rs
  crates/re_ws_comms/src/server.rs
  crates/rerun/src/native_viewer.rs
  crates/rerun/src/run.rs
  crates/rerun/src/web_viewer.rs
Labels: 🪳 bug, enhancement

#2183 `cargo install rerun-cli`
  .cargo/config.toml
  BUILD.md
  Cargo.lock
  README.md
  RELEASES.md
  crates/rerun-cli/Cargo.toml
  crates/rerun-cli/README.md
  crates/rerun-cli/build.rs
  crates/rerun-cli/src/bin/rerun.rs
  crates/rerun/Cargo.toml
  crates/rerun/README.md
  crates/rerun/src/lib.rs
  crates/rerun/src/main.rs
  crates/rerun/src/web_viewer.rs
  examples/rust/api_demo/Cargo.toml
  examples/rust/clock/Cargo.toml
  examples/rust/dna/Cargo.toml
  examples/rust/minimal/Cargo.toml
  examples/rust/minimal_options/Cargo.toml
  examples/rust/objectron/Cargo.toml
  examples/rust/raw_mesh/Cargo.toml
  scripts/publish_crates.sh
Labels: 🧑‍💻 dev experience, dependencies, ⏱ build-times

#2194 Don't early-exit on non-pinhole transforms when looking up cameras
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/cameras.rs
Labels: 🪳 bug

#2187 Mitigate depth offset precision issues on web
  crates/re_log_types/src/hash.rs
  crates/re_log_types/src/path/entity_path.rs
  crates/re_renderer/examples/depth_offset.rs
  crates/re_renderer/shader/utils/depth_offset.wgsl
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  run_wasm/src/main.rs
Labels: 🪳 bug, 🕸️ web, 🦟 regression

#2190 Premultiply the alpha on the GPU
  crates/re_renderer/examples/2d.rs
  crates/re_renderer/examples/depth_cloud.rs
  crates/re_renderer/shader/rectangle.wgsl
  crates/re_renderer/shader/rectangle_fs.wgsl
  crates/re_renderer/src/renderer/rectangles.rs
  crates/re_viewer/src/ui/view_tensor/tensor_slice_to_gpu.rs
  crates/re_viewer/src/ui/view_tensor/ui.rs
  crates/re_viewer_context/src/gpu_bridge/tensor_to_gpu.rs
Labels: 🔺 re_renderer, 📉 performance

#2199 Fix `cargo test`
  .github/workflows/reusable_checks.yml
  crates/re_arrow_store/tests/dump.rs
Labels: 🔨 testing, 🧑‍💻 dev experience

#2198 Simpler SIGINT handling
  Cargo.lock
  crates/re_sdk_comms/src/server.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/native.rs
  crates/re_viewer/src/remote_viewer_app.rs
  crates/re_viewer/src/web.rs
  crates/re_web_viewer_server/Cargo.toml
  crates/re_web_viewer_server/src/lib.rs
  crates/re_web_viewer_server/src/main.rs
  crates/re_ws_comms/src/server.rs
  crates/rerun/Cargo.toml
  crates/rerun/src/clap.rs
  crates/rerun/src/crash_handler.rs
  crates/rerun/src/native_viewer.rs
  crates/rerun/src/run.rs
  crates/rerun/src/web_viewer.rs
  rerun_py/Cargo.toml
  rerun_py/src/python_bridge.rs
Labels: 🚜 refactor

#2202 Add "modified" and "created" timelines for files
  crates/re_sdk/src/msg_sender.rs
Labels: enhancement, 📺 re_viewer

#2203 Fix run all for new rust-cli target & add rerun-web alias for quick running of the web player
  .cargo/config.toml
  scripts/run_all.py
Labels: 🧑‍💻 dev experience

#2191 Stable image order, fixing flickering
  crates/re_log_types/src/component_types/draw_order.rs
  crates/re_viewer/src/misc/transform_cache.rs
  crates/re_viewer/src/ui/view_spatial/scene/mod.rs
  crates/re_viewer/src/ui/view_spatial/scene/scene_part/images.rs
Labels: 🪳 bug, 📺 re_viewer, 🦟 regression

#2196 `cargo update`
  .vscode/launch.json
  Cargo.lock
  crates/re_arrow_store/Cargo.toml
  crates/re_data_store/Cargo.toml
  crates/re_int_histogram/Cargo.toml
  crates/re_log_encoding/Cargo.toml
  crates/re_memory/Cargo.toml
  crates/re_query/Cargo.toml
  crates/re_renderer/Cargo.toml
  crates/re_tuid/Cargo.toml
  crates/rerun/src/crash_handler.rs
Labels: dependencies

#2204 Fix colormaps
  crates/re_viewer/src/ui/view_spatial/ui_2d.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
  crates/re_viewer_context/src/gpu_bridge/tensor_to_gpu.rs
Labels: 🪳 bug, 🔺 re_renderer, 🦟 regression

#2207 Replace `ctrlc` crate with `tokio`
  Cargo.lock
  Cargo.toml
  crates/rerun/src/crash_handler.rs
  rerun_py/Cargo.toml
  rerun_py/src/python_bridge.rs
Labels: dependencies

#2210 Fix point size in `minimal` examples
  examples/python/minimal/main.py
  examples/python/minimal_options/main.py
  examples/rust/minimal/src/main.rs
  examples/rust/minimal_options/src/main.rs
Labels: 📖 documentation, examples

#2209 Clean up warnings printed when rr.init hasn't been called
  crates/re_sdk/src/global.rs
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/log/log_decorator.py
  rerun_py/rerun_sdk/rerun/sinks.py
  rerun_py/src/python_bridge.rs
Labels: 🐍 python API

#2212 New workflow for creating release artifacts
  .github/workflows/manual_build_release.yml
Labels: ⛴ release

#2220 Flush the batches every 8ms instead of 50 ms
  crates/re_log_types/src/data_table_batcher.rs
Labels: 📉 performance

#2221 In all our Python examples, show how to `pip install rerun-sdk`
  examples/python/api_demo/main.py
  examples/python/arkitscenes/main.py
  examples/python/blueprint/main.py
  examples/python/car/main.py
  examples/python/clock/main.py
  examples/python/colmap/main.py
  examples/python/deep_sdf/main.py
  examples/python/dicom/main.py
  examples/python/dna/main.py
  examples/python/minimal/main.py
  examples/python/minimal_options/main.py
  examples/python/mp_pose/main.py
  examples/python/multiprocessing/main.py
  examples/python/multithreading/main.py
  examples/python/notebook/blueprint.ipynb
  examples/python/notebook/cube.ipynb
  examples/python/nyud/main.py
  examples/python/objectron/main.py
  examples/python/opencv_canny/main.py
  examples/python/plots/main.py
  examples/python/raw_mesh/main.py
  examples/python/ros/main.py
  examples/python/ros/rerun_urdf.py
  examples/python/segment_anything/main.py
  examples/python/stable_diffusion/huggingface_pipeline.py
  examples/python/stable_diffusion/main.py
  examples/python/text_logging/main.py
  examples/python/tracking_hf_opencv/main.py
Labels: 📖 documentation, examples

#2213 Update RELEASES.md to use the new manual workflows
  RELEASES.md
Labels: 🧑‍💻 dev experience, ⛴ release

#2219 Support RRD streams with and without compression. Turn off for SDK comms
  crates/re_data_store/examples/memory_usage.rs
  crates/re_log_encoding/benches/msg_encode_benchmark.rs
  crates/re_log_encoding/src/decoder.rs
  crates/re_log_encoding/src/encoder.rs
  crates/re_log_encoding/src/file_sink.rs
  crates/re_log_encoding/src/lib.rs
  crates/re_sdk/src/log_sink.rs
  crates/re_sdk_comms/src/buffered_client.rs
  crates/re_viewer/src/app.rs
  crates/rerun/src/run.rs
Labels: 📉 performance

#2228 0.6 version bmp, changelog, and misc tweaks
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/re_build_build_info/src/rebuild_detector.rs
  crates/re_log_encoding/src/lib.rs
  crates/re_log_types/src/lib.rs
  crates/re_sdk/src/msg_sender.rs
  crates/re_viewer/data/app_icon_mac.png
  crates/re_viewer/data/app_icon_windows.png
  crates/re_viewer/src/native.rs
  examples/python/opencv_canny/main.py
  examples/rust/api_demo/Cargo.toml
  examples/rust/clock/Cargo.toml
  examples/rust/dna/Cargo.toml
  examples/rust/minimal/Cargo.toml
  examples/rust/minimal_options/Cargo.toml
  examples/rust/objectron/Cargo.toml
  examples/rust/raw_mesh/Cargo.toml
  scripts/demo_assets/static/index.html
  scripts/demo_assets/templates/example.html
  scripts/generate_changelog.py
  scripts/run_all.py
  web_viewer/index.html
  web_viewer/index_bundled.html
Labels: ⛴ release

#2231 Bump version to 0.7.0-alpha.0
  Cargo.lock
  Cargo.toml
  examples/rust/api_demo/Cargo.toml
  examples/rust/clock/Cargo.toml
  examples/rust/dna/Cargo.toml
  examples/rust/minimal/Cargo.toml
  examples/rust/minimal_options/Cargo.toml
  examples/rust/objectron/Cargo.toml
  examples/rust/raw_mesh/Cargo.toml
Labels: 🧑‍💻 dev experience

#2239 `impl Copy for Arrow3D`.
  crates/re_log_types/src/component_types/arrow.rs
Labels: 🦀 rust SDK, 😤 annoying

#2233 Move viewer's time panel to its own crate & show number of events on component hover in Streams
  Cargo.lock
  Cargo.toml
  crates/re_data_ui/src/instance_path.rs
  crates/re_data_ui/src/item_ui.rs
  crates/re_time_panel/Cargo.toml
  crates/re_time_panel/README.md
  crates/re_time_panel/src/data_density_graph.rs
  crates/re_time_panel/src/format_time.rs
  crates/re_time_panel/src/lib.rs
  crates/re_time_panel/src/paint_ticks.rs
  crates/re_time_panel/src/time_axis.rs
  crates/re_time_panel/src/time_control_ui.rs
  crates/re_time_panel/src/time_ranges_ui.rs
  crates/re_time_panel/src/time_selection_ui.rs
  crates/re_ui/src/lib.rs
  crates/re_viewer/Cargo.toml
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/misc/mod.rs
  crates/re_viewer/src/ui/mod.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/view_time_series/ui.rs
  crates/re_viewer/src/ui/viewport.rs
Labels: enhancement, 📺 re_viewer

#2245 Recommend sccache in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 🧑‍💻 dev experience

#2247 Time panel now always talks about "events" instead of "messages"
  crates/re_time_panel/src/data_density_graph.rs
Labels: 📺 re_viewer

#2188 Split SpaceView -> SpaceViewState + SpaceViewBlueprint
  crates/re_viewer/src/blueprint_components/space_view.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/misc/space_view_highlights.rs
  crates/re_viewer/src/ui/auto_layout.rs
  crates/re_viewer/src/ui/blueprint_load.rs
  crates/re_viewer/src/ui/blueprint_sync.rs
  crates/re_viewer/src/ui/mod.rs
  crates/re_viewer/src/ui/selection_panel.rs
  crates/re_viewer/src/ui/space_view.rs
  crates/re_viewer/src/ui/space_view_entity_picker.rs
  crates/re_viewer/src/ui/space_view_heuristics.rs
  crates/re_viewer/src/ui/view_bar_chart/ui.rs
  crates/re_viewer/src/ui/view_spatial/mod.rs
  crates/re_viewer/src/ui/view_spatial/ui.rs
  crates/re_viewer/src/ui/view_spatial/ui_3d.rs
  crates/re_viewer/src/ui/view_tensor/ui.rs
  crates/re_viewer/src/ui/view_text_box/ui.rs
  crates/re_viewer/src/ui/view_time_series/ui.rs
  crates/re_viewer/src/ui/viewport.rs
  rerun_py/src/python_bridge.rs
Labels: 🚜 refactor

#2164 Image uploader script
  justfile
  scripts/requirements-dev.txt
  scripts/upload_image.py
Labels: 🧑‍💻 dev experience

#2250 Example of how to embed the Rerun Viewer inside your own GUI (+ ergonomic improvements)
  Cargo.lock
  Cargo.toml
  crates/re_arrow_store/src/lib.rs
  crates/re_arrow_store/src/store_helpers.rs
  crates/re_arrow_store/src/store_read.rs
  crates/re_crash_handler/Cargo.toml
  crates/re_crash_handler/README.md
  crates/re_crash_handler/src/lib.rs
  crates/re_data_store/src/log_db.rs
  crates/re_data_store/src/util.rs
  crates/re_data_ui/src/component.rs
  crates/re_data_ui/src/component_path.rs
  crates/re_data_ui/src/component_ui_registry.rs
  crates/re_data_ui/src/instance_path.rs
  crates/re_log/src/setup.rs
  crates/re_log_types/Cargo.toml
  crates/re_query/src/dataframe_util.rs
  crates/re_query/src/entity_view.rs
  crates/re_query/src/query.rs
  crates/re_query/src/range.rs
  crates/re_query/src/visit.rs
  crates/re_sdk_comms/Cargo.toml
  crates/re_sdk_comms/src/lib.rs
  crates/re_sdk_comms/src/server.rs
  crates/re_sdk_comms/src/tcp_client.rs
  crates/re_viewer/src/app.rs
  crates/re_viewer/src/lib.rs
  crates/re_viewer/src/native.rs
  crates/re_viewer/src/viewer_analytics.rs
  crates/re_viewer_context/src/lib.rs
  crates/re_viewport/src/space_view_heuristics.rs
  crates/re_viewport/src/view_spatial/scene/scene_part/points2d.rs
  crates/re_viewport/src/view_spatial/scene/scene_part/points3d.rs
  crates/rerun/Cargo.toml
  crates/rerun/src/lib.rs
  crates/rerun/src/run.rs
  examples/rust/extend_viewer_ui/Cargo.toml
  examples/rust/extend_viewer_ui/README.md
  examples/rust/extend_viewer_ui/src/main.rs
  scripts/publish_crates.sh
Labels: ui, examples

#2256 [pure refactor] Fix viewport to timepanel dependency
  Cargo.lock
  crates/re_format/src/lib.rs
  crates/re_format/src/time.rs
  crates/re_log_types/src/time.rs
  crates/re_time_panel/Cargo.toml
  crates/re_time_panel/src/format_time.rs
  crates/re_time_panel/src/lib.rs
  crates/re_time_panel/src/paint_ticks.rs
  crates/re_ui/src/lib.rs
  crates/re_viewport/Cargo.toml
  crates/re_viewport/src/view_time_series/ui.rs
Labels: 🚜 refactor

#2257 Replace wasm-bindgen-cli with library wasm-bindgen-cli-support
  .github/workflows/reusable_build_and_test_wheels.yml
  Cargo.lock
  crates/re_build_web_viewer/Cargo.toml
  crates/re_build_web_viewer/src/lib.rs
  crates/re_build_web_viewer/src/main.rs
  crates/re_web_viewer_server/build.rs
  scripts/setup_web.sh
Labels: 🧑‍💻 dev experience

#2227 Fix double clicking objects no longer focusing the camera on them
  crates/re_viewport/src/view_spatial/ui_3d.rs
Labels: 🪳 bug, 📺 re_viewer

#2230 Fix manual release/dispatch workflows
  .github/workflows/manual_adhoc_web.yml
  .github/workflows/manual_build_release.yml
  .github/workflows/manual_dispatch.yml
  .github/workflows/manual_release.yml
  .github/workflows/on_push_main.yml
  .github/workflows/reusable_upload_web.yml
  .github/workflows/reusable_upload_web_demo.yml
Labels: 🧑‍💻 dev experience

#2278 Add instructions on how to fix weird gsutil crash
  scripts/requirements-dev.txt
  scripts/upload_image.py
Labels: 🧑‍💻 dev experience

#2280 Objectron Rust example: install protoc for the user
  Cargo.lock
  examples/rust/objectron/Cargo.toml
  examples/rust/objectron/build.rs
Labels: 🧑‍💻 dev experience, examples

#2284 Import `rerun-docs`
  .github/workflows/documentation.yaml
  docs/README.md
  docs/code-examples/default-off-session/example.py
  docs/code-examples/default-off-session/example.rs
  docs/code-examples/extension-components/example.py
  docs/code-examples/extension-components/example.rs
  docs/content/concepts.md
  docs/content/concepts/apps-and-recordings.md
  docs/content/concepts/batches.md
  docs/content/concepts/entity-component.md
  docs/content/concepts/entity-path.md
  docs/content/concepts/spaces-and-transforms.md
  docs/content/concepts/timelines.md
  docs/content/development.md
  docs/content/development/architecture.md
  docs/content/development/code_of_conduct.md
  docs/content/development/contributing.md
  docs/content/getting-started.md
  docs/content/getting-started/examples.md
  docs/content/getting-started/logging-python.md
  docs/content/getting-started/logging-rust.md
  docs/content/getting-started/python.md
  docs/content/getting-started/rust.md
  docs/content/getting-started/troubleshooting.md
  docs/content/getting-started/viewer-walkthrough.md
  docs/content/howto.md
  docs/content/howto/extend-ui.md
  docs/content/howto/limit-ram.md
  docs/content/howto/notebook.md
  docs/content/howto/ros2-nav-turtlebot.md
  docs/content/index.md
  docs/content/reference.md
  docs/content/reference/about.md
  docs/content/reference/primitives.md
  docs/content/reference/python.md
  docs/content/reference/rust.md
  docs/content/reference/sdk-logging-controls.md
  docs/content/reference/sdk-micro-batching.md
  docs/content/reference/sdk-operating-modes.md
  docs/content/reference/viewer.md
  docs/content/reference/viewer/blueprint.md
  docs/content/reference/viewer/overview.md
  docs/content/reference/viewer/selection.md
  docs/content/reference/viewer/timeline.md
  docs/content/reference/viewer/viewport.md
  docs/cspell.json
Labels: 📖 documentation, 🧑‍💻 dev experience

#2287 Link to preview of latest commit in PR body
  .github/pull_request_template.md
  .github/workflows/on_pull_request.yml
  .github/workflows/reusable_pr_link_docs.yml
  scripts/pr_link_docs.py
  scripts/requirements-dev.txt
Labels: 🧑‍💻 dev experience

#2294 Fix off-by-half pixel error in textured rectangle shader
  crates/re_renderer/shader/rectangle_fs.wgsl
Labels: 🪳 bug, 🔺 re_renderer
