Repository rerun-io/rerun, pull requests merged in 2024-10, with the labels that each got.

#7537 Allow to configure video decode hardware acceleration
  crates/top/re_sdk/src/web_viewer.rs
  crates/top/rerun/src/commands/entrypoint.rs
  crates/viewer/re_data_ui/src/blob.rs
  crates/viewer/re_renderer/Cargo.toml
  crates/viewer/re_renderer/src/video/decoder/native.rs
  crates/viewer/re_renderer/src/video/decoder/web.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/videos.rs
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer/src/ui/rerun_menu.rs
  crates/viewer/re_viewer/src/web.rs
  crates/viewer/re_viewer_context/src/app_options.rs
  crates/viewer/re_viewer_context/src/cache/video_cache.rs
  docs/content/getting-started/troubleshooting.md
  rerun_js/web-viewer/index.ts
  web_viewer/index.html
Labels: exclude from changelog, 🎞️ video

#7555 Fix typos
  crates/store/re_types_core/src/result.rs
  crates/utils/re_log/src/setup.rs
  crates/viewer/re_renderer/src/renderer/lines.rs
  crates/viewer/re_renderer/src/renderer/point_cloud.rs
Labels: exclude from changelog

#7556 Update to egui 0.29.1
  Cargo.lock
  Cargo.toml
Labels: 📺 re_viewer, dependencies, exclude from changelog, egui

#7544 Fix video loader spinner in 3D views
  crates/viewer/re_renderer/src/video/decoder/web.rs
  crates/viewer/re_space_view_spatial/src/ui.rs
  crates/viewer/re_space_view_spatial/src/ui_2d.rs
  crates/viewer/re_space_view_spatial/src/ui_3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/utilities/spatial_view_visualizer.rs
  crates/viewer/re_space_view_spatial/src/visualizers/videos.rs
  tests/assets/download_test_assets.py
  tests/python/release_checklist/README.md
  tests/python/release_checklist/check_video.py
  tests/python/release_checklist/main.py
Labels: exclude from changelog, 🎞️ video

#7553 Replace `host_web_viewer` method with `WebViewerConfig::host_web_viewer`
  crates/top/re_sdk/src/web_viewer.rs
  crates/top/rerun/src/commands/entrypoint.rs
Labels: 🦀 Rust API, include in changelog

#7558 Dataframe API v2 #0: Chunk support for dedupe-latest semantics
  crates/store/re_chunk/Cargo.toml
  crates/store/re_chunk/src/slice.rs
  crates/store/re_chunk/src/util.rs
  crates/store/re_chunk/tests/memory_test.rs
Labels: 🏹 arrow, 🔍 re_query, include in changelog

#7559 Dataframe API v2 #1: API definitions
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_chunk_store/src/lib.rs
  crates/store/re_log_types/src/path/entity_path_filter.rs
Labels: 🔍 re_query, include in changelog

#7565 Fix main
  crates/store/re_chunk_store/src/dataframe.rs
Labels: exclude from changelog, :ship: CI

#7568 Let nightly be at night
  .github/workflows/nightly.yml
Labels: exclude from changelog, :ship: CI

#7567 Fix missing serde flag on re_renderer video flags
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_viewer_context/Cargo.toml
Labels: 🪳 bug, exclude from changelog

#7560 Dataframe API v2 #2: MVP implementation
  ARCHITECTURE.md
  Cargo.lock
  Cargo.toml
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_chunk_store/src/lib.rs
  crates/store/re_dataframe2/Cargo.toml
  crates/store/re_dataframe2/README.md
  crates/store/re_dataframe2/examples/query.rs
  crates/store/re_dataframe2/src/engine.rs
  crates/store/re_dataframe2/src/lib.rs
  crates/store/re_dataframe2/src/query.rs
Labels: 🔍 re_query, include in changelog

#7576 Use pixi for bench and track size workflows
  .github/workflows/reusable_bench.yml
  .github/workflows/reusable_track_size.yml
Labels: exclude from changelog, :ship: CI

#7527 Dataframe view update and blueprint API (part 2): UI for the query
  crates/store/re_types_core/src/loggable.rs
  crates/viewer/re_component_ui/src/timeline.rs
  crates/viewer/re_space_view_dataframe/src/lib.rs
  crates/viewer/re_space_view_dataframe/src/space_view_class.rs
  crates/viewer/re_space_view_dataframe/src/view_query_v2/blueprint.rs
  crates/viewer/re_space_view_dataframe/src/view_query_v2/mod.rs
  crates/viewer/re_space_view_dataframe/src/view_query_v2/ui.rs
  crates/viewer/re_viewport_blueprint/src/view_properties.rs
Labels: ui, include in changelog, feat-dataframe-view

#7545 Dataframe view update and blueprint API (part 3): use the new query object for column visibility
  crates/store/re_types/definitions/rerun/blueprint/archetypes.fbs
  crates/store/re_types/definitions/rerun/blueprint/archetypes/dataframe_visible_columns.fbs
  crates/store/re_types/definitions/rerun/blueprint/components.fbs
  crates/store/re_types/definitions/rerun/blueprint/components/column_selection_mode.fbs
  crates/store/re_types/src/blueprint/archetypes/.gitattributes
  crates/store/re_types/src/blueprint/archetypes/dataframe_visible_columns.rs
  crates/store/re_types/src/blueprint/archetypes/mod.rs
  crates/store/re_types/src/blueprint/components/.gitattributes
  crates/store/re_types/src/blueprint/components/column_selection_mode.rs
  crates/store/re_types/src/blueprint/components/mod.rs
  crates/viewer/re_space_view_dataframe/src/space_view_class.rs
  crates/viewer/re_space_view_dataframe/src/view_query_v2/blueprint.rs
  crates/viewer/re_viewer/src/blueprint/validation_gen/mod.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
  rerun_cpp/src/rerun/blueprint/archetypes.hpp
  rerun_cpp/src/rerun/blueprint/archetypes/.gitattributes
  rerun_cpp/src/rerun/blueprint/archetypes/dataframe_visible_columns.cpp
  rerun_cpp/src/rerun/blueprint/archetypes/dataframe_visible_columns.hpp
  rerun_cpp/src/rerun/blueprint/components.hpp
  rerun_cpp/src/rerun/blueprint/components/.gitattributes
  rerun_cpp/src/rerun/blueprint/components/column_selection_mode.cpp
  rerun_cpp/src/rerun/blueprint/components/column_selection_mode.hpp
  rerun_py/rerun_sdk/rerun/blueprint/__init__.py
  rerun_py/rerun_sdk/rerun/blueprint/archetypes/.gitattributes
  rerun_py/rerun_sdk/rerun/blueprint/archetypes/__init__.py
  rerun_py/rerun_sdk/rerun/blueprint/archetypes/dataframe_visible_columns.py
  rerun_py/rerun_sdk/rerun/blueprint/components/.gitattributes
  rerun_py/rerun_sdk/rerun/blueprint/components/__init__.py
  rerun_py/rerun_sdk/rerun/blueprint/components/column_selection_mode.py
Labels: ui, 🚜 refactor, include in changelog, feat-dataframe-view

#7577 Make `VideoDecoder` a `trait`
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/decoder/native.rs
  crates/viewer/re_renderer/src/video/decoder/web.rs
  crates/viewer/re_renderer/src/video/mod.rs
Labels: 🚜 refactor, exclude from changelog, 🎞️ video

#7569 Support HEVC/H.265 video with hev1 flavor (in addition to hvc1)
  Cargo.lock
  Cargo.toml
  crates/store/re_video/src/mp4.rs
  docs/content/reference/video.md
Labels: exclude from changelog, 🎞️ video

#7551 Dataframe view update and blueprint API (part 4): blueprint API
  crates/store/re_types/definitions/rerun/blueprint/datatypes/component_column_selector.fbs
  crates/store/re_types/definitions/rerun/blueprint/datatypes/filter_by_event.fbs
  crates/store/re_types/definitions/rerun/blueprint/datatypes/selected_columns.fbs
  crates/viewer/re_space_view_dataframe/src/view_query_v2/blueprint.rs
  docs/snippets/all/views/dataframe.py
  rerun_py/rerun_sdk/rerun/blueprint/archetypes/dataframe_query_v2.py
  rerun_py/rerun_sdk/rerun/blueprint/archetypes/dataframe_query_v2_ext.py
  rerun_py/rerun_sdk/rerun/blueprint/datatypes/component_column_selector.py
  rerun_py/rerun_sdk/rerun/blueprint/datatypes/component_column_selector_ext.py
  rerun_py/rerun_sdk/rerun/blueprint/datatypes/filter_by_event.py
  rerun_py/rerun_sdk/rerun/blueprint/datatypes/filter_by_event_ext.py
  rerun_py/rerun_sdk/rerun/blueprint/datatypes/selected_columns.py
  rerun_py/rerun_sdk/rerun/blueprint/datatypes/selected_columns_ext.py
  rerun_py/rerun_sdk/rerun/blueprint/views/dataframe_view.py
  rerun_py/tests/unit/test_dataframe_view_query.py
Labels: 🟦 blueprint, include in changelog, feat-dataframe-view

#7581 Remove the "markdown" feature of the `re_space_view_text_document` crate
  crates/viewer/re_space_view_text_document/Cargo.toml
  crates/viewer/re_space_view_text_document/src/space_view_class.rs
  crates/viewer/re_viewer/Cargo.toml
Labels: 🚜 refactor, exclude from changelog

#7586 Chunk store: support for overlapped range queries
  crates/store/re_chunk_store/src/query.rs
  crates/store/re_chunk_store/tests/reads.rs
Labels: 🪳 bug, ⛃ re_datastore, include in changelog

#7587 Dataframe v2: extensive test suite and associated bug fixes for all existing features
  Cargo.lock
  crates/store/re_chunk/src/transport.rs
  crates/store/re_dataframe2/Cargo.toml
  crates/store/re_dataframe2/src/query.rs
Labels: 🪳 bug, 🔨 testing, 🔍 re_query, exclude from changelog

#7596 update video docs with the latest learnings
  docs/content/reference/video.md
Labels: 📖 documentation, exclude from changelog, 🎞️ video

#7357 Add python bindings for new dataframe APIs
  Cargo.lock
  crates/store/re_chunk_store/src/dataframe.rs
  rerun_py/Cargo.toml
  rerun_py/rerun_bindings/__init__.py
  rerun_py/rerun_bindings/py.typed
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/rerun_bindings/types.py
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/dataframe.py
  rerun_py/src/dataframe.rs
  rerun_py/src/lib.rs
  rerun_py/src/python_bridge.rs
  tests/python/dataframe/examples.ipynb
Labels: 🐍 Python API, include in changelog

#7592 Aggressively purge video data when its unused
  crates/viewer/re_viewer_context/src/cache/video_cache.rs
Labels: exclude from changelog, 🎞️ video

#7590 Fix image & video cache creating new entries when selecting data without explicit media type
  Cargo.lock
  crates/store/re_types/src/archetypes/asset_video_ext.rs
  crates/store/re_types/src/image.rs
  crates/store/re_video/src/lib.rs
  crates/store/re_video/src/mp4.rs
  crates/top/rerun_c/Cargo.toml
  crates/top/rerun_c/src/video.rs
  crates/viewer/re_data_ui/src/blob.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_space_view_spatial/src/lib.rs
  crates/viewer/re_space_view_spatial/src/visualizers/encoded_image.rs
  crates/viewer/re_space_view_spatial/src/visualizers/videos.rs
  crates/viewer/re_viewer_context/src/cache/image_decode_cache.rs
  crates/viewer/re_viewer_context/src/cache/video_cache.rs
  rerun_py/Cargo.toml
  rerun_py/src/video.rs
Labels: 🪳 bug, 📺 re_viewer, 📉 performance, include in changelog, 🎞️ video

#7589 Dataframe v2: support for `filtered_index_values`
  crates/store/re_dataframe2/src/query.rs
Labels: enhancement, 🔍 re_query, include in changelog

#7603 ChunkStore: Protect specific time ranges during GC
  crates/store/re_chunk_store/src/gc.rs
  crates/store/re_chunk_store/tests/gc.rs
  crates/store/re_entity_db/src/entity_db.rs
Labels: ⛃ re_datastore, exclude from changelog

#7602 Add `ChunkStore::drop_time_range`
  crates/store/re_chunk/src/chunk.rs
  crates/store/re_chunk/src/shuffle.rs
  crates/store/re_chunk/src/slice.rs
  crates/store/re_chunk_store/src/drop_time_range.rs
  crates/store/re_chunk_store/src/lib.rs
  crates/store/re_chunk_store/tests/drop_time_range.rs
  crates/store/re_entity_db/src/entity_db.rs
  crates/store/re_log_types/src/resolved_time_range.rs
  crates/store/re_log_types/src/time_point/time_int.rs
Labels: ⛃ re_datastore, exclude from changelog

#7593 Dataframe v2: support for `filtered_point_of_view`
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_dataframe2/src/query.rs
Labels: enhancement, 🔍 re_query, include in changelog

#7598 Dataframe v2: support for `sparse_fill_strategy`
  crates/store/re_dataframe2/examples/query.rs
  crates/store/re_dataframe2/src/query.rs
Labels: enhancement, 🔍 re_query, include in changelog

#7580 Add test for mp4 chunked up into parts
  tests/python/chunked_video/chunked_video.py
Labels: 🔨 testing, exclude from changelog, 🎞️ video

#7557 Native video support for AV1
  Cargo.lock
  Cargo.toml
  crates/store/re_types/src/image.rs
  crates/store/re_video/Cargo.toml
  crates/store/re_video/examples/frames.rs
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/mod.rs
  crates/store/re_video/src/demux/mod.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/store/re_video/src/lib.rs
  crates/top/rerun-cli/Cargo.toml
  crates/top/rerun/Cargo.toml
  crates/utils/re_crash_handler/Cargo.toml
  crates/utils/re_crash_handler/src/lib.rs
  crates/viewer/re_data_ui/src/blob.rs
  crates/viewer/re_renderer/Cargo.toml
  crates/viewer/re_renderer/src/allocator/cpu_write_gpu_read_belt.rs
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/decoder/native.rs
  crates/viewer/re_renderer/src/video/decoder/native_av1.rs
  crates/viewer/re_renderer/src/video/decoder/no_native_decoder.rs
  crates/viewer/re_renderer/src/video/decoder/web.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/videos.rs
  crates/viewer/re_viewer/Cargo.toml
  crates/viewer/re_viewer_context/src/cache/video_cache.rs
  pixi.lock
  pixi.toml
Labels: 📺 re_viewer, include in changelog, 🎞️ video

#7600 rerun_py: Improvements to dataframe and simple unit-test framework
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/rerun_sdk/rerun/_baseclasses.py
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, exclude from changelog

#7613 Fix `main` CI
  .github/workflows/reusable_deploy_docs.yml
  crates/store/re_video/Cargo.toml
Labels: exclude from changelog, :ship: CI, 🎞️ video

#7611 Add support for (some) `SystemCommand` to `TestContest`
  Cargo.lock
  crates/viewer/re_space_view_dataframe/src/view_query/blueprint.rs
  crates/viewer/re_viewer_context/Cargo.toml
  crates/viewer/re_viewer_context/src/command_sender.rs
  crates/viewer/re_viewer_context/src/test_context.rs
Labels: 🔨 testing, 📺 re_viewer, include in changelog

#7612 Dataframe API: remove control columns from public surface
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_chunk_store/src/lib.rs
  crates/store/re_dataframe/src/latest_at.rs
  crates/store/re_dataframe/src/range.rs
  crates/store/re_dataframe2/src/query.rs
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_space_view_dataframe/src/display_record_batch.rs
  crates/viewer/re_space_view_dataframe/src/view_query/blueprint.rs
  crates/viewer/re_space_view_dataframe/src/view_query/ui.rs
  rerun_py/src/dataframe.rs
Labels: 🔍 re_query, exclude from changelog

#7618 Enable `glam` asserts in debug builds
  Cargo.toml
Labels: 🧑‍💻 dev experience, exclude from changelog

#7621 Dataframe v2: make `num_rows` aware of filters and such
  crates/store/re_dataframe2/src/query.rs
  crates/viewer/re_space_view_dataframe/src/view_query/blueprint.rs
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/rerun_bindings/types.py
  rerun_py/rerun_sdk/rerun/dataframe.py
Labels: 🪳 bug, 🔍 re_query, exclude from changelog

#7622 Fix video spinner sometimes showing at the end of videos
  crates/viewer/re_renderer/src/video/decoder/native_av1.rs
  crates/viewer/re_renderer/src/video/decoder/web.rs
Labels: exclude from changelog, 🎞️ video

#7624 Fix failing dataframe tests (no more row id column)
  rerun_py/tests/unit/test_dataframe.py
Labels: 🔨 testing, 🐍 Python API, exclude from changelog

#7616 Dataframe v2: support for `using_index_values`
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_dataframe2/src/query.rs
  crates/viewer/re_space_view_dataframe/src/space_view_class.rs
  rerun_py/src/dataframe.rs
Labels: enhancement, 🔍 re_query, include in changelog

#7625 Refactor video decoding
  crates/store/re_video/examples/frames.rs
  crates/store/re_video/src/demux/mod.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/store/re_video/src/lib.rs
  crates/store/re_video/src/mp4.rs
  crates/viewer/re_data_ui/src/blob.rs
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/decoder/native_av1.rs
  crates/viewer/re_renderer/src/video/decoder/no_native_decoder.rs
  crates/viewer/re_renderer/src/video/decoder/web.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/videos.rs
  scripts/lint.py
Labels: 🚜 refactor, exclude from changelog, 🎞️ video

#7633 Improve video information on select, warn on HDR content
  Cargo.lock
  Cargo.toml
  crates/store/re_log_types/src/time.rs
  crates/store/re_video/src/demux/mod.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/store/re_video/src/lib.rs
  crates/viewer/re_data_ui/src/blob.rs
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/decoder/web.rs
Labels: exclude from changelog, 🎞️ video

#7636 Rename TimeColumn -> IndexColumn and assorted fixes
  crates/store/re_chunk_store/src/dataframe.rs
  rerun_py/rerun_sdk/rerun/dataframe.py
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, exclude from changelog, feat-dataframe-api

#7637 Add Pathlib support to load_recording
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, exclude from changelog, feat-dataframe-api

#7641 Refactor native video decoder for code reuse
  crates/store/re_video/examples/frames.rs
  crates/store/re_video/src/decode/async_decoder.rs
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/mod.rs
  crates/store/re_video/src/lib.rs
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/decoder/native_decoder.rs
  crates/viewer/re_renderer/src/video/mod.rs
Labels: 🚜 refactor, exclude from changelog, 🎞️ video

#7642 Add APIs for recording_id and application_id
  crates/store/re_chunk_store/src/gc.rs
  crates/store/re_chunk_store/src/store.rs
  crates/store/re_chunk_store/src/writes.rs
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, exclude from changelog, feat-dataframe-api

#7648 Remove `re_dataframe` v1 (thus fixing `main`)
  ARCHITECTURE.md
  Cargo.lock
  Cargo.toml
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_chunk_store/src/lib.rs
  crates/store/re_dataframe/Cargo.toml
  crates/store/re_dataframe/README.md
  crates/store/re_dataframe/examples/latest_at.rs
  crates/store/re_dataframe/examples/query.rs
  crates/store/re_dataframe/examples/range.rs
  crates/store/re_dataframe/examples/range_paginated.rs
  crates/store/re_dataframe/src/engine.rs
  crates/store/re_dataframe/src/latest_at.rs
  crates/store/re_dataframe/src/lib.rs
  crates/store/re_dataframe/src/query.rs
  crates/store/re_dataframe/src/range.rs
  crates/store/re_dataframe2/Cargo.toml
  crates/store/re_dataframe2/README.md
  crates/store/re_dataframe2/src/engine.rs
  crates/store/re_dataframe2/src/lib.rs
  crates/viewer/re_space_view_dataframe/Cargo.toml
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_space_view_dataframe/src/space_view_class.rs
  rerun_py/Cargo.toml
  rerun_py/src/dataframe.rs
Labels: 🚜 refactor, exclude from changelog, :ship: CI

#7639 Fix debug assertion in `create_labels`
  crates/viewer/re_space_view_spatial/src/ui.rs
Labels: 🪳 bug, 🧑‍💻 dev experience, 🦟 regression, exclude from changelog

#7640 Introduce image data conversion pipeline, taking over existing YUV conversions
  crates/viewer/re_renderer/shader/conversions/yuv_converter.wgsl
  crates/viewer/re_renderer/shader/decodings.wgsl
  crates/viewer/re_renderer/shader/rectangle_fs.wgsl
  crates/viewer/re_renderer/src/context.rs
  crates/viewer/re_renderer/src/importer/gltf.rs
  crates/viewer/re_renderer/src/renderer/mod.rs
  crates/viewer/re_renderer/src/renderer/rectangles.rs
  crates/viewer/re_renderer/src/resource_managers/image_data_to_texture.rs
  crates/viewer/re_renderer/src/resource_managers/mod.rs
  crates/viewer/re_renderer/src/resource_managers/texture_manager.rs
  crates/viewer/re_renderer/src/resource_managers/yuv_converter.rs
  crates/viewer/re_renderer/src/workspace_shaders.rs
  crates/viewer/re_renderer_examples/2d.rs
  crates/viewer/re_renderer_examples/depth_cloud.rs
  crates/viewer/re_space_view_spatial/src/picking_ui_pixel.rs
  crates/viewer/re_space_view_spatial/src/visualizers/videos.rs
  crates/viewer/re_space_view_tensor/src/tensor_slice_to_gpu.rs
  crates/viewer/re_viewer_context/src/gpu_bridge/colormap.rs
  crates/viewer/re_viewer_context/src/gpu_bridge/image_to_gpu.rs
  crates/viewer/re_viewer_context/src/gpu_bridge/mod.rs
  crates/viewer/re_viewer_context/src/image_info.rs
Labels: 🔺 re_renderer, 🚜 refactor, include in changelog

#7655 Fix `cargo t --all-features --all`
  crates/viewer/re_renderer/src/resource_managers/yuv_converter.rs
Labels: 🔨 testing, exclude from changelog, :ship: CI

#7635 Add `cargo-machete` to CI
  .github/workflows/cargo_machete.yml
  Cargo.lock
  crates/store/re_chunk_store/Cargo.toml
  crates/store/re_dataframe/Cargo.toml
  crates/store/re_format_arrow/Cargo.toml
  crates/store/re_video/Cargo.toml
  crates/store/re_video/src/lib.rs
  crates/top/re_sdk/Cargo.toml
  crates/utils/re_analytics/Cargo.toml
  crates/utils/re_memory/Cargo.toml
  crates/viewer/re_chunk_store_ui/Cargo.toml
  crates/viewer/re_data_ui/Cargo.toml
  crates/viewer/re_renderer/Cargo.toml
  crates/viewer/re_space_view_dataframe/Cargo.toml
  crates/viewer/re_viewer/Cargo.toml
  docs/snippets/Cargo.toml
  rerun_py/Cargo.toml
Labels: 🧑‍💻 dev experience, exclude from changelog, :ship: CI

#7659 Correctly display null timestamps in the dataframe view
  crates/viewer/re_space_view_dataframe/src/display_record_batch.rs
Labels: 🪳 bug, ui, exclude from changelog, feat-dataframe-view

#7646 Introduce new script that validates the signatures match between the .pyi file and the bridge
  .github/workflows/reusable_test_wheels.yml
  pixi.lock
  pixi.toml
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/src/dataframe.rs
  scripts/ci/python_check_signatures.py
Labels: 🐍 Python API, exclude from changelog

#7654 Do not cache static entries in the query-time latest-at cache
  crates/store/re_query/src/latest_at.rs
Labels: 🔍 re_query, 📉 performance, include in changelog

#7656 Dataframe v2: never mention indicator components
  crates/store/re_chunk_store/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: enhancement, 🔍 re_query, include in changelog

#7661 Always-on AV1 in `--release`; opt-in to nasm-optimizations
  Cargo.lock
  crates/store/re_video/Cargo.toml
  crates/store/re_video/src/decode/av1.rs
  crates/top/rerun-cli/Cargo.toml
  crates/top/rerun/Cargo.toml
  crates/viewer/re_renderer/Cargo.toml
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_viewer/Cargo.toml
  pixi.toml
  rerun_py/Cargo.toml
Labels: exclude from changelog, 🎞️ video

#7660 Small video-related refactor
  crates/store/re_video/examples/frames.rs
  crates/store/re_video/src/decode/mod.rs
  crates/store/re_video/src/demux/mod.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/viewer/re_renderer/src/video/decoder/native_decoder.rs
Labels: 🚜 refactor, exclude from changelog, 🎞️ video

#7649 Dataframe v2: new and improved chunk tools
  crates/store/re_chunk/src/chunk.rs
  crates/store/re_chunk/src/slice.rs
  crates/store/re_chunk/src/util.rs
Labels: enhancement, 🔍 re_query, include in changelog

#7652 Dataframe v2: support for clear semantics
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_dataframe/src/query.rs
Labels: enhancement, 🔍 re_query, include in changelog

#7663 Remove the feature flag for the dataframe view
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer/src/ui/rerun_menu.rs
  crates/viewer/re_viewer_context/src/app_options.rs
  crates/viewer/re_viewer_context/src/command_sender.rs
  crates/viewer/re_viewer_context/src/test_context.rs
Labels: ui, include in changelog, feat-dataframe-view

#7664 Remove the feature flag for plot query clamping
  crates/viewer/re_space_view_time_series/src/line_visualizer_system.rs
  crates/viewer/re_space_view_time_series/src/point_visualizer_system.rs
  crates/viewer/re_space_view_time_series/src/util.rs
  crates/viewer/re_viewer/src/ui/rerun_menu.rs
  crates/viewer/re_viewer_context/src/app_options.rs
Labels: ui, include in changelog

#7675 Fix Linux build: Make the `nasm` feature a no-op
  crates/store/re_video/Cargo.toml
  crates/store/re_video/src/decode/av1.rs
  crates/top/rerun-cli/Cargo.toml
  crates/top/rerun/Cargo.toml
  rerun_py/Cargo.toml
Labels: 🐧 linux, exclude from changelog, :ship: CI, 🎞️ video

#7670 rerun_py.dataframe: add support for .filter_index_values
  Cargo.lock
  Cargo.toml
  deny.toml
  rerun_py/Cargo.toml
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/rerun_bindings/types.py
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, exclude from changelog, feat-dataframe-api

#7665 Dataframe v2: "constant-time" pagination
  Cargo.lock
  crates/store/re_dataframe/Cargo.toml
  crates/store/re_dataframe/src/query.rs
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
Labels: 🔍 re_query, 📉 performance, exclude from changelog, feat-dataframe-view, feat-dataframe-api

#7685 Show what video frame is shown when hovering video in selection panel
  crates/utils/re_format/src/time.rs
  crates/viewer/re_data_ui/src/blob.rs
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/videos.rs
Labels: ui, exclude from changelog, 🎞️ video

#7688 Remove experimental flags from video api types
  crates/store/re_types/definitions/rerun/archetypes/asset_video.fbs
  crates/store/re_types/definitions/rerun/archetypes/video_frame_reference.fbs
  crates/store/re_types/definitions/rerun/components/video_timestamp.fbs
  crates/store/re_types/definitions/rerun/datatypes/video_timestamp.fbs
  crates/store/re_types/src/archetypes/asset_video.rs
  crates/store/re_types/src/archetypes/video_frame_reference.rs
  crates/store/re_types/src/components/video_timestamp.rs
  crates/store/re_types/src/datatypes/video_timestamp.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
  docs/content/reference/types/archetypes/asset_video.md
  docs/content/reference/types/archetypes/video_frame_reference.md
  docs/content/reference/types/components/video_timestamp.md
  docs/content/reference/types/datatypes/video_timestamp.md
  rerun_cpp/src/rerun/archetypes/asset_video.hpp
  rerun_cpp/src/rerun/archetypes/video_frame_reference.hpp
  rerun_cpp/src/rerun/components/video_timestamp.hpp
  rerun_cpp/src/rerun/datatypes/video_timestamp.hpp
  rerun_py/rerun_sdk/rerun/archetypes/asset_video.py
  rerun_py/rerun_sdk/rerun/archetypes/video_frame_reference.py
  rerun_py/rerun_sdk/rerun/components/video_timestamp.py
  rerun_py/rerun_sdk/rerun/datatypes/video_timestamp.py
Labels: 📖 documentation, exclude from changelog, 🎞️ video

#7690 Document that Rerun does not support left-handed coords
  crates/store/re_types/definitions/rerun/archetypes/view_coordinates.fbs
  crates/store/re_types/definitions/rerun/components/view_coordinates.fbs
  crates/store/re_types/definitions/rerun/datatypes/view_coordinates.fbs
  crates/store/re_types/src/archetypes/view_coordinates.rs
  crates/store/re_types/src/archetypes/view_coordinates_ext.rs
  crates/store/re_types/src/components/view_coordinates.rs
  crates/store/re_types/src/components/view_coordinates_ext.rs
  crates/store/re_types/src/datatypes/view_coordinates.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
  docs/content/reference/types/archetypes/view_coordinates.md
  docs/content/reference/types/components/view_coordinates.md
  docs/content/reference/types/datatypes/view_coordinates.md
  rerun_cpp/src/rerun/archetypes/view_coordinates.hpp
  rerun_cpp/src/rerun/archetypes/view_coordinates_ext.cpp
  rerun_cpp/src/rerun/components/view_coordinates.hpp
  rerun_cpp/src/rerun/components/view_coordinates_ext.cpp
  rerun_cpp/src/rerun/datatypes/view_coordinates.hpp
  rerun_py/rerun_sdk/rerun/archetypes/view_coordinates.py
  rerun_py/rerun_sdk/rerun/components/view_coordinates.py
  rerun_py/rerun_sdk/rerun/components/view_coordinates_ext.py
  rerun_py/rerun_sdk/rerun/datatypes/view_coordinates.py
  scripts/generate_view_coordinate_defs.py
Labels: 📖 documentation, include in changelog

#7677 Empty column tracker and new dataframe APIs on top
  crates/store/re_chunk/src/util.rs
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_chunk_store/src/gc.rs
  crates/store/re_chunk_store/src/lib.rs
  crates/store/re_chunk_store/src/store.rs
  crates/store/re_chunk_store/src/writes.rs
  crates/store/re_dataframe/src/engine.rs
  crates/store/re_dataframe/src/query.rs
  crates/viewer/re_space_view_dataframe/src/space_view_class.rs
  rerun_py/src/dataframe.rs
Labels: 🔍 re_query, include in changelog, feat-dataframe-api

#7683 Dataframe v2: big ol' hindsight-driven refactoring
  Cargo.lock
  crates/store/re_dataframe/Cargo.toml
  crates/store/re_dataframe/src/query.rs
Labels: 🪳 bug, 📉 performance, 🚜 refactor, exclude from changelog, feat-dataframe-api

#7680 rerun_py.dataframe: Add APIs for `using_index_values`, `fill_latest_at`, and `filter_is_not_null`
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, exclude from changelog, feat-dataframe-api

#7694 Enable (n)asm rav1d on Mac & Windows via `nasm` feature
  Cargo.lock
  crates/store/re_video/Cargo.toml
  crates/store/re_video/src/decode/av1.rs
  crates/top/rerun-cli/Cargo.toml
  crates/top/rerun/Cargo.toml
  rerun_py/Cargo.toml
Labels: 📉 performance, 🪟 windows, 🐧 linux, exclude from changelog, :apple: MacOS, 🎞️ video

#7687 Improve docs about video support
  crates/store/re_types/definitions/rerun/archetypes/asset_video.fbs
  crates/store/re_types/definitions/rerun/archetypes/video_frame_reference.fbs
  crates/store/re_types/src/archetypes/asset_video.rs
  crates/store/re_types/src/archetypes/video_frame_reference.rs
  docs/content/reference/types/archetypes/asset_video.md
  docs/content/reference/types/archetypes/video_frame_reference.md
  docs/content/reference/video.md
  rerun_cpp/src/rerun/archetypes/asset_video.hpp
  rerun_cpp/src/rerun/archetypes/video_frame_reference.hpp
  rerun_py/rerun_sdk/rerun/archetypes/asset_video.py
  rerun_py/rerun_sdk/rerun/archetypes/video_frame_reference.py
Labels: 📖 documentation, exclude from changelog, 🎞️ video

#7697 Fix main (unordered map that shouldnt be here)
  crates/store/re_chunk_store/src/store.rs
Labels: ⛃ re_datastore, exclude from changelog, :ship: CI

#7682 Use GPU based transfer to do chroma conversions of native decoder output
  crates/store/re_video/examples/frames.rs
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/mod.rs
  crates/viewer/re_renderer/src/allocator/cpu_write_gpu_read_belt.rs
  crates/viewer/re_renderer/src/renderer/mod.rs
  crates/viewer/re_renderer/src/resource_managers/image_data_to_texture.rs
  crates/viewer/re_renderer/src/resource_managers/mod.rs
  crates/viewer/re_renderer/src/resource_managers/texture_manager.rs
  crates/viewer/re_renderer/src/resource_managers/yuv_converter.rs
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/decoder/native_decoder.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_renderer/src/wgpu_resources/resource.rs
  crates/viewer/re_viewer_context/src/gpu_bridge/image_to_gpu.rs
Labels: exclude from changelog, 🎞️ video

#7695 Allow component selectors to be specified as strings with flexible matching
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_dataframe/src/query.rs
  crates/store/re_types/src/blueprint/components/component_column_selector_ext.rs
  crates/store/re_types/src/blueprint/datatypes/component_column_selector_ext.rs
  crates/store/re_types_core/src/loggable.rs
  crates/viewer/re_space_view_dataframe/src/view_query/blueprint.rs
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, include in changelog, feat-dataframe-api

#7696 Dataframe v2: new static semantics
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_dataframe/examples/query.rs
  crates/store/re_dataframe/src/query.rs
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_space_view_dataframe/src/space_view_class.rs
  rerun_py/src/dataframe.rs
Labels: 🔍 re_query, include in changelog, feat-dataframe-api

#7703 Dataframe v2: fix debug build performance
  crates/store/re_dataframe/src/query.rs
Labels: 🧑‍💻 dev experience, 📉 performance, exclude from changelog, feat-dataframe-api

#7704 Make sure Arrow `filter` and `take` kernels early out where it makes sense
  crates/store/re_chunk/src/util.rs
  crates/store/re_chunk/tests/memory_test.rs
Labels: 🏹 arrow, 📉 performance, include in changelog

#7705 Dataframe v2: inline deduped latest logic
  crates/store/re_dataframe/src/query.rs
  scripts/ci/check_large_files_allow_list.txt
Labels: 🏹 arrow, 📉 performance, include in changelog, feat-dataframe-api

#7686 Implement `From<ShowLabels>` for `bool`
  crates/store/re_types/src/components/show_labels_ext.rs
Labels: 🧑‍💻 dev experience, 🍏 primitives, include in changelog

#7710 Ci fixes
  .github/workflows/reusable_checks_rust.yml
  crates/store/re_dataframe/README.md
  crates/store/re_types/definitions/rerun/components/value_range.fbs
  crates/store/re_types/src/image.rs
  crates/viewer/re_renderer/src/resource_managers/image_data_to_texture.rs
  docs/content/reference/types/components/value_range.md
  docs/content/reference/types/datatypes/range1d.md
  lychee.toml
Labels: exclude from changelog, :ship: CI

#7709 re-export all the types needed to build QueryExpression
  crates/store/re_dataframe/src/lib.rs
Labels: exclude from changelog, feat-dataframe-api

#7707 Document colorimetry aspects of video decoding, fix mixing up primaries & matrix coefficients
  crates/store/re_types/definitions/rerun/datatypes/pixel_format.fbs
  crates/store/re_types/src/datatypes/pixel_format_ext.rs
  crates/store/re_types/src/image.rs
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/mod.rs
  crates/viewer/re_renderer/shader/conversions/yuv_converter.wgsl
  crates/viewer/re_renderer/src/resource_managers/image_data_to_texture.rs
  crates/viewer/re_renderer/src/resource_managers/mod.rs
  crates/viewer/re_renderer/src/resource_managers/yuv_converter.rs
  crates/viewer/re_renderer/src/video/decoder/native_decoder.rs
  crates/viewer/re_viewer_context/src/gpu_bridge/image_to_gpu.rs
  crates/viewer/re_viewer_context/src/image_info.rs
  tests/python/release_checklist/check_chroma_subsampling.py
Labels: 📖 documentation, 🚜 refactor, exclude from changelog, 🎞️ video

#7711 Dataframe v2: no more encodings
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_chunk_store/src/lib.rs
  crates/store/re_dataframe/src/query.rs
  rerun_notebook/package-lock.json
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/src/dataframe.rs
Labels: 🚜 refactor, include in changelog, feat-dataframe-api

#7714 `highlight_issues.py --list-external` to list all open external issues
  scripts/generate_changelog.py
  scripts/highlight_issues.py
Labels: enhancement, ⛴ release, exclude from changelog

#7715 Fix main (merge race -- dead import)
  crates/store/re_dataframe/src/lib.rs
Labels: 🪳 bug, exclude from changelog, :ship: CI

#7718 Use published `egui_table`
  Cargo.lock
  Cargo.toml
  crates/viewer/re_space_view_dataframe/Cargo.toml
Labels: dependencies, exclude from changelog

#7719 Use published re_mp4
  Cargo.lock
  Cargo.toml
Labels: ⛴ release, dependencies, exclude from changelog, 🎞️ video

#7723 Use published re_rav1d
  Cargo.lock
  Cargo.toml
  crates/store/re_video/Cargo.toml
Labels: dependencies, exclude from changelog, 🎞️ video

#7722 Fix decoding errors no longer showing
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/decoder/web.rs
Labels: 🪳 bug, exclude from changelog, 🎞️ video

#7726 Support RGB av1 video on native
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/mod.rs
  crates/viewer/re_renderer/shader/conversions/yuv_converter.wgsl
  crates/viewer/re_renderer/src/resource_managers/yuv_converter.rs
  crates/viewer/re_renderer/src/video/decoder/native_decoder.rs
Labels: exclude from changelog, 🎞️ video

#7721 Show chroma subsampling & monochromeness on Blob properties
  crates/store/re_video/src/demux/mod.rs
  crates/viewer/re_data_ui/src/blob.rs
Labels: ui, exclude from changelog, 🎞️ video

#7730 Bump `re_rav1d` to 0.1.2
  Cargo.lock
  Cargo.toml
Labels: 📉 performance, dependencies, include in changelog

#7732 Remove recursive dependency of `re_video` on itself
  Cargo.lock
  crates/store/re_video/Cargo.toml
  crates/store/re_video/examples/frames.rs
  crates/store/re_video/src/decode/mod.rs
  scripts/ci/crates.py
  scripts/ci/dag.py
Labels: 🧑‍💻 dev experience, ⛴ release, exclude from changelog, :ship: CI, 🎞️ video

#7720 Add NOLINT block to `lint.py`
  scripts/lint.py
Labels: 🧑‍💻 dev experience, include in changelog, :ship: CI

#7746 Make the entity path in the table view clickable
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_viewer_context/src/item.rs
Labels: ui, exclude from changelog, feat-dataframe-api

#7727 Add a How-to guide for the dataframe API
  docs/content/howto.md
  docs/content/howto/dataframe-api.md
  rerun_py/rerun_bindings/rerun_bindings.pyi
  scripts/lint.py
Labels: 📖 documentation, include in changelog

#7749 `QueryExpression::filtered_point_of_view` -> `QueryExpression::filtered_is_not_null`
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_dataframe/src/query.rs
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_space_view_dataframe/src/space_view_class.rs
  rerun_py/src/dataframe.rs
Labels: 🦀 Rust API, exclude from changelog, feat-dataframe-api

#7752 Add column property accessors for selectors and descriptors
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
  scripts/ci/python_check_signatures.py
Labels: 🐍 Python API, include in changelog, feat-dataframe-api

#7750 Update to re_rav1d 0.1.3
  Cargo.lock
  Cargo.toml
Labels: ⛴ release, exclude from changelog, :ship: CI, 🎞️ video

#7744 Show list of enabled feature with `rerun --version`
  Cargo.lock
  crates/build/re_build_info/src/build_info.rs
  crates/build/re_build_info/src/lib.rs
  crates/build/re_build_tools/src/lib.rs
  crates/store/re_video/Cargo.toml
  crates/store/re_video/build.rs
  crates/store/re_video/src/lib.rs
  crates/top/rerun/src/commands/entrypoint.rs
  crates/utils/re_analytics/src/lib.rs
  crates/viewer/re_viewer/src/ui/rerun_menu.rs
Labels: 🧑‍💻 dev experience, include in changelog, CLI

#7751 add instant_splat example
  examples/manifest.toml
  examples/python/instant_splat/README.md
Labels: examples, include in changelog

#7754 Include a `view.schema()` API and improved support for static data
  crates/store/re_chunk_store/src/dataframe.rs
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/rerun_bindings/types.py
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, include in changelog, feat-dataframe-api

#7765 Fix main (typos)
  examples/python/instant_splat/README.md
Labels: 😤 annoying, exclude from changelog, :ship: CI

#7758 Warn when selection only includes static data
  rerun_py/src/dataframe.rs
Labels: 🐍 Python API, exclude from changelog, feat-dataframe-api

#7769 Disable `re_rav1d` on Linux ARM
  Cargo.lock
  crates/store/re_video/Cargo.toml
  crates/store/re_video/build.rs
  crates/store/re_video/src/decode/mod.rs
  crates/viewer/re_renderer/src/video/decoder/mod.rs
  crates/viewer/re_renderer/src/video/mod.rs
  docs/content/reference/video.md
Labels: 🐧 linux, exclude from changelog, 🎞️ video

#7770 Revert "Show list of enabled feature with `rerun --version`"
  Cargo.lock
  crates/build/re_build_info/src/build_info.rs
  crates/build/re_build_info/src/lib.rs
  crates/build/re_build_tools/src/lib.rs
  crates/store/re_video/Cargo.toml
  crates/store/re_video/build.rs
  crates/store/re_video/src/lib.rs
  crates/top/rerun/src/commands/entrypoint.rs
  crates/utils/re_analytics/src/lib.rs
  crates/viewer/re_viewer/src/ui/rerun_menu.rs
Labels: ⛴ release, exclude from changelog

#7748 Make component column headers clickable
  crates/store/re_chunk_store/src/dataframe.rs
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer_context/src/command_sender.rs
  crates/viewer/re_viewer_context/src/test_context.rs
Labels: ui, exclude from changelog, feat-dataframe-view

#7773 Dataframe v2: static + selection bug
  crates/store/re_dataframe/src/query.rs
Labels: 🪳 bug, exclude from changelog, feat-dataframe-api

#7775 Docs: move "roadmap" down to "development"
  docs/content/development/architecture.md
  docs/content/development/code_of_conduct.md
  docs/content/development/contributing.md
  docs/content/development/roadmap.md
Labels: 📖 documentation, include in changelog

#7643 Add a "Getting started" guide for the dataframe API
  docs/content/getting-started/data-out.md
  docs/content/getting-started/data-out/analyze-and-log.md
  docs/content/getting-started/data-out/explore-as-dataframe.md
  docs/content/getting-started/data-out/export-dataframe.md
  docs/content/getting-started/troubleshooting.md
  docs/content/howto/dataframe-api.md
  docs/snippets/all/tutorials/data_out.py
  docs/snippets/snippets.toml
Labels: 📖 documentation, include in changelog, feat-dataframe-view, feat-dataframe-api

#7774 Fix dataframe table view auto-scroll bug
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
Labels: 🪳 bug, exclude from changelog

#7776 Docs: clean up reference menu
  docs/content/reference/about.md
  docs/content/reference/cli.md
  docs/content/reference/cpp.md
  docs/content/reference/data-loaders.md
  docs/content/reference/dataframes.md
  docs/content/reference/entity-queries.md
  docs/content/reference/migration.md
  docs/content/reference/npm.md
  docs/content/reference/python.md
  docs/content/reference/rust.md
  docs/content/reference/sdk.md
  docs/content/reference/sdk/logging-controls.md
  docs/content/reference/sdk/micro-batching.md
  docs/content/reference/sdk/operating-modes.md
  docs/content/reference/store-compaction.md
  docs/content/reference/types.md
  docs/content/reference/video.md
  docs/content/reference/viewer.md
Labels: 📖 documentation, include in changelog

#7777 Dataframe v2: fix broken assertion
  crates/store/re_dataframe/src/query.rs
Labels: 🪳 bug, exclude from changelog, feat-dataframe-api

#7757 Updating "Navigating the viewer"
  docs/content/getting-started/navigating-the-viewer.md
Labels: 📖 documentation, include in changelog

#7778 Doc page improvements for instancing & video
  crates/store/re_types/definitions/rerun/archetypes/instance_poses3d.fbs
  crates/store/re_types/definitions/rerun/archetypes/transform3d.fbs
  crates/store/re_types/src/archetypes/instance_poses3d.rs
  crates/store/re_types/src/archetypes/transform3d.rs
  docs/content/reference/types/archetypes/instance_poses3d.md
  docs/content/reference/types/archetypes/transform3d.md
  docs/content/reference/video.md
  rerun_cpp/src/rerun/archetypes/instance_poses3d.hpp
  rerun_cpp/src/rerun/archetypes/transform3d.hpp
  rerun_py/rerun_sdk/rerun/archetypes/instance_poses3d.py
  rerun_py/rerun_sdk/rerun/archetypes/transform3d.py
Labels: 📖 documentation, exclude from changelog

#7780 Update the "what is Rerun for?" page
  docs/content/getting-started/data-in.md
  docs/content/getting-started/quick-start.md
  docs/content/getting-started/what-is-rerun-for.md
Labels: 📖 documentation, exclude from changelog

#7716 Update "What is Rerun?" page
  docs/content/getting-started/what-is-rerun.md
Labels: 📖 documentation, exclude from changelog

#7781 Add draft of 0.19 changelog and release notes
  CHANGELOG.md
  docs/content/howto/dataframe-api.md
  scripts/generate_changelog.py
Labels: 📖 documentation, ⛴ release, exclude from changelog

#7783 Fix trying to build missing data-out snippets
  docs/snippets/snippets.toml
Labels: 🔨 testing, exclude from changelog, :ship: CI

#7784 Rename: Analyze and log -> Analyze and send
  docs/content/getting-started/data-out.md
  docs/content/getting-started/data-out/analyze-and-send.md
Labels: 📖 documentation, exclude from changelog

#7782 Allow splitting entity path expressions with whitespace
  .github/workflows/labels.yml
  crates/store/re_log_types/src/path/entity_path_filter.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: include in changelog, 🪵 Log & send APIs

#7761 Fix python docstrings for dataframe APIs
  .github/workflows/contrib_checks.yml
  .github/workflows/reusable_checks_python.yml
  rerun_py/docs/css/mkdocstrings.css
  rerun_py/docs/gen_common_index.py
  rerun_py/mkdocs.yml
  rerun_py/requirements-doc.txt
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/rerun_bindings/types.py
  rerun_py/rerun_sdk/rerun/dataframe.py
  rerun_py/src/dataframe.rs
  scripts/ci/python_check_signatures.py
Labels: 🐍 Python API, exclude from changelog, feat-dataframe-api

#7786 Allow a Column selector to be specified directly by a string
  docs/content/howto/dataframe-api.md
  rerun_py/rerun_bindings/types.py
  rerun_py/src/dataframe.rs
  rerun_py/tests/unit/test_dataframe.py
Labels: 🐍 Python API, exclude from changelog, feat-dataframe-api

#7789 Add minimal migration guide
  CHANGELOG.md
  docs/content/reference/migration/migration-0-19.md
Labels: 📖 documentation, ⛴ release, exclude from changelog

#7792 Pin sysroot to 2.17 to ensure cpp builds are linking against correct libc
  pixi.toml
Labels: 🧑‍💻 dev experience, exclude from changelog

#7796 Make sure to always write out end-of-stream markers during encoding
  crates/store/re_data_loader/src/loader_rrd.rs
  crates/store/re_log_encoding/src/encoder.rs
  crates/store/re_log_encoding/src/file_sink.rs
  crates/top/re_sdk/src/binary_stream_sink.rs
  crates/top/re_sdk/src/log_sink.rs
  crates/top/rerun/src/commands/entrypoint.rs
  crates/top/rerun/src/commands/rrd/filter.rs
Labels: 🪳 bug, exclude from changelog, 🪵 Log & send APIs

#7795 Make dataframe column more stable
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_space_view_dataframe/src/space_view_class.rs
Labels: ui, exclude from changelog, feat-dataframe-view

#7797 Link to video reference from image & image encoded
  crates/store/re_types/definitions/rerun/archetypes/encoded_image.fbs
  crates/store/re_types/definitions/rerun/archetypes/image.fbs
  crates/store/re_types/src/archetypes/encoded_image.rs
  crates/store/re_types/src/archetypes/image.rs
  docs/content/reference/types/archetypes/encoded_image.md
  docs/content/reference/types/archetypes/image.md
  rerun_cpp/src/rerun/archetypes/encoded_image.hpp
  rerun_cpp/src/rerun/archetypes/image.hpp
  rerun_py/rerun_sdk/rerun/archetypes/encoded_image.py
  rerun_py/rerun_sdk/rerun/archetypes/image.py
Labels: 📖 documentation, exclude from changelog

#7794 Fix Rerun 3.9 compatibility: Remove imports of `TypeAlias`
  examples/python/ocr/ocr.py
  rerun_py/rerun_bindings/__init__.py
  rerun_py/rerun_bindings/types.py
Labels: 🐍 Python API, exclude from changelog

#7785 New cross-language example snippet better demonstrating image formats
  crates/store/re_types/definitions/rerun/archetypes/image.fbs
  crates/store/re_types/src/archetypes/image.rs
  docs/content/reference/types/archetypes/image.md
  docs/snippets/all/archetypes/image_advanced.py
  docs/snippets/all/archetypes/image_formats.cpp
  docs/snippets/all/archetypes/image_formats.py
  docs/snippets/all/archetypes/image_formats.rs
  rerun_cpp/src/rerun.hpp
  rerun_cpp/src/rerun/archetypes/image.hpp
  rerun_py/rerun_sdk/rerun/archetypes/image.py
Labels: examples, include in changelog

#7798 Update and improve the main README.md
  README.md
  docs/content/getting-started/what-is-rerun-for.md
Labels: 📖 documentation, exclude from changelog

#7800 Mention in migration guide that .rbl files will no longer load
  CHANGELOG.md
  docs/content/reference/migration/migration-0-19.md
Labels: 📖 documentation, ⛴ release, exclude from changelog

#7806 Fix mixup of composition & decode timestamp, causing video stuttering for videos with bframes
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/mod.rs
  crates/store/re_video/src/demux/mod.rs
  crates/viewer/re_renderer/src/video/decoder/web.rs
Labels: 🕸️ web, 🦟 regression, exclude from changelog, 🎞️ video

#7807 Dataframe v2: use raw indices
  crates/store/re_dataframe/src/query.rs
Labels: 🪳 bug, 📉 performance, exclude from changelog, feat-dataframe-api

#7805 Add screenshot/live viewer to the dataframe view doc
  crates/store/re_types/definitions/rerun/blueprint/views/dataframe.fbs
  docs/content/reference/types/views/dataframe_view.md
  rerun_py/rerun_sdk/rerun/blueprint/views/dataframe_view.py
Labels: 📖 documentation, exclude from changelog, feat-dataframe-view

#7808 Dataframe v2 Rust: public dataframe symbols
  Cargo.lock
  crates/store/re_chunk/src/util.rs
  crates/store/re_dataframe/src/lib.rs
  crates/store/re_dataframe/src/query.rs
  crates/top/rerun/Cargo.toml
  crates/top/rerun/src/lib.rs
Labels: 🦀 Rust API, exclude from changelog, feat-dataframe-api

#7809 Fix doc links from cleanup in #7776
  CHANGELOG.md
  crates/top/re_sdk/src/recording_stream.rs
  crates/top/rerun/src/lib.rs
  crates/viewer/re_viewer/data/quick_start_guides/how_does_it_work.md
  docs/content/getting-started/data-out/analyze-and-log.md
  docs/content/howto/embed-rerun-viewer.md
  docs/content/reference/data-loaders/overview.md
  docs/content/reference/sdk-micro-batching.md
  docs/content/reference/sdk-operating-modes.md
  docs/content/reference/sdk/micro-batching.md
  docs/content/reference/store-compaction.md
  rerun_cpp/src/rerun/recording_stream.hpp
  rerun_js/web-viewer-react/README.md
  rerun_js/web-viewer/README.md
  rerun_py/docs/gen_common_index.py
Labels: 📖 documentation, exclude from changelog

#7810 Change title of dataframe api doc
  docs/content/howto/dataframe-api.md
Labels: 📖 documentation, exclude from changelog

#7801 `RetryableFileReader`: account for user interrupts
  Cargo.lock
  crates/store/re_data_loader/Cargo.toml
  crates/store/re_data_loader/src/loader_rrd.rs
  crates/utils/re_crash_handler/src/lib.rs
  crates/utils/re_crash_handler/src/sigint.rs
Labels: 🪳 bug, 🐍 Python API, exclude from changelog, 🪵 Log & send APIs

#7811 [bugfix] Make sure blueprint gets sent to the notebook view being created
  rerun_py/rerun_sdk/rerun/notebook.py
Labels: 🪳 bug, notebook, include in changelog

#7818 Bring back the `py-docs` pixi environment
  .github/workflows/contrib_checks.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/reusable_checks_python.yml
  .github/workflows/reusable_deploy_docs.yml
  crates/build/re_dev_tools/src/build_search_index/README.md
  crates/build/re_dev_tools/src/build_search_index/ingest/python.rs
  pixi.lock
  pixi.toml
  rerun_notebook/package-lock.json
  rerun_py/docs/writing_docs.md
  rerun_py/requirements-doc.txt
Labels: 📖 documentation, 🧑‍💻 dev experience, exclude from changelog, :ship: CI

#7826 Clarify viewport documentation and reference the type list for view classes
  docs/content/reference/viewer/viewport.md
Labels: 📖 documentation, include in changelog

#7756 Allow logging individual components directly (Impl `AsComponents` for all `ObjectKind::Component`)
  crates/store/re_types_core/src/lib.rs
  crates/top/re_sdk/src/recording_stream.rs
Labels: 🦀 Rust API, include in changelog

#7829 Mike depends on setuptools
  pixi.lock
  pixi.toml
Labels: 📖 documentation, exclude from changelog, :ship: CI

#7835 Remove py-tasks feature from py-docs env
  pixi.toml
Labels: 🧑‍💻 dev experience, exclude from changelog

#7837 Update "Migration Guides" redirect to point to 0.19.
  docs/content/reference/migration.md
Labels: 📖 documentation, exclude from changelog

#7817 Dataframe v2: examples
  Cargo.lock
  examples/manifest.toml
  examples/python/dataframe_query/README.md
  examples/python/dataframe_query/dataframe_query.py
  examples/python/dataframe_query/pyproject.toml
  examples/rust/dataframe_query/Cargo.toml
  examples/rust/dataframe_query/README.md
  examples/rust/dataframe_query/src/main.rs
  pixi.lock
  pixi.toml
Labels: 📖 documentation, examples, exclude from changelog, feat-dataframe-api

#7827 Fix Rust dna sample writing to a temporary file
  examples/rust/dna/src/main.rs
Labels: examples, 🦟 regression, include in changelog

#7820 Dataframe v2: reference docs
  docs/content/reference/dataframes.md
  docs/snippets/all/reference/dataframe_query.py
  docs/snippets/all/reference/dataframe_query.rs
Labels: 📖 documentation, examples, exclude from changelog
