Repository rerun-io/rerun, pull requests merged in 2024-11, with the labels that each got.

#7970 Fix wasm-bindgen patch
  rerun_js/web-viewer/build-wasm.mjs
  rerun_js/web-viewer/hashes.json
  rerun_js/web-viewer/package.json
Labels: 🕸️ web, include in changelog

#7977 Fix `main` build
  .github/workflows/reusable_test_wheels.yml
  Cargo.lock
  Cargo.toml
  crates/utils/re_tracing/Cargo.toml
Labels: exclude from changelog, :ship: CI

#7978 Fix playback of HDR AV1 videos in native viewer
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/mod.rs
  crates/store/re_video/src/decode/webcodecs.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_ui/src/ui_ext.rs
  crates/viewer/re_viewer/src/web_tools.rs
Labels: 📺 re_viewer, include in changelog, 🎞️ video

#7979 Lower a bunch of `debug` log levels to `trace`
  crates/store/re_entity_db/src/store_bundle.rs
  crates/viewer/re_renderer/src/allocator/gpu_readback_belt.rs
  crates/viewer/re_space_view_spatial/src/mesh_cache.rs
  crates/viewer/re_space_view_spatial/src/proc_mesh.rs
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer/src/lib.rs
  crates/viewer/re_viewer_context/src/store_hub.rs
Labels: 🧑‍💻 dev experience, exclude from changelog

#7976 Update a couple of dependencies
  Cargo.lock
  Cargo.toml
  crates/store/re_ws_comms/src/server.rs
Labels: dependencies, exclude from changelog

#7981 Fix some new typos found by new version of `typos`
  crates/build/re_types_builder/src/docs.rs
  examples/python/objectron/objectron/proto/a_r_capture_metadata.proto
  examples/rust/objectron/src/objectron.rs
  rerun_py/rerun_sdk/rerun/archetypes/video_frame_reference_ext.py
Labels: exclude from changelog

#7983 Add wasm-bindgen version check to CI
  .github/workflows/labels.yml
  rerun_js/web-viewer/build-wasm.mjs
  rerun_js/web-viewer/hashes.json
Labels: dependencies, include in changelog, :ship: CI, wasm-bindgen version update

#7957 Use `re_renderer` to render objects on the map view
  Cargo.lock
  crates/viewer/re_renderer/shader/composite.wgsl
  crates/viewer/re_renderer/src/renderer/compositor.rs
  crates/viewer/re_renderer/src/renderer/depth_cloud.rs
  crates/viewer/re_renderer/src/renderer/lines.rs
  crates/viewer/re_renderer/src/renderer/point_cloud.rs
  crates/viewer/re_renderer/src/view_builder.rs
  crates/viewer/re_space_view/Cargo.toml
  crates/viewer/re_space_view/src/instance_hash_conversions.rs
  crates/viewer/re_space_view/src/lib.rs
  crates/viewer/re_space_view/src/outlines.rs
  crates/viewer/re_space_view_map/Cargo.toml
  crates/viewer/re_space_view_map/src/map_overlays.rs
  crates/viewer/re_space_view_map/src/map_space_view.rs
  crates/viewer/re_space_view_map/src/visualizers/geo_points.rs
  crates/viewer/re_space_view_map/src/visualizers/mod.rs
  crates/viewer/re_space_view_spatial/src/lib.rs
  crates/viewer/re_space_view_spatial/src/picking.rs
  crates/viewer/re_space_view_spatial/src/ui.rs
  crates/viewer/re_space_view_spatial/src/ui_2d.rs
  crates/viewer/re_space_view_spatial/src/ui_3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/arrows2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/arrows3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/assets3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/boxes2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/cameras.rs
  crates/viewer/re_space_view_spatial/src/visualizers/depth_images.rs
  crates/viewer/re_space_view_spatial/src/visualizers/lines2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/lines3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/meshes.rs
  crates/viewer/re_space_view_spatial/src/visualizers/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/points2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/points3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/transform3d_arrows.rs
  crates/viewer/re_space_view_spatial/src/visualizers/utilities/proc_mesh_vis.rs
  crates/viewer/re_viewer_context/src/gpu_bridge/mod.rs
  crates/viewer/re_viewer_context/src/space_view/mod.rs
Labels: exclude from changelog, feat-map-view

#7982 Remote store registration API only registers a single recording
  crates/store/re_remote_store_types/proto/rerun/v0/remote_store.proto
  crates/store/re_remote_store_types/src/v0/rerun.remote_store.v0.rs
Labels: exclude from changelog, remote-store

#7985 leverage ``TransportChunk`` for registration metadata instead of carrying arrow data + schema tuple arround
  crates/store/re_remote_store_types/proto/rerun/v0/remote_store.proto
  crates/store/re_remote_store_types/src/codec.rs
  crates/store/re_remote_store_types/src/v0/rerun.remote_store.v0.rs
Labels: exclude from changelog, remote-store

#7972 Update the Viewport reference page
  docs/content/reference/viewer/viewport.md
Labels: 📖 documentation, exclude from changelog

#7991 Better error & download url if ffmpeg is missing
  crates/store/re_video/src/decode/ffmpeg.rs
  crates/store/re_video/src/decode/mod.rs
  crates/viewer/re_data_ui/src/video.rs
Labels: exclude from changelog, 🎞️ video

#7994 Plumb through initial grpc support for the python SDK
  Cargo.lock
  rerun_py/Cargo.toml
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/remote.py
  rerun_py/src/lib.rs
  rerun_py/src/python_bridge.rs
  rerun_py/src/remote.rs
Labels: 🐍 Python API, exclude from changelog, remote-store

#7995 Add registration support to python remote API
  Cargo.lock
  Cargo.toml
  rerun_py/Cargo.toml
  rerun_py/src/remote.rs
Labels: 🐍 Python API, exclude from changelog, remote-store

#7996 Component docs: link to the rerun datatype the component wraps
  crates/build/re_types_builder/src/codegen/docs/mod.rs
  docs/content/reference/types/components/albedo_factor.md
  docs/content/reference/types/components/axis_length.md
  docs/content/reference/types/components/blob.md
  docs/content/reference/types/components/class_id.md
  docs/content/reference/types/components/clear_is_recursive.md
  docs/content/reference/types/components/color.md
  docs/content/reference/types/components/depth_meter.md
  docs/content/reference/types/components/disconnected_space.md
  docs/content/reference/types/components/draw_order.md
  docs/content/reference/types/components/entity_path.md
  docs/content/reference/types/components/fill_ratio.md
  docs/content/reference/types/components/gamma_correction.md
  docs/content/reference/types/components/half_size2d.md
  docs/content/reference/types/components/half_size3d.md
  docs/content/reference/types/components/image_buffer.md
  docs/content/reference/types/components/image_format.md
  docs/content/reference/types/components/image_plane_distance.md
  docs/content/reference/types/components/keypoint_id.md
  docs/content/reference/types/components/lat_lon.md
  docs/content/reference/types/components/length.md
  docs/content/reference/types/components/marker_size.md
  docs/content/reference/types/components/media_type.md
  docs/content/reference/types/components/name.md
  docs/content/reference/types/components/opacity.md
  docs/content/reference/types/components/pinhole_projection.md
  docs/content/reference/types/components/pose_rotation_axis_angle.md
  docs/content/reference/types/components/pose_rotation_quat.md
  docs/content/reference/types/components/pose_scale3d.md
  docs/content/reference/types/components/pose_transform_mat3x3.md
  docs/content/reference/types/components/pose_translation3d.md
  docs/content/reference/types/components/position2d.md
  docs/content/reference/types/components/position3d.md
  docs/content/reference/types/components/radius.md
  docs/content/reference/types/components/range1d.md
  docs/content/reference/types/components/resolution.md
  docs/content/reference/types/components/rotation_axis_angle.md
  docs/content/reference/types/components/rotation_quat.md
  docs/content/reference/types/components/scalar.md
  docs/content/reference/types/components/scale3d.md
  docs/content/reference/types/components/show_labels.md
  docs/content/reference/types/components/stroke_width.md
  docs/content/reference/types/components/tensor_data.md
  docs/content/reference/types/components/tensor_dimension_index_selection.md
  docs/content/reference/types/components/tensor_height_dimension.md
  docs/content/reference/types/components/tensor_width_dimension.md
  docs/content/reference/types/components/texcoord2d.md
  docs/content/reference/types/components/text.md
  docs/content/reference/types/components/text_log_level.md
  docs/content/reference/types/components/transform_mat3x3.md
  docs/content/reference/types/components/translation3d.md
  docs/content/reference/types/components/triangle_indices.md
  docs/content/reference/types/components/value_range.md
  docs/content/reference/types/components/vector2d.md
  docs/content/reference/types/components/vector3d.md
  docs/content/reference/types/components/video_timestamp.md
  docs/content/reference/types/components/view_coordinates.md
  examples/python/differentiable_blocks_world/README.md
Labels: 📖 documentation, exclude from changelog

#8000 Update changelog for 0.19.1
  CHANGELOG.md
Labels: exclude from changelog

#7998 Fix stalls on ffmpeg based decoder reset
  crates/store/re_video/src/decode/ffmpeg.rs
Labels: 📉 performance, exclude from changelog, 🎞️ video

#8010 Introduce a mechanism of building wheels with extra features
  .github/workflows/adhoc_wheels.yml
  .github/workflows/reusable_build_and_upload_wheels.yml
  rerun_py/Cargo.toml
  scripts/ci/build_and_upload_wheels.py
Labels: 🧑‍💻 dev experience, exclude from changelog, :ship: CI

#8001 Replace the "Options" submenu with a settings screen
  crates/store/re_types/definitions/rerun/blueprint/components/map_provider.fbs
  crates/store/re_types/src/blueprint/components/map_provider.rs
  crates/viewer/re_space_view_map/src/map_space_view.rs
  crates/viewer/re_ui/src/command.rs
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer/src/app_state.rs
  crates/viewer/re_viewer/src/ui/mod.rs
  crates/viewer/re_viewer/src/ui/rerun_menu.rs
  crates/viewer/re_viewer/src/ui/settings_screen.rs
  crates/viewer/re_viewer_context/src/app_options.rs
  rerun_cpp/src/rerun/blueprint/components/map_provider.hpp
  rerun_py/rerun_sdk/rerun/blueprint/components/map_provider.py
Labels: ui, include in changelog, feat-map-view

#8008 Fix broken serve API in python
  rerun_py/rerun_sdk/rerun/sinks.py
Labels: 🪳 bug, 🐍 Python API, exclude from changelog

#8011 Bump walkers to 0.28
  Cargo.lock
  Cargo.toml
  crates/viewer/re_space_view_map/Cargo.toml
Labels: dependencies, exclude from changelog, feat-map-view

#7966 Consistent open/import/log_file behaviors in all common scenarios
  Cargo.lock
  crates/store/re_data_loader/Cargo.toml
  crates/store/re_data_loader/src/lib.rs
  crates/store/re_data_loader/src/load_file.rs
  crates/store/re_data_loader/src/loader_archetype.rs
  crates/store/re_data_loader/src/loader_external.rs
  crates/store/re_data_loader/src/loader_rrd.rs
  crates/store/re_data_source/src/data_source.rs
  crates/store/re_log_types/src/lib.rs
  crates/top/re_sdk/src/recording_stream.rs
  crates/viewer/re_viewer/Cargo.toml
  crates/viewer/re_viewer/src/app.rs
  examples/rust/custom_data_loader/src/main.rs
Labels: 🪳 bug, enhancement, 📺 re_viewer, include in changelog

#8012 Implement checklist for blueprint imports
  tests/python/release_checklist/check_rbl_import.py
Labels: 🔨 testing, ⛴ release, 🟦 blueprint, exclude from changelog

#8017 `QueryHandle`: automatically scheduled wake-up call
  Cargo.lock
  crates/store/re_dataframe/Cargo.toml
  crates/store/re_dataframe/src/query.rs
Labels: 🪳 bug, exclude from changelog, feat-dataframe-api, dataplatform

#8002 Passthrough yuv format for ffmpeg-h264 decoder when possible
  Cargo.lock
  Cargo.toml
  crates/store/re_video/src/decode/ffmpeg_h264/ffmpeg.rs
  crates/store/re_video/src/decode/ffmpeg_h264/mod.rs
  crates/store/re_video/src/decode/ffmpeg_h264/nalu.rs
  crates/store/re_video/src/decode/ffmpeg_h264/sps.rs
  crates/store/re_video/src/decode/mod.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_renderer/src/resource_managers/image_data_to_texture.rs
Labels: 📉 performance, exclude from changelog, 🎞️ video

#8016 Better naming of gRPC-related crates and URIs
  ARCHITECTURE.md
  Cargo.lock
  Cargo.toml
  crates/build/re_protos_builder/Cargo.toml
  crates/build/re_protos_builder/README.md
  crates/build/re_protos_builder/src/bin/build_re_remote_store_types.rs
  crates/build/re_protos_builder/src/lib.rs
  crates/store/re_data_source/Cargo.toml
  crates/store/re_data_source/src/data_source.rs
  crates/store/re_grpc_client/Cargo.toml
  crates/store/re_grpc_client/README.md
  crates/store/re_grpc_client/src/address.rs
  crates/store/re_grpc_client/src/lib.rs
  crates/store/re_protos/.gitattributes
  crates/store/re_protos/Cargo.toml
  crates/store/re_protos/README.md
  crates/store/re_protos/proto/rerun/v0/common.proto
  crates/store/re_protos/proto/rerun/v0/remote_store.proto
  crates/store/re_protos/src/codec.rs
  crates/store/re_protos/src/lib.rs
  crates/store/re_protos/src/v0/rerun.remote_store.v0.rs
  crates/store/re_rrdp_comms/README.md
  crates/top/rerun-cli/Cargo.toml
  crates/top/rerun-cli/src/bin/rerun.rs
  crates/top/rerun/Cargo.toml
  crates/utils/re_smart_channel/src/lib.rs
  crates/viewer/re_viewer/Cargo.toml
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer/src/app_state.rs
  crates/viewer/re_viewer/src/ui/recordings_panel.rs
  crates/viewer/re_viewer/src/ui/top_panel.rs
  crates/viewer/re_viewer/src/viewer_analytics/event.rs
  crates/viewer/re_viewer/src/web_tools.rs
  lychee.toml
  pixi.toml
  rerun_py/Cargo.toml
  rerun_py/src/remote.rs
  scripts/lint.py
Labels: 🚜 refactor, exclude from changelog, dataplatform

#8005 Add warning for using an old version of ffmpeg, be accomodating for log quirks of older versions
  crates/store/re_video/src/decode/ffmpeg_h264/ffmpeg.rs
  crates/store/re_video/src/decode/ffmpeg_h264/nalu.rs
Labels: exclude from changelog, 🎞️ video

#8007 Improve video doc page
  docs/content/reference/video.md
Labels: 📖 documentation, include in changelog

#8006 Disable `MapProvider` variant when not available
  crates/store/re_types/definitions/rerun/blueprint/components/map_provider.fbs
  crates/store/re_types/src/blueprint/components/map_provider.rs
  crates/viewer/re_component_ui/src/datatype_uis/enum_combobox.rs
  crates/viewer/re_component_ui/src/datatype_uis/mod.rs
  crates/viewer/re_component_ui/src/lib.rs
  crates/viewer/re_component_ui/src/map_provider.rs
  rerun_cpp/src/rerun/blueprint/components/map_provider.hpp
  rerun_py/rerun_sdk/rerun/blueprint/components/map_provider.py
Labels: exclude from changelog, feat-map-view

#8021 Fix a bunch of broken feature flags
  crates/viewer/re_ui/src/command.rs
  crates/viewer/re_viewer/src/lib.rs
  crates/viewer/re_viewer_context/src/image_info.rs
  crates/viewer/re_web_viewer_server/build.rs
Labels: 🪳 bug, exclude from changelog, :ship: CI

#8020 ChunkStore: fix row-id computation when removing dangling static chunks
  crates/store/re_chunk_store/src/writes.rs
Labels: 🪳 bug, ⛃ re_datastore, 📉 performance, include in changelog

#8014 Report doc preview status in PRs
  .github/actions/vercel/action.yml
  .github/actions/vercel/commands/deploy-preview.mjs
  .github/actions/vercel/commands/deploy-production.mjs
  .github/actions/vercel/index.mjs
  .github/actions/vercel/types.d.ts
  .github/actions/vercel/vercel.mjs
  .github/workflows/on_pull_request.yml
  .github/workflows/reusable_deploy_landing_preview.yml
Labels: 📖 documentation, exclude from changelog, :ship: CI

#8028 Make it nicer to inspect blueprint store
  crates/store/re_types/src/datatypes/uuid_ext.rs
  crates/viewer/re_component_ui/src/datatype_uis/mod.rs
  crates/viewer/re_component_ui/src/datatype_uis/view_uuid.rs
  crates/viewer/re_component_ui/src/lib.rs
  crates/viewer/re_data_ui/src/instance_path.rs
Labels: 🧑‍💻 dev experience, 📺 re_viewer, exclude from changelog

#8031 Allow editing blueprint while inspecting it
  crates/viewer/re_time_panel/src/lib.rs
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer/src/app_state.rs
  crates/viewer/re_viewport_blueprint/src/container.rs
Labels: 🧑‍💻 dev experience, 📺 re_viewer, exclude from changelog

#8026 gRPC spec update: use RecordingMetadata instead of RecordingInfo and rename url to storage_url
  crates/store/re_protos/proto/rerun/v0/remote_store.proto
  crates/store/re_protos/src/codec.rs
  crates/store/re_protos/src/lib.rs
  crates/store/re_protos/src/v0/rerun.remote_store.v0.rs
  rerun_py/src/remote.rs
Labels: exclude from changelog, remote-store

#8015 Add support for scene units in the map view
  crates/store/re_types/definitions/rerun/archetypes/geo_line_strings.fbs
  crates/store/re_types/definitions/rerun/archetypes/geo_points.fbs
  crates/store/re_types/src/archetypes/geo_line_strings.rs
  crates/store/re_types/src/archetypes/geo_points.rs
  crates/viewer/re_space_view_map/src/visualizers/geo_line_strings.rs
  crates/viewer/re_space_view_map/src/visualizers/geo_points.rs
  crates/viewer/re_space_view_map/src/visualizers/mod.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
  rerun_cpp/src/rerun/archetypes/geo_line_strings.hpp
  rerun_cpp/src/rerun/archetypes/geo_points.hpp
  rerun_py/rerun_sdk/rerun/archetypes/geo_line_strings.py
  rerun_py/rerun_sdk/rerun/archetypes/geo_points.py
Labels: exclude from changelog, feat-map-view

#8027 Improve the blueprint API for the map view
  crates/store/re_types/definitions/rerun/blueprint/archetypes/map_background.fbs
  crates/store/re_types/definitions/rerun/blueprint/archetypes/map_zoom.fbs
  crates/store/re_types/definitions/rerun/blueprint/views/map.fbs
  docs/content/reference/types/views/map_view.md
  docs/snippets/all/views/map.py
  rerun_py/rerun_sdk/rerun/blueprint/__init__.py
  rerun_py/rerun_sdk/rerun/blueprint/views/map_view.py
  rerun_py/tests/unit/blueprint_utils.py
  rerun_py/tests/unit/test_map_view_blueprint.py
Labels: 🟦 blueprint, exclude from changelog, feat-map-view

#8034 Add map view to nuscenes python example
  examples/python/nuscenes_dataset/README.md
  examples/python/nuscenes_dataset/nuscenes_dataset/__main__.py
  examples/python/nuscenes_dataset/nuscenes_dataset/export_gps.py
Labels: examples, include in changelog, feat-map-view

#8041 Support version strings with commit hashes
  crates/build/re_build_info/src/build_info.rs
  crates/build/re_build_info/src/crate_version.rs
Labels: 🧑‍💻 dev experience, ⛴ release, exclude from changelog, dataplatform

#8042 Ensure ffmpeg process has ended on decoder shutdown
  crates/store/re_video/src/decode/ffmpeg_h264/ffmpeg.rs
Labels: 🪳 bug, exclude from changelog, 🎞️ video

#8029 Fix some videos having offseted (incorrect) timestamps
  crates/store/re_types/definitions/rerun/archetypes/video_frame_reference.fbs
  crates/store/re_types/src/archetypes/video_frame_reference.rs
  crates/store/re_video/src/decode/mod.rs
  crates/store/re_video/src/decode/webcodecs.rs
  crates/store/re_video/src/demux/mod.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/store/re_video/src/lib.rs
  crates/store/re_video/src/time.rs
  crates/viewer/re_data_ui/src/blob.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_renderer/src/video/chunk_decoder.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_renderer/src/video/player.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
  rerun_cpp/src/rerun/archetypes/video_frame_reference.hpp
  rerun_py/rerun_sdk/rerun/archetypes/video_frame_reference.py
Labels: 🪳 bug, 📺 re_viewer, include in changelog, 🎞️ video

#8048 re_arrow 0.17.6
  Cargo.lock
  Cargo.toml
Labels: ⛴ release, dependencies, exclude from changelog

#8043 Expose basic information about group of pictures in video data in the selection panel
  crates/store/re_video/src/demux/mod.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/viewer/re_chunk_store_ui/src/arrow_ui.rs
  crates/viewer/re_chunk_store_ui/src/chunk_ui.rs
  crates/viewer/re_component_ui/src/datatype_uis/singleline_string.rs
  crates/viewer/re_data_ui/src/component_ui_registry.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_renderer/src/video/chunk_decoder.rs
  crates/viewer/re_renderer/src/video/player.rs
  crates/viewer/re_selection_panel/src/visualizer_ui.rs
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_space_view_dataframe/src/display_record_batch.rs
  crates/viewer/re_space_view_spatial/src/picking_ui_pixel.rs
  crates/viewer/re_ui/src/ui_ext.rs
  crates/viewer/re_viewer_context/src/component_ui_registry.rs
Labels: 📺 re_viewer, include in changelog, 🎞️ video

#8044 Add an example to display OpenStreetMap-sourced data on the map view
  examples/manifest.toml
  examples/python/nuscenes_dataset/README.md
  examples/python/osm_data/.gitignore
  examples/python/osm_data/README.md
  examples/python/osm_data/osm_data.py
  examples/python/osm_data/pyproject.toml
  lychee.toml
  pixi.lock
  pixi.toml
Labels: examples, include in changelog, feat-map-view

#8045 gRPC spec update: Introduce ``UpdateRecordingMetadata`` API
  crates/store/re_protos/proto/rerun/v0/remote_store.proto
  crates/store/re_protos/src/v0/rerun.remote_store.v0.rs
Labels: exclude from changelog, remote-store

#8049 gRPC spec update: Add support for selecting specific columns while listing recordings metadata
  crates/store/re_protos/proto/rerun/v0/remote_store.proto
  crates/store/re_protos/src/v0/rerun.remote_store.v0.rs
  rerun_py/src/remote.rs
Labels: exclude from changelog, remote-store

#8055 Bump walkers to 0.29
  Cargo.lock
  Cargo.toml
Labels: dependencies, exclude from changelog, feat-map-view

#8053 Fix video backward seeking / stepping back sometimes getting stuck (in the presence of b-frames)
  Cargo.lock
  crates/store/re_video/Cargo.toml
  crates/store/re_video/src/decode/ffmpeg_h264/ffmpeg.rs
  crates/store/re_video/src/demux/mod.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_renderer/src/video/player.rs
Labels: 🪳 bug, include in changelog, 🎞️ video

#8059 Ignore RUSTSEC-2024-0384 in deny.toml
  deny.toml
Labels: dependencies, exclude from changelog, :ship: CI

#8058 Remove warning "Cannot find root container"
  crates/viewer/re_blueprint_tree/src/blueprint_tree.rs
  crates/viewer/re_viewport/src/viewport.rs
  crates/viewer/re_viewport_blueprint/src/viewport_blueprint.rs
Labels: 📺 re_viewer, exclude from changelog

#8061 Warn on loading `Geo*` archetypes without the `map_view` feature
  crates/build/re_types_builder/src/codegen/docs/mod.rs
  crates/build/re_types_builder/src/codegen/rust/reflection.rs
  crates/build/re_types_builder/src/objects.rs
  crates/store/re_types_core/src/reflection.rs
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
Labels: 🧑‍💻 dev experience, 📺 re_viewer, exclude from changelog, feat-map-view

#8054 Improve edge-cases and warn on ambiguity for Rgba32 datatype
  docs/content/reference/migration/migration-0-20.md
  rerun_py/rerun_sdk/rerun/datatypes/rgba32_ext.py
  rerun_py/tests/unit/test_rgba32.py
Labels: 🪳 bug, 🐍 Python API, include in changelog

#8057 C++ SDK: add unreachable `default` cases in switch statements
  crates/build/re_types_builder/src/codegen/cpp/mod.rs
  rerun_cpp/src/rerun/collection.hpp
  rerun_cpp/src/rerun/datatypes/tensor_buffer.cpp
  rerun_cpp/src/rerun/datatypes/tensor_buffer.hpp
  rerun_cpp/src/rerun/datatypes/time_range_boundary.cpp
  rerun_cpp/src/rerun/image_utils.hpp
  rerun_cpp/tests/generated/datatypes/affix_fuzzer3.cpp
  rerun_cpp/tests/generated/datatypes/affix_fuzzer3.hpp
  rerun_cpp/tests/generated/datatypes/affix_fuzzer4.cpp
  rerun_cpp/tests/generated/datatypes/affix_fuzzer4.hpp
Labels: 🌊 C++ API, exclude from changelog

#8060 Enable local http cache for the map view (native only)
  Cargo.lock
  crates/viewer/re_space_view_map/src/map_space_view.rs
  crates/viewer/re_viewer/src/lib.rs
  crates/viewer/re_viewer_context/Cargo.toml
  crates/viewer/re_viewer_context/src/app_options.rs
Labels: enhancement, exclude from changelog, feat-map-view

#8069 Update to latest `ewebsock` and `re_mp4`
  Cargo.lock
  Cargo.toml
Labels: dependencies, exclude from changelog

#8071 Fix video docs incorrectly advertising vp8 support
  docs/content/reference/video.md
Labels: 📖 documentation, 🦟 regression, exclude from changelog

#8074 Fix flipped debug assertion in video processing
  crates/store/re_video/src/demux/mod.rs
Labels: 🦟 regression, exclude from changelog

#8078 Brute-force silence the spurious walkers error at shutdown
  crates/utils/re_log/src/lib.rs
Labels: exclude from changelog, feat-map-view

#8076 Rename "OSM data" example to "OpenStreetMap data"
  examples/manifest.toml
  examples/python/openstreetmap_data/.gitignore
  examples/python/openstreetmap_data/README.md
  examples/python/openstreetmap_data/openstreetmap_data.py
  examples/python/openstreetmap_data/pyproject.toml
  lychee.toml
  pixi.lock
  pixi.toml
Labels: examples, exclude from changelog

#8084 Add missing screenshot to `GeoLineStrings` docs
  crates/store/re_types/definitions/rerun/archetypes/geo_line_strings.fbs
  crates/store/re_types/definitions/rerun/archetypes/geo_points.fbs
  crates/store/re_types/src/archetypes/geo_line_strings.rs
  docs/content/reference/types/archetypes/geo_line_strings.md
  rerun_cpp/src/rerun/archetypes/geo_line_strings.hpp
  rerun_py/rerun_sdk/rerun/archetypes/geo_line_strings.py
Labels: 📖 documentation, exclude from changelog, feat-map-view

#8085 Make sure videos all end up in different space views
  crates/viewer/re_space_view_spatial/src/view_2d.rs
Labels: 🪳 bug, include in changelog, 🎞️ video

#8065 Line strips are no longer a disconnected series of quads
  crates/viewer/re_renderer/shader/composite.wgsl
  crates/viewer/re_renderer/shader/lines.wgsl
  crates/viewer/re_renderer/src/line_drawable_builder.rs
  crates/viewer/re_renderer/src/renderer/compositor.rs
  crates/viewer/re_renderer/src/renderer/lines.rs
  crates/viewer/re_space_view_map/src/visualizers/geo_line_strings.rs
  crates/viewer/re_space_view_spatial/src/visualizers/boxes2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/boxes3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/cameras.rs
  crates/viewer/re_space_view_spatial/src/visualizers/lines2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/lines3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/utilities/proc_mesh_vis.rs
Labels: 🔺 re_renderer, 📺 re_viewer, include in changelog

#8080 Add more video codecs to check_video checklist
  tests/assets/download_test_assets.py
  tests/python/release_checklist/check_video.py
Labels: 🔨 testing, exclude from changelog

#8030 Check rerun notebook version on first import
  rerun_py/rerun_sdk/rerun/notebook.py
Labels: 🐍 Python API, notebook, include in changelog

#8096 Update re_mp4 to fix integer overflow bug
  Cargo.lock
  Cargo.toml
Labels: dependencies, include in changelog, 🎞️ video

#8095 Fix listing of enabled features in `rerun --version`
  .github/workflows/contrib_rerun_py.yml
  .github/workflows/reusable_build_and_upload_rerun_cli.yml
  crates/build/re_build_tools/src/lib.rs
  crates/viewer/re_web_viewer_server/build.rs
  scripts/ci/build_and_upload_wheels.py
  scripts/ci/crates.py
Labels: ⛴ release, include in changelog

#8092 Improve error message style slightly
  crates/viewer/re_chunk_store_ui/src/arrow_ui.rs
  crates/viewer/re_chunk_store_ui/src/chunk_ui.rs
  crates/viewer/re_component_ui/src/datatype_uis/singleline_string.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_selection_panel/src/visualizer_ui.rs
  crates/viewer/re_space_view_dataframe/src/display_record_batch.rs
  crates/viewer/re_space_view_spatial/src/ui.rs
  crates/viewer/re_space_view_spatial/src/visualizers/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/utilities/labels.rs
  crates/viewer/re_space_view_spatial/src/visualizers/utilities/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/videos.rs
  crates/viewer/re_ui/src/context_ext.rs
  crates/viewer/re_viewer_context/src/selection_state.rs
Labels: ui, 📺 re_viewer, include in changelog, 🧑‍🎨 Design

#8099 Improve `FrameInfo` handling
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/ffmpeg_h264/ffmpeg.rs
  crates/store/re_video/src/decode/mod.rs
  crates/store/re_video/src/decode/webcodecs.rs
  crates/store/re_video/src/demux/mod.rs
  crates/utils/re_log/src/setup.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_renderer/src/video/chunk_decoder.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_renderer/src/video/player.rs
  crates/viewer/re_ui/src/list_item/property_content.rs
Labels: 🧑‍💻 dev experience, exclude from changelog, 🎞️ video

#8094 Make old ffmpeg version a hard error
  Cargo.lock
  crates/store/re_video/Cargo.toml
  crates/store/re_video/src/decode/ffmpeg_h264/ffmpeg.rs
  crates/store/re_video/src/decode/ffmpeg_h264/mod.rs
  crates/store/re_video/src/decode/ffmpeg_h264/version.rs
  crates/store/re_video/src/decode/mod.rs
  crates/viewer/re_data_ui/Cargo.toml
  crates/viewer/re_data_ui/src/video.rs
Labels: 🪳 bug, exclude from changelog, 🎞️ video

#8102 Show all samples/frames in a video in a nice table
  crates/store/re_video/src/demux/mod.rs
  crates/viewer/re_data_ui/src/blob.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_renderer/src/video/player.rs
Labels: ui, include in changelog, 🎞️ video

#8105 Fix typo in "custom data" documentation
  docs/content/howto/logging/custom-data.md
Labels: 🪳 bug, 📖 documentation, exclude from changelog

#8075 Add an how-to guide for the map view
  docs/content/howto/visualization/geospatial-data.md
Labels: 📖 documentation, exclude from changelog, feat-map-view

#8107 Update roadmap for 0.20
  docs/content/development/roadmap.md
Labels: 📖 documentation, exclude from changelog

#8106 Comment out unfinished app-model docs
  docs/content/concepts/app-model.md
Labels: 📖 documentation, exclude from changelog

#8110 Don't shade `GeoPoint`s in the map view
  crates/viewer/re_renderer/src/point_cloud_builder.rs
  crates/viewer/re_renderer/src/renderer/point_cloud.rs
  crates/viewer/re_space_view_map/src/visualizers/geo_points.rs
Labels: enhancement, 🔺 re_renderer, exclude from changelog, feat-map-view

#8037 Add option to auto deploy to `docs-latest`
  .github/pull_request_template.md
  .github/workflows/auto_docs.yml
  .github/workflows/auto_docs_check.yml
Labels: 🧑‍💻 dev experience, exclude from changelog, :ship: CI, deploy docs

#8112 Calculate and show frame number
  crates/store/re_video/src/decode/av1.rs
  crates/store/re_video/src/decode/ffmpeg_h264/ffmpeg.rs
  crates/store/re_video/src/decode/mod.rs
  crates/store/re_video/src/decode/webcodecs.rs
  crates/store/re_video/src/demux/mod.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/viewer/re_data_ui/src/image.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_renderer/src/video/player.rs
Labels: 📺 re_viewer, include in changelog, 🎞️ video

#8117 Fix video on web sometimes not showing last few frames for some videos
  crates/store/re_video/src/decode/webcodecs.rs
Labels: 🪳 bug, 🕸️ web, include in changelog, 🎞️ video

#8115 Don't boost the outlined radius of `GeoPoint`s
  crates/viewer/re_space_view_map/src/visualizers/geo_points.rs
Labels: 🪳 bug, 🔺 re_renderer, exclude from changelog, feat-map-view

#8111 Fix issues with seeking in some H.264 videos on native & web
  Cargo.lock
  Cargo.toml
  crates/store/re_video/src/decode/webcodecs.rs
  crates/store/re_video/src/demux/mod.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/store/re_video/src/time.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_renderer/src/video/mod.rs
  crates/viewer/re_renderer/src/video/player.rs
Labels: 🪳 bug, 📺 re_viewer, include in changelog, 🎞️ video

#8119 Fix wrong cursor icon when hovering a context-menu in the time panel
  crates/viewer/re_time_panel/src/lib.rs
Labels: 📺 re_viewer, exclude from changelog

#8116 OSM example: Fewer log-lines and all static data
  examples/python/openstreetmap_data/openstreetmap_data.py
Labels: examples, exclude from changelog

#8118 Small video-related cleanups
  crates/store/re_types/src/archetypes/asset_video_ext.rs
  crates/store/re_video/src/decode/ffmpeg_h264/ffmpeg.rs
  crates/store/re_video/src/decode/ffmpeg_h264/sps.rs
  crates/viewer/re_renderer/src/video/player.rs
Labels: 🚜 refactor, exclude from changelog, 🎞️ video

#8120 Remember the last center position in the map view
  crates/viewer/re_space_view_map/src/map_space_view.rs
Labels: 🪳 bug, exclude from changelog, feat-map-view

#8121 Remove mentions that the map view is experimental
  crates/store/re_types/definitions/rerun/archetypes/geo_line_strings.fbs
  crates/store/re_types/definitions/rerun/archetypes/geo_points.fbs
  crates/store/re_types/definitions/rerun/blueprint/views/map.fbs
  crates/store/re_types/src/archetypes/geo_line_strings.rs
  crates/store/re_types/src/archetypes/geo_points.rs
  docs/content/howto/visualization/geospatial-data.md
  docs/content/reference/types/archetypes/geo_line_strings.md
  docs/content/reference/types/archetypes/geo_points.md
  docs/content/reference/types/views/map_view.md
  examples/python/openstreetmap_data/README.md
  rerun_cpp/src/rerun/archetypes/geo_line_strings.hpp
  rerun_cpp/src/rerun/archetypes/geo_points.hpp
  rerun_py/rerun_sdk/rerun/archetypes/geo_line_strings.py
  rerun_py/rerun_sdk/rerun/archetypes/geo_points.py
  rerun_py/rerun_sdk/rerun/blueprint/views/map_view.py
Labels: 📖 documentation, exclude from changelog, feat-map-view

#8128 Fix sentence in 0.20 migration guide
  docs/content/reference/migration/migration-0-20.md
Labels: 📖 documentation, exclude from changelog

#8127 Much nicer looking error and warning messages
  crates/viewer/re_data_ui/src/component.rs
  crates/viewer/re_data_ui/src/component_path.rs
  crates/viewer/re_data_ui/src/instance_path.rs
  crates/viewer/re_space_view_spatial/src/ui.rs
  crates/viewer/re_space_view_tensor/src/space_view_class.rs
  crates/viewer/re_ui/examples/re_ui_example/main.rs
  crates/viewer/re_ui/src/command.rs
  crates/viewer/re_ui/src/context_ext.rs
  crates/viewer/re_ui/src/design_tokens.rs
  crates/viewer/re_ui/src/toasts.rs
  crates/viewer/re_ui/src/ui_ext.rs
  crates/viewer/re_viewer/src/ui/settings_screen.rs
Labels: ui, 📺 re_viewer, include in changelog, 🧑‍🎨 Design

#8124 Support annotation context / classids for `GeoPoints`
  Cargo.lock
  crates/store/re_types/definitions/rerun/archetypes/geo_points.fbs
  crates/store/re_types/src/archetypes/geo_points.rs
  crates/viewer/re_space_view/Cargo.toml
  crates/viewer/re_space_view/src/annotation_context_utils.rs
  crates/viewer/re_space_view/src/annotation_scene_context.rs
  crates/viewer/re_space_view/src/lib.rs
  crates/viewer/re_space_view_map/Cargo.toml
  crates/viewer/re_space_view_map/src/map_space_view.rs
  crates/viewer/re_space_view_map/src/visualizers/geo_points.rs
  crates/viewer/re_space_view_spatial/src/contexts/mod.rs
  crates/viewer/re_space_view_spatial/src/picking_ui.rs
  crates/viewer/re_space_view_spatial/src/picking_ui_pixel.rs
  crates/viewer/re_space_view_spatial/src/visualizers/arrows2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/arrows3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/boxes2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/boxes3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/capsules3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/ellipsoids.rs
  crates/viewer/re_space_view_spatial/src/visualizers/lines2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/lines3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/mod.rs
  crates/viewer/re_space_view_spatial/src/visualizers/points2d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/points3d.rs
  crates/viewer/re_space_view_spatial/src/visualizers/utilities/entity_iterator.rs
  crates/viewer/re_space_view_spatial/src/visualizers/utilities/proc_mesh_vis.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
  docs/content/reference/types/archetypes/geo_points.md
  docs/content/reference/types/components/class_id.md
  rerun_cpp/src/rerun/archetypes/geo_points.cpp
  rerun_cpp/src/rerun/archetypes/geo_points.hpp
  rerun_py/rerun_sdk/rerun/archetypes/geo_points.py
Labels: exclude from changelog, feat-map-view

#8130 Improve NuScenes example with more geo data & blueprint
  examples/python/nuscenes_dataset/README.md
  examples/python/nuscenes_dataset/nuscenes_dataset/__main__.py
  examples/python/nuscenes_dataset/nuscenes_dataset/download_dataset.py
Labels: examples, include in changelog

#8081 0.20 changelog
  CHANGELOG.md
Labels: ⛴ release, exclude from changelog

#8136 Update opf links
  examples/python/open_photogrammetry_format/open_photogrammetry_format.py
Labels: examples, exclude from changelog

#8133 Update env var documentation in `rerun --help`
  crates/top/rerun/src/commands/entrypoint.rs
Labels: exclude from changelog, CLI

#8139 gRPC spec update - common application level error
  crates/store/re_protos/proto/rerun/v0/common.proto
  crates/store/re_protos/proto/rerun/v0/remote_store.proto
  crates/store/re_protos/src/lib.rs
  crates/store/re_protos/src/v0/rerun.remote_store.v0.rs
Labels: exclude from changelog, remote-store

#8137 Show data density graph in collapsed time panel
  crates/viewer/re_time_panel/src/lib.rs
Labels: 📺 re_viewer, include in changelog

#8142 Show the root entity "/" in the streams panel
  crates/viewer/re_time_panel/src/lib.rs
Labels: 📺 re_viewer, include in changelog

#8143 Hide tooltip for data density graph of collapsed time panel
  crates/viewer/re_data_ui/src/instance_path.rs
  crates/viewer/re_time_panel/src/data_density_graph.rs
  crates/viewer/re_time_panel/src/lib.rs
Labels: 🪳 bug, exclude from changelog

#8144 Deprecate `--serve`, add `--serve-web`
  crates/top/rerun/src/commands/entrypoint.rs
Labels: include in changelog, CLI

#8145 Let the WebSocket server serve its data even without the web-viewer feature
  crates/store/re_ws_comms/src/server.rs
  crates/top/rerun/src/commands/entrypoint.rs
Labels: 🪳 bug, 😤 annoying, exclude from changelog, CLI

#8151 Never direct users towards using `rr.log_components`
  crates/store/re_query/tests/latest_at.rs
  crates/store/re_query/tests/range.rs
  docs/content/getting-started/data-out/analyze-and-send.md
  docs/snippets/all/archetypes/mesh3d_partial_updates.py
  docs/snippets/all/concepts/different_data_per_timeline.py
  docs/snippets/all/tutorials/data_out.py
  examples/python/drone_lidar/drone_lidar.py
  examples/python/incremental_logging/incremental_logging.py
  examples/python/openstreetmap_data/openstreetmap_data.py
  rerun_py/docs/gen_common_index.py
  rerun_py/rerun_sdk/rerun/_log.py
  rerun_py/rerun_sdk/rerun/recording_stream.py
  tests/python/chunk_zoo/chunk_zoo.py
  tests/python/release_checklist/check_all_components_ui.py
  tests/python/release_checklist/check_latest_at_partial_updates.py
  tests/python/release_checklist/check_range_partial_updates.py
Labels: enhancement, 🐍 Python API, include in changelog

#8150 Better clarify use of FFmpeg in video docs
  docs/content/reference/video.md
Labels: 📖 documentation, exclude from changelog, deploy docs

#8152 Fix some anchor links in docs
  docs/content/concepts/app-model.md
  docs/content/concepts/blueprint.md
  docs/content/getting-started/navigating-the-viewer.md
  docs/content/reference/video.md
  docs/content/reference/viewer/blueprint.md
Labels: 📖 documentation, exclude from changelog, deploy docs

#8149 Never direct users towards using `RecordingStream::log_component_batches`
  crates/store/re_types_core/src/lib.rs
  docs/snippets/all/archetypes/image_send_columns.rs
  docs/snippets/all/archetypes/manual_indicator.rs
  docs/snippets/all/archetypes/mesh3d_partial_updates.rs
  docs/snippets/all/concepts/different_data_per_timeline.rs
  examples/rust/incremental_logging/src/main.rs
Labels: enhancement, 🦀 Rust API, 🧑‍💻 dev experience, include in changelog

#7701 Use `log_static()` for constant data in DNA example.
  examples/cpp/dna/main.cpp
  examples/python/dna/dna.py
  examples/rust/dna/src/main.rs
Labels: examples, exclude from changelog

#8157 Publishable `re_protos_builder`
  crates/build/re_protos_builder/Cargo.toml
  crates/build/re_protos_builder/README.md
  pixi.toml
Labels: ⛴ release, exclude from changelog

#8158 Pin to cargo deny 0.16.1 to avoid MSRV issue
  scripts/ci/rust_checks.py
Labels: exclude from changelog, :ship: CI

#8169 Views now advertise if they support the visible time range feature
  Cargo.lock
  crates/viewer/re_selection_panel/Cargo.toml
  crates/viewer/re_selection_panel/src/selection_panel.rs
  crates/viewer/re_selection_panel/src/visible_time_range_ui.rs
  crates/viewer/re_space_view_map/src/map_space_view.rs
  crates/viewer/re_space_view_spatial/src/view_2d.rs
  crates/viewer/re_space_view_spatial/src/view_3d.rs
  crates/viewer/re_space_view_time_series/src/space_view_class.rs
  crates/viewer/re_viewer_context/src/space_view/space_view_class.rs
Labels: 🚜 refactor, exclude from changelog

#8168 Fix doc build - run `cargo metadata` with `--offline` & `--no-deps`
  crates/build/re_build_tools/src/lib.rs
Labels: 🪳 bug, 📖 documentation, 🦀 Rust API, include in changelog

#8155 Improve error messages for Tensor and Text Document views
  crates/viewer/re_chunk_store_ui/src/arrow_ui.rs
  crates/viewer/re_chunk_store_ui/src/chunk_ui.rs
  crates/viewer/re_data_ui/src/component.rs
  crates/viewer/re_data_ui/src/component_path.rs
  crates/viewer/re_data_ui/src/instance_path.rs
  crates/viewer/re_data_ui/src/video.rs
  crates/viewer/re_space_view_dataframe/src/display_record_batch.rs
  crates/viewer/re_space_view_spatial/src/picking_ui_pixel.rs
  crates/viewer/re_space_view_tensor/src/space_view_class.rs
  crates/viewer/re_space_view_text_document/src/space_view_class.rs
  crates/viewer/re_ui/src/ui_ext.rs
  crates/viewer/re_viewer/src/ui/settings_screen.rs
  crates/viewer/re_viewer_context/src/component_ui_registry.rs
Labels: enhancement, ui, exclude from changelog

#8183 Update egui to latest, update wgpu to 23.0.0
  Cargo.lock
  Cargo.toml
  crates/viewer/re_renderer/src/error_handling/wgpu_core_error.rs
  crates/viewer/re_renderer/src/wgpu_resources/bind_group_pool.rs
  crates/viewer/re_renderer/src/wgpu_resources/render_pipeline_pool.rs
  crates/viewer/re_ui/src/design_tokens.rs
  crates/viewer/re_viewer/Cargo.toml
  crates/viewer/re_viewer/src/lib.rs
  deny.toml
Labels: 🔺 re_renderer, dependencies, include in changelog

#8188 Tweak profiling scopes
  crates/store/re_chunk_store/src/writes.rs
  crates/store/re_entity_db/src/entity_db.rs
  crates/store/re_entity_db/src/entity_tree.rs
Labels: 📺 re_viewer, 📉 performance, exclude from changelog

#8193 Add Release 0.20.1 to changelog
  CHANGELOG.md
Labels: ⛴ release, exclude from changelog

#8196 Fix broken link
  examples/python/open_photogrammetry_format/open_photogrammetry_format.py
Labels: exclude from changelog, :ship: CI

#8197 Add arrow(1)-interface on top of `Loggable` and `ArrowBuffer`
  Cargo.lock
  crates/store/re_chunk/src/batcher.rs
  crates/store/re_chunk/src/builder.rs
  crates/store/re_chunk/src/chunk.rs
  crates/store/re_chunk/src/helpers.rs
  crates/store/re_chunk/src/iter.rs
  crates/store/re_chunk/src/latest_at.rs
  crates/store/re_chunk/src/lib.rs
  crates/store/re_chunk/src/merge.rs
  crates/store/re_chunk/src/shuffle.rs
  crates/store/re_chunk/src/slice.rs
  crates/store/re_chunk/src/transport.rs
  crates/store/re_chunk/src/util.rs
  crates/store/re_chunk/tests/latest_at.rs
  crates/store/re_chunk/tests/memory_test.rs
  crates/store/re_chunk/tests/range.rs
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_chunk_store/src/store.rs
  crates/store/re_chunk_store/src/writes.rs
  crates/store/re_chunk_store/tests/gc.rs
  crates/store/re_chunk_store/tests/reads.rs
  crates/store/re_data_loader/src/loader_archetype.rs
  crates/store/re_dataframe/src/lib.rs
  crates/store/re_dataframe/src/query.rs
  crates/store/re_log_types/src/arrow_msg.rs
  crates/store/re_protos/src/codec.rs
  crates/store/re_query/examples/latest_at.rs
  crates/store/re_query/src/latest_at.rs
  crates/store/re_types_core/Cargo.toml
  crates/store/re_types_core/src/arrow_buffer.rs
  crates/store/re_types_core/src/loggable.rs
  crates/store/re_types_core/src/loggable_batch.rs
  crates/top/re_sdk/src/recording_stream.rs
  crates/top/rerun/src/commands/rrd/filter.rs
  crates/top/rerun_c/src/arrow_utils.rs
  crates/viewer/re_chunk_store_ui/src/chunk_ui.rs
  crates/viewer/re_selection_panel/src/visualizer_ui.rs
  crates/viewer/re_space_view/src/query.rs
  crates/viewer/re_space_view/src/results_ext.rs
  crates/viewer/re_space_view/src/view_property_ui.rs
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_space_view_dataframe/src/display_record_batch.rs
  crates/viewer/re_space_view_time_series/src/line_visualizer_system.rs
  crates/viewer/re_space_view_time_series/src/point_visualizer_system.rs
  crates/viewer/re_viewer_context/src/blueprint_helpers.rs
  crates/viewer/re_viewer_context/src/component_ui_registry.rs
  crates/viewer/re_viewer_context/src/space_view/view_context.rs
  crates/viewer/re_viewer_context/src/viewer_context.rs
  rerun_py/src/python_bridge.rs
  rerun_py/src/remote.rs
Labels: 🏹 arrow, 🚜 refactor, include in changelog

#8199 Update `re_arrow2` to a version using `half::f16`
  Cargo.lock
  Cargo.toml
  crates/build/re_types_builder/src/codegen/rust/api.rs
  crates/store/re_types/src/datatypes/tensor_buffer.rs
  crates/store/re_types/src/datatypes/tensor_data_ext.rs
  crates/store/re_types/src/tensor_data.rs
  crates/store/re_types/src/testing/datatypes/affix_fuzzer21.rs
  crates/store/re_types/tests/types/fuzzy.rs
  crates/store/re_types_core/Cargo.toml
  crates/store/re_types_core/src/size_bytes.rs
Labels: 🦀 Rust API, 🚜 refactor, exclude from changelog

#8163 Make it possible to log custom components using `rr.send_columns`
  docs/content/howto/logging/send-columns.md
  docs/snippets/all/howto/any_batch_value_send_columns.py
  docs/snippets/all/howto/any_values_send_columns.py
  docs/snippets/snippets.toml
  rerun_py/docs/gen_common_index.py
  rerun_py/rerun_sdk/rerun/__init__.py
  rerun_py/rerun_sdk/rerun/_send_columns.py
  rerun_py/rerun_sdk/rerun/any_value.py
Labels: enhancement, 🐍 Python API, include in changelog

#8205 Update contributing.md
  CONTRIBUTING.md
Labels: 🧑‍💻 dev experience, exclude from changelog

#8200 Do not re-hash interned hashes in non-IntMap contexts
  crates/utils/re_string_interner/src/lib.rs
Labels: 🪳 bug, 📉 performance, exclude from changelog

#8203 Remove dead code: `Hash128`
  crates/store/re_log_types/src/hash.rs
Labels: 🚜 refactor, exclude from changelog

#8216 Update rustls v0.23.16 -> v0.23.18
  Cargo.lock
Labels: dependencies, exclude from changelog, :ship: CI

#8201 Use `arrow-rs` in `ArrowBuffer`
  Cargo.lock
  crates/store/re_chunk/Cargo.toml
  crates/store/re_chunk/src/iter.rs
  crates/store/re_types_core/Cargo.toml
  crates/store/re_types_core/src/arrow_buffer.rs
  crates/viewer/re_space_view/Cargo.toml
  crates/viewer/re_space_view/src/results_ext.rs
  crates/viewer/re_space_view_spatial/Cargo.toml
  crates/viewer/re_space_view_spatial/src/visualizers/utilities/entity_iterator.rs
Labels: 🦀 Rust API, 🚜 refactor, exclude from changelog

#8218 Update wgpu to 23.0.1
  Cargo.lock
Labels: dependencies, exclude from changelog

#8207 Clean up pass over all superfluous hashing happening on the query path
  Cargo.lock
  crates/store/re_chunk/src/batcher.rs
  crates/store/re_chunk/src/builder.rs
  crates/store/re_chunk/src/chunk.rs
  crates/store/re_chunk/src/lib.rs
  crates/store/re_chunk/src/merge.rs
  crates/store/re_chunk/src/transport.rs
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_chunk_store/src/gc.rs
  crates/store/re_chunk_store/src/query.rs
  crates/store/re_chunk_store/src/store.rs
  crates/store/re_chunk_store/tests/reads.rs
  crates/store/re_chunk_store/tests/snapshots/memory_test__scalars_on_one_timeline_new.snap
  crates/store/re_dataframe/examples/query.rs
  crates/store/re_dataframe/src/engine.rs
  crates/store/re_dataframe/src/query.rs
  crates/store/re_types_core/src/lib.rs
  crates/store/re_types_core/src/loggable.rs
  crates/top/re_sdk/Cargo.toml
  crates/top/re_sdk/src/lib.rs
  crates/top/re_sdk/src/recording_stream.rs
  crates/top/rerun_c/src/lib.rs
  crates/viewer/re_chunk_store_ui/src/chunk_list_mode.rs
  crates/viewer/re_chunk_store_ui/src/chunk_store_ui.rs
  crates/viewer/re_selection_panel/src/defaults_ui.rs
  crates/viewer/re_space_view_dataframe/src/view_query/ui.rs
  examples/rust/dataframe_query/src/main.rs
  examples/rust/extend_viewer_ui/src/main.rs
  rerun_py/src/arrow.rs
  rerun_py/src/dataframe.rs
Labels: ⛃ re_datastore, 🔍 re_query, 📉 performance, include in changelog

#8184 Lint and fix python SDK `(Py)RecordingStream` upcasting issues
  docs/snippets/all/concepts/explicit_recording.py
  docs/snippets/snippets.toml
  rerun_notebook/package-lock.json
  rerun_py/rerun_sdk/rerun/_log.py
  rerun_py/rerun_sdk/rerun/_send_columns.py
  rerun_py/rerun_sdk/rerun/error_utils.py
  rerun_py/rerun_sdk/rerun/legacy_notebook.py
  rerun_py/rerun_sdk/rerun/memory.py
  rerun_py/rerun_sdk/rerun/notebook.py
  rerun_py/rerun_sdk/rerun/recording_stream.py
  rerun_py/rerun_sdk/rerun/sinks.py
  rerun_py/rerun_sdk/rerun/time.py
  scripts/lint.py
  tests/python/gil_stress/main.py
Labels: 🪳 bug, 🐍 Python API, include in changelog

#8219 Update cargo-deny exceptions
  deny.toml
Labels: 🔨 testing, exclude from changelog

#8210 Introduce `RecordingUri` component
  Cargo.lock
  crates/store/re_log_types/src/lib.rs
  crates/store/re_types/definitions/rerun/components.fbs
  crates/store/re_types/definitions/rerun/components/recording_uri.fbs
  crates/store/re_types/src/components/.gitattributes
  crates/store/re_types/src/components/mod.rs
  crates/store/re_types/src/components/recording_uri.rs
  crates/store/re_types/src/components/recording_uri_ext.rs
  crates/viewer/re_component_ui/Cargo.toml
  crates/viewer/re_component_ui/src/lib.rs
  crates/viewer/re_component_ui/src/recording_uri.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
  crates/viewer/re_viewer/src/viewer_analytics/event.rs
  docs/content/reference/types/components.md
  docs/content/reference/types/components/.gitattributes
  docs/content/reference/types/components/recording_uri.md
  docs/content/reference/types/datatypes/utf8.md
  lychee.toml
  rerun_cpp/src/rerun/components.hpp
  rerun_cpp/src/rerun/components/.gitattributes
  rerun_cpp/src/rerun/components/recording_uri.hpp
  rerun_py/rerun_sdk/rerun/components/.gitattributes
  rerun_py/rerun_sdk/rerun/components/__init__.py
  rerun_py/rerun_sdk/rerun/components/recording_uri.py
  tests/python/release_checklist/check_all_components_ui.py
Labels: ui, exclude from changelog, 🔩 data model, dataplatform

#8217 Remove hack for setting `ExternalImageSource::VideoFrame` in wasm video processing
  Cargo.lock
  Cargo.toml
  crates/viewer/re_renderer/Cargo.toml
  crates/viewer/re_renderer/src/video/chunk_decoder.rs
  crates/viewer/re_renderer/src/video/mod.rs
Labels: 🚜 refactor, exclude from changelog

#8225 Build npm package with `map_view,grpc` features
  .github/workflows/on_pull_request.yml
  rerun_js/web-viewer/build-wasm.mjs
Labels: 🕸️ web, exclude from changelog

#8223 Introduce APIs for list_recordings and update_metadata
  Cargo.lock
  examples/python/remote/metadata.py
  pixi.lock
  pixi.toml
  rerun_py/Cargo.toml
  rerun_py/rerun_bindings/rerun_bindings.pyi
  rerun_py/rerun_bindings/types.py
  rerun_py/rerun_sdk/rerun/remote.py
  rerun_py/src/dataframe.rs
  rerun_py/src/remote.rs
  scripts/ci/python_check_signatures.py
Labels: 🐍 Python API, exclude from changelog

#8228 Fix a drag-and-drop display regression
  crates/viewer/re_ui/src/list_item/list_item.rs
Labels: ui, 🦟 regression, include in changelog

#5449 Add a new "Air Traffic Data" example
  .typos.toml
  examples/manifest.toml
  examples/python/air_traffic_data/.gitignore
  examples/python/air_traffic_data/README.md
  examples/python/air_traffic_data/air_traffic_data.py
  examples/python/air_traffic_data/pyproject.toml
  pixi.lock
  pixi.toml
  rerun_py/rerun_sdk/rerun/_send_columns.py
Labels: examples, include in changelog

#8232 Update documentation regarding example channels
  examples/README.md
Labels: 📖 documentation, 🧑‍💻 dev experience, exclude from changelog

#8224 Improve performance of time panel
  Cargo.lock
  crates/store/re_chunk/src/chunk.rs
  crates/store/re_chunk_store/src/events.rs
  crates/store/re_chunk_store/src/lib.rs
  crates/store/re_chunk_store/src/query.rs
  crates/store/re_chunk_store/src/writes.rs
  crates/store/re_query/src/cache.rs
  crates/viewer/re_space_view_spatial/src/transform_component_tracker.rs
  crates/viewer/re_time_panel/Cargo.toml
  crates/viewer/re_time_panel/src/data_density_graph.rs
  crates/viewer/re_time_panel/src/lib.rs
  crates/viewer/re_time_panel/src/recursive_chunks_per_timeline_subscriber.rs
Labels: 📉 performance, include in changelog

#8236 Only build Air Traffic example RRDs during nightly
  examples/python/air_traffic_data/README.md
Labels: 🧑‍💻 dev experience, 📉 performance, examples, exclude from changelog, :ship: CI

#8230 World grid part 1/2: add world grid renderer to `re_renderer`
  crates/viewer/re_renderer/shader/screen_triangle.wgsl
  crates/viewer/re_renderer/shader/screen_triangle_vertex.wgsl
  crates/viewer/re_renderer/shader/utils/interpolation.wgsl
  crates/viewer/re_renderer/shader/utils/plane.wgsl
  crates/viewer/re_renderer/shader/world_grid.wgsl
  crates/viewer/re_renderer/src/draw_phases/mod.rs
  crates/viewer/re_renderer/src/renderer/mod.rs
  crates/viewer/re_renderer/src/renderer/world_grid.rs
  crates/viewer/re_renderer/src/view_builder.rs
  crates/viewer/re_renderer/src/workspace_shaders.rs
  crates/viewer/re_renderer_examples/2d.rs
  crates/viewer/re_renderer_examples/Cargo.toml
  crates/viewer/re_renderer_examples/depth_cloud.rs
  crates/viewer/re_renderer_examples/depth_offset.rs
  crates/viewer/re_renderer_examples/framework.rs
  crates/viewer/re_renderer_examples/multiview.rs
  crates/viewer/re_renderer_examples/outlines.rs
  crates/viewer/re_renderer_examples/picking.rs
  crates/viewer/re_renderer_examples/world_grid.rs
Labels: 🔺 re_renderer, 📺 re_viewer, include in changelog

#8239 Gracefully handle `cargo-metadata` failures in users' environments
  crates/build/re_build_tools/src/lib.rs
Labels: 🧑‍💻 dev experience, 😤 annoying, dependencies, include in changelog, :ship: CI

#8246 Cherry-pick 0.20.2's changelog
  CHANGELOG.md
Labels: 📖 documentation, ⛴ release, exclude from changelog

#8182 Introduce kittest for automated UI testing and git-lfs for UI snapshot handling
  .gitattributes
  .github/workflows/reusable_checks_rust.yml
  .gitignore
  BUILD.md
  Cargo.lock
  Cargo.toml
  crates/viewer/re_selection_panel/src/lib.rs
  crates/viewer/re_space_view_dataframe/src/view_query/blueprint.rs
  crates/viewer/re_time_panel/Cargo.toml
  crates/viewer/re_time_panel/src/lib.rs
  crates/viewer/re_time_panel/tests/snapshots/time_panel_dense_data.png
  crates/viewer/re_time_panel/tests/snapshots/time_panel_two_sections.png
  crates/viewer/re_time_panel/tests/time_panel_tests.rs
  crates/viewer/re_viewer_context/src/test_context.rs
  crates/viewer/re_viewport_blueprint/src/space_view.rs
  scripts/ci/check_large_files.py
  scripts/ci/check_large_files_allow_list.txt
Labels: 🔨 testing, ui, exclude from changelog

#8244 Fix a bunch of 1.83.0 clippy stuff
  crates/build/re_dev_tools/src/build_search_index/ingest/cpp.rs
  crates/build/re_types_builder/src/codegen/common.rs
  crates/build/re_types_builder/src/codegen/docs/arrow_datatype.rs
  crates/build/re_types_builder/src/codegen/python/mod.rs
  crates/build/re_types_builder/src/codegen/python/views.rs
  crates/store/re_chunk/src/transport.rs
  crates/store/re_chunk_store/src/dataframe.rs
  crates/store/re_dataframe/src/query.rs
  crates/store/re_format_arrow/src/lib.rs
  crates/store/re_log_types/src/path/parse_path.rs
  crates/store/re_log_types/src/time_point/non_min_i64.rs
  crates/store/re_types/src/components/media_type_ext.rs
  crates/store/re_types_core/src/loggable_batch.rs
  crates/store/re_types_core/src/view.rs
  crates/store/re_video/src/demux/mp4.rs
  crates/top/rerun/src/commands/entrypoint.rs
  crates/utils/re_crash_handler/src/lib.rs
  crates/utils/re_int_histogram/src/tree.rs
  crates/utils/re_memory/src/backtrace_native.rs
  crates/utils/re_smart_channel/src/receiver.rs
  crates/utils/re_tuid/src/lib.rs
  crates/viewer/re_chunk_store_ui/src/arrow_ui.rs
  crates/viewer/re_component_ui/src/fallback_ui.rs
  crates/viewer/re_data_ui/src/component.rs
  crates/viewer/re_renderer/src/line_drawable_builder.rs
  crates/viewer/re_renderer/src/point_cloud_builder.rs
  crates/viewer/re_renderer/src/renderer/test_triangle.rs
  crates/viewer/re_renderer/src/resource_managers/image_data_to_texture.rs
  crates/viewer/re_renderer/src/wgpu_resources/static_resource_pool.rs
  crates/viewer/re_space_view/src/results_ext.rs
  crates/viewer/re_space_view_dataframe/src/dataframe_ui.rs
  crates/viewer/re_space_view_graph/src/ui/scene.rs
  crates/viewer/re_space_view_spatial/src/picking_ui_pixel.rs
  crates/viewer/re_space_view_spatial/src/visualizers/transform3d_arrows.rs
  crates/viewer/re_viewer/src/app_blueprint.rs
  crates/viewer/re_viewer_context/src/annotations.rs
  crates/viewer/re_viewer_context/src/file_dialog.rs
  crates/viewer/re_viewer_context/src/gpu_bridge/image_to_gpu.rs
  crates/viewer/re_viewer_context/src/maybe_mut_ref.rs
  crates/viewer/re_viewer_context/src/query_context.rs
  crates/viewer/re_viewer_context/src/space_view/highlights.rs
  crates/viewer/re_viewer_context/src/space_view/view_query.rs
  crates/viewer/re_viewer_context/src/viewer_context.rs
  crates/viewer/re_viewport/src/viewport.rs
  crates/viewer/re_viewport_blueprint/src/space_view_contents.rs
  rerun_py/src/dataframe.rs
Labels: 🧑‍💻 dev experience, 🚜 refactor, exclude from changelog

#8241 Refactor convoluted `ViewportBlueprint` logic
  Cargo.lock
  crates/store/re_types/definitions/rerun/blueprint/components.fbs
  crates/store/re_types/definitions/rerun/blueprint/components/included_space_view.fbs
  crates/store/re_types_blueprint/src/blueprint/components/.gitattributes
  crates/store/re_types_blueprint/src/blueprint/components/included_space_view.rs
  crates/store/re_types_blueprint/src/blueprint/components/mod.rs
  crates/viewer/re_blueprint_tree/src/blueprint_tree.rs
  crates/viewer/re_component_ui/src/lib.rs
  crates/viewer/re_context_menu/src/actions/add_entities_to_new_space_view.rs
  crates/viewer/re_context_menu/src/actions/add_space_view.rs
  crates/viewer/re_selection_panel/src/lib.rs
  crates/viewer/re_selection_panel/src/selection_history_ui.rs
  crates/viewer/re_selection_panel/src/selection_panel.rs
  crates/viewer/re_selection_panel/src/space_view_entity_picker.rs
  crates/viewer/re_time_panel/tests/time_panel_tests.rs
  crates/viewer/re_viewer/src/app.rs
  crates/viewer/re_viewer/src/app_state.rs
  crates/viewer/re_viewer/src/blueprint/validation_gen/mod.rs
  crates/viewer/re_viewer/src/reflection/mod.rs
  crates/viewer/re_viewport/Cargo.toml
  crates/viewer/re_viewport/src/lib.rs
  crates/viewer/re_viewport/src/viewport_ui.rs
  crates/viewer/re_viewport_blueprint/src/container.rs
  crates/viewer/re_viewport_blueprint/src/lib.rs
  crates/viewer/re_viewport_blueprint/src/space_view.rs
  crates/viewer/re_viewport_blueprint/src/space_view_contents.rs
  crates/viewer/re_viewport_blueprint/src/ui/add_space_view_or_container_modal.rs
  crates/viewer/re_viewport_blueprint/src/ui/mod.rs
  crates/viewer/re_viewport_blueprint/src/viewport_blueprint.rs
  crates/viewer/re_viewport_blueprint/src/viewport_command.rs
  examples/rust/graph_binary_tree/Cargo.toml
  examples/rust/graph_lattice/Cargo.toml
  rerun_cpp/src/rerun/blueprint/components.hpp
  rerun_cpp/src/rerun/blueprint/components/.gitattributes
  rerun_cpp/src/rerun/blueprint/components/included_space_view.hpp
  rerun_py/rerun_sdk/rerun/blueprint/components/.gitattributes
  rerun_py/rerun_sdk/rerun/blueprint/components/__init__.py
  rerun_py/rerun_sdk/rerun/blueprint/components/included_space_view.py
Labels: 📺 re_viewer, 🚜 refactor, exclude from changelog

#8248 Add a snapshot test for list items
  Cargo.lock
  crates/viewer/re_ui/Cargo.toml
  crates/viewer/re_ui/tests/list_item_tests.rs
  crates/viewer/re_ui/tests/snapshots/list_items.png
Labels: 🔨 testing, ui, exclude from changelog

#8253 Fix typo: 'Compponents'
  crates/build/re_types_builder/src/codegen/docs/mod.rs
  docs/content/reference/types/archetypes.md
Labels: 📖 documentation, exclude from changelog

#8227 Simplify graph viewer rendering logic
  Cargo.lock
  crates/viewer/re_space_view_graph/Cargo.toml
  crates/viewer/re_space_view_graph/src/graph/index.rs
  crates/viewer/re_space_view_graph/src/graph/mod.rs
  crates/viewer/re_space_view_graph/src/layout/mod.rs
  crates/viewer/re_space_view_graph/src/layout/provider.rs
  crates/viewer/re_space_view_graph/src/layout/request.rs
  crates/viewer/re_space_view_graph/src/layout/result.rs
  crates/viewer/re_space_view_graph/src/ui/draw.rs
  crates/viewer/re_space_view_graph/src/ui/draw/edge.rs
  crates/viewer/re_space_view_graph/src/ui/draw/entity.rs
  crates/viewer/re_space_view_graph/src/ui/draw/mod.rs
  crates/viewer/re_space_view_graph/src/ui/draw/node.rs
  crates/viewer/re_space_view_graph/src/ui/mod.rs
  crates/viewer/re_space_view_graph/src/ui/scene.rs
  crates/viewer/re_space_view_graph/src/ui/state.rs
  crates/viewer/re_space_view_graph/src/view.rs
  crates/viewer/re_space_view_graph/src/visualizers/edges.rs
  crates/viewer/re_space_view_graph/src/visualizers/mod.rs
  crates/viewer/re_space_view_graph/src/visualizers/nodes.rs
  crates/viewer/re_ui/src/lib.rs
  crates/viewer/re_ui/src/zoom_pan_area.rs
  tests/python/release_checklist/check_graph_view.py
Labels: exclude from changelog
